[2022-04-01 21:38] d4rkr3pt0r commented on #290
@TiagoSilvaPereira Actually it happens in random delays. Even when I don't work with the application and it's minimized in the taskbar. Sometimes the error shows multiple times per minute. I don't know what's the problem.

[2022-04-03 12:51] luttje opened #291 "laravel-ui templates encode input value attribute twice"
**Describe the bug**
When using special html characters in input, the laravel-ui templates in Vemto encode edit fields twice (once on the resource page using blade {{ and }} and once in the `components/inputs/basic.blade.php`).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project which has at least one CRUD resource with a string input field
2. Generate it using the laravel-ui bl

[2022-04-04 12:18] TiagoSilvaPereira commented on #291
Hi @luttje thank you for reporting, I'll check it asap

[2022-04-04 13:36] TiagoSilvaPereira commented on #290
@d4rkr3pt0r that is strange, I have never seen this before. Is it possible to send a video showing it happening?

[2022-04-05 01:11] precamp-io opened #294 "I just got this error trying to add a new CRUD"
[code]

---

vemto 1.1.2
Electron 8.5.5
win32 10.0.22000
Locale: en-US

[2022-04-05 12:21] TiagoSilvaPereira commented on #294
Hi @precamp-io could you please share the project .vemto file and what CRUD you are trying to add, so I can reproduce it here?

[2022-04-05 13:27] precamp-io commented on #294
I am still new to the program can you tell me where to go to get this for you?On 5 Apr 2022 13:21, "Tiago S. P. Rodrigues" ***@***.***> wrote:
Hi @precamp-io could you please share the project .vemto file and what CRUD you are trying to add, so I can reproduce it here?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: **

[2022-04-05 13:29] precamp-io commented on #294
Glitches happen, all good thanks trying anywaysOn 5 Apr 2022 13:21, "Tiago S. P. Rodrigues" ***@***.***> wrote:
Hi @precamp-io could you please share the project .vemto file and what CRUD you are trying to add, so I can reproduce it here?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-04-05 14:04] TiagoSilvaPereira commented on #294
Hi  @precamp-io you can export it from the Home Page

[2022-04-07 05:00] precamp-io opened #295 "There seems to be a issue with the language file"
This is typically one example of the titles crud.campaign_boards_cards.index_title that's not displaying. Its typically on most pages like this

In the lang/crud.php

    'campaign_boards' => [
        'name' => 'Campaign Boards',
        'index_title' => 'CampaignBoards List',
        'new_title' => 'New Campaign board',
        'create_title' => 'Create CampaignBoard',
        'edit_title' => 'E

[2022-04-07 12:04] TiagoSilvaPereira commented on #295
Hi @precamp-io I'm not sure I understand the problem... could you please share the project?

[2022-04-07 12:05] TiagoSilvaPereira commented on #294
Hi @TiagoSilvaPereira I can't access the file here... could you please send a link with the file?

[2022-04-07 12:57] precamp-io commented on #294
Yes sure https://www.precamp.io/uploads/precamp_vemto.zip

From: Tiago S. P. Rodrigues ***@***.***>
Sent: 07 April 2022 13:06
To: TiagoSilvaPereira/vemto-issues ***@***.***>
Cc: precamp-io ***@***.***>; Mention ***@***.***>
Subject: Re: [TiagoSilvaPereira/vemto-issues] I just got this error trying to add a new CRUD (Issue #294)

Hi @TiagoSilvaPereira <https://github.com/TiagoSilvaPereira>  I can't

[2022-04-07 13:32] TiagoSilvaPereira commented on #295
Hi @precamp-io I checked your project here and it correctly generated the translations. Please check if you generated the code again after adding a new CRUD, and if there is no cache issues (not related to Vemto, but with Laravel):

![image](https://user-images.githubusercontent.com/11933789/162210544-5e60e957-71d0-4cbf-a359-8aeb03f537f7.png)

[2022-04-07 13:32] #295 closed

[2022-04-07 13:53] TiagoSilvaPereira commented on #294
Hi @precamp-io I found that the problem is happening due to some problems with your Schema modeling (for future versions I'll add a way to avoid it happening).

But let me give you some tips so you can take your project running:

1 - You are adding Foreign Keys with incorrect types. If a foreign key references a **bigIncrements**, it needs to be an **Unsigned bigInteger**.  **I recommend using rel

[2022-04-07 13:53] #294 closed

[2022-04-08 20:18] Benoit1980 opened #296 "Bottom right green popup on Delete only showing on the first delete"
Vemto 1.1.2 and 1.1.3
Windows 10

I have noticed that when you delete an item in any of the generated CRUDs, the bottom right green "success"  popup will only show on the first deletion.

[2022-04-16 19:21] martin-masterclass opened #297 "Problem?"
[code]

---

vemto 1.1.2
Electron 8.5.5
darwin 21.4.0
Locale: de

[2022-04-18 12:41] TiagoSilvaPereira commented on #297
Hi @martin-masterclass could you please send some screenshots or a small video showing this happening? I could not reproduce it here

[2022-04-18 12:47] martin-masterclass commented on #297
Ok Tiago, sorry next time I do that. You can delete this issue for now. It
did not happen again. Still testing Vemto. Regards.

On Mon, 18 Apr 2022 at 14:41, Tiago S. P. Rodrigues <
***@***.***> wrote:

[2022-04-18 13:20] #297 closed

[2022-04-18 14:10] martin-masterclass opened #298 "Questionmark Tips do not work on Mac"
<img width="775" alt="image" src="https://user-images.githubusercontent.com/64164118/163820165-c738b994-4e74-4f82-9171-a0b4c2c995d1.png">

[2022-04-18 15:18] martin-masterclass opened #299 "Missing field "two factor secret" in Jetstream installation"
Hi Tiago, I just created a Jetstream Installation with only an User app.
When I click on "Profile" then I get an error because a field is missing in users table. Regards, Martin

<img width="270" alt="image" src="https://user-images.githubusercontent.com/64164118/163829834-86375798-704e-4d3b-b2a6-dfe0ab71937e.png">
<img width="923" alt="image" src="https://user-images.githubusercontent.com/6416411

[2022-04-18 16:05] TiagoSilvaPereira commented on #299
Hi @martin-masterclass ,

It is due to a change to the latest Jetstream version. I'll fix it for the next Vemto version, but you can easily fix it by adding the field two_factor_confirmed_at (timestamp, NULLABLE) to the User model:

![1 (1)](https://user-images.githubusercontent.com/11933789/163836823-c1b67edc-db9f-401a-ac14-a1ad63a868cc.png)

[2022-04-18 17:51] martin-masterclass commented on #299
Hi Tiago, I'm aware that it is not a big thing, I just think this little thing should work if you sell the yearly membership for $79.
This is no criticism, I know it must be hard to program an app like this, and you seem to have not so much help from others.

I think you need some marketing for your app.
I emailed you on Apr. 16th, for a business proposal to “contact@vemto.app”. (In Portuguese)

N

[2022-04-18 18:29] TiagoSilvaPereira commented on #299
Hi @martin-masterclass it is not working yet because Jetstrem just added this new database field... as Jetstream is a technology by the Laravel team, I need to wait for them to launch changes like this, and then I can launch a Vemto version fixing it (that I hope to launch this week).

About the partnership, thanks, I'll analyze the proposal and get in contact asap.

Best regards

[2022-04-18 18:30] TiagoSilvaPereira commented on #298
@martin-masterclass could you please give more details? For example a video or a screenshot. Tested in a mac here and it worked well

[2022-04-18 18:40] martin-masterclass commented on #299
Tudo bem, obrigado, até logo.

On Mon, 18 Apr 2022 at 20:30, Tiago S. P. Rodrigues <
***@***.***> wrote:

[2022-04-18 20:19] martin-masterclass commented on #298
for example, when I click on the question mark here:
[image: image.png]
It just CHECKS the checkbox, but it does not show me any help text. I
tested it on my MacBook Pro from 2019 with Intel chip and as well with my
iMac from 2021 with an M1 chip.

I think the “label” of the field might be too long and overlap with the
question mark.

On Mon, 18 Apr 2022 at 20:31, Tiago S. P. Rodrigues <
***@***.*

[2022-04-18 20:37] TiagoSilvaPereira commented on #298
Ah got it... these question marks are not clickable... just pass the mouse on top of it to see the info:

![image](https://user-images.githubusercontent.com/11933789/163873914-9070ced7-0e39-4e1e-90cd-9945fc4d6be9.png)

[2022-04-18 20:37] #298 closed

[2022-04-18 20:50] martin-masterclass commented on #298
Ah me desculpe, mas o mouseover também não funciona. (Superior, Direita,
Inferior, Esquerda)
Nenhum texto é aberto. Acredito que seria importante.

On Mon, 18 Apr 2022 at 22:37, Tiago S. P. Rodrigues <
***@***.***> wrote:

[2022-04-18 20:52] martin-masterclass commented on #298
Testado no iMac M1

On Mon, 18 Apr 2022 at 22:50, Martin Krebs Eberth <
***@***.***> wrote:

[2022-04-21 07:21] martin-masterclass opened #300 "Show project name in top green bar"
Hi, I have a proposal for the app.
I realized, that when I work with different projects, that it would be good during the work on a project to know which project you are working on currently.

Maybe it is possible to show the current project name in the top green bar of Vemto?
Regards, Martin

<img width="903" alt="image" src="https://user-images.githubusercontent.com/64164118/164397343-f4f48b2b-9

[2022-04-21 13:57] TiagoSilvaPereira commented on #300
Hi @martin-masterclass Vemto show the current project in the status bar:

![image](https://user-images.githubusercontent.com/11933789/164473980-e6a08a27-0a36-4d96-9e86-17e021be9481.png)

[2022-04-21 13:57] #300 closed

[2022-04-21 17:11] #238 closed, assigned to nobody

[2022-04-21 19:42] TiagoSilvaPereira commented on #288
Fixed on 1.1.3

[2022-04-21 19:42] #288 closed

[2022-04-21 19:49] TiagoSilvaPereira commented on #289
Hi @manfredekblad I tried to reproduce it, but without success... maybe you forgot to generate the code again after unchecking these options?

As you can see in the following images, I removed the Email input from Create/Update forms without problems:

![image](https://user-images.githubusercontent.com/11933789/164541035-8ef48f49-a274-4b10-934c-2d95e6a9daae.png)

![image](https://user-images.githu

[2022-04-21 19:49] #289 closed

[2022-04-21 19:50] TiagoSilvaPereira commented on #290
Closing for now... please feel free to call me on email with more details if this happens again: contact@vemto.app

[2022-04-21 19:50] #290 closed

[2022-04-22 16:23] abkrim commented on #286
Hi.

New project from scrach. I've got the same problem.

On package.json not references to popper.js or jqery, but bootstrap require

I need add manually.

## Error
[code]

## bootstap.js
[code]

## Other problema

## Notes

Why use jquery?

[2022-04-22 16:28] abkrim opened #302 "Can't resolve 'popper.js' and bootstrap.js"
REOPEN [issue](https://github.com/TiagoSilvaPereira/vemto-issues/issues/286)

When re-run **Generate Code** get this error

[code]

## Setup of app

Plugins: Fillament
Views
- TailwidnCSS
- Laravel UI (Breeze broken more complicated)
- Theme default
- Hotwire disabled

**To Reproduce**
Steps to reproduce the behavior:
1. Click Generate code
2. Cheks all except Force ovewrite files
3. Generate chec

[2022-04-22 19:02] relayer464 opened #303 "Plugin error: Cannot read property 'name' of undefined."
Hi Tiago, 

Several months ago you helped me figure out how to use a custom plugin to generate new project pages.  For example:

[code]

This code was working fine.  However, a few days ago I was making minor updates to the plugin and now I get an error that reads:

Here is a screenshot of the error:

![](https://user-images.githubusercontent.com/20197966/164777391-60f4a26d-f02d-4646-842f-8d657779

[2022-04-23 15:24] TiagoSilvaPereira commented on #302
Hi @abkrim thank you for reporting...

This problem is happening because Laravel UI changed to Bootstrap 5 instead of 4 (that is why it has Jquery requirement because Bootstrap 4 needs it)... **Even if you are using TailwindCSS**, Vemto is installing the original Laravel UI and just changing the views to Tailwind (please notice that Laravel UI does not support Tailwind by default, it is just a Vem

[2022-04-23 15:27] TiagoSilvaPereira commented on #303
Hi @relayer464 please send me an email with your plugin code so I can test what is happening (there were no changes in Vemto in the last two months). As it seems not to be a bug with Vemto, I'll close for now

[2022-04-23 15:27] #303 closed

[2022-04-23 16:47] relayer464 commented on #303
Thanks, will do.

[2022-04-23 19:01] Benoit1980 commented on #299
Same problem here. I just tried it on version 1.1.3, Thanks Tiago.

[2022-04-23 20:25] Benoit1980 opened #304 "Relationship issues with version 1.1.3"
Hi Tiago,

I am attaching as many screenshots as psosible.

In short, when I add a category relationship to an article table/model, in the article crud, when selecting the category and saving the data, I am getting an error 500.

![1](https://user-images.githubusercontent.com/6231274/164944862-700def50-93a6-436d-ae38-e0003ab1ad6f.jpg)
![2](https://user-images.githubusercontent.com/6231274/16494486

[2022-04-23 20:44] Benoit1980 opened #305 "Models changes not being detected in 1.1.3"
Hi Tiago,

I have installed Paddle from the Laravel package:

[code]

I had to add the above code to the user model for it to work. Upon regenerating the code, the model updates have been erased. The .ENV changes and app.blade.php have been detected but not the USER model changes.

Thanks,

Ben

[2022-04-23 21:33] Benoit1980 opened #306 "Routes not creating when unticking the new migration tick box button"
Hi Tiago,

I have just played around with the new "Do not generate migrations" tick box and what I have noticed is that the routes are not being generated.

Kindly check this picture:
![routes](https://user-images.githubusercontent.com/6231274/164946437-be69ddd5-f1ad-4f0b-8546-8020a1c6a964.jpg)

I unticked the migrations for:
session
receipt
subscription
customer.

I have also ticked the route gen

[2022-04-23 21:36] Benoit1980 commented on #306
Ok I have found the issue, when I ran the below commands, the routes updated:
[code]

Is there a way for your software to run them while compiling the app?

[2022-04-24 09:39] TiagoSilvaPereira commented on #306
Hi @Benoit1980 you can use our Commands plugin to run these commands: https://github.com/TiagoSilvaPereira/vemto-commands-plugin

[2022-04-24 09:39] #306 closed

[2022-04-24 10:05] TiagoSilvaPereira commented on #304
Hi @Benoit1980 as the error message says: "Field **category** doesn't have a default value"... Seems you created a non-nullable "category field" and are trying to save data without filling this field (for example, you didn't add an input for this field). As you already have a **category_id** field for your relationship, seems this field is unnecessary. So you can just remove it.

Closing here as i

[2022-04-24 10:05] #304 closed

[2022-04-24 10:07] TiagoSilvaPereira commented on #299
Fixed on 1.1.3 for new projects

@Benoit1980 if you are having this problem in a project created on old Vemto versions, please adopt the solution I wrote above:

[2022-04-24 10:07] #299 closed

[2022-04-24 10:14] TiagoSilvaPereira commented on #279
Fixed on 1.1.3

[2022-04-24 10:14] #279 closed

[2022-04-24 10:19] TiagoSilvaPereira commented on #305
Hi @Benoit1980 thank you for reporting... I tested it here and can confirm, but this problem happens only with the **User** model... I'll fix it soon

[2022-04-24 18:19] Benoit1980 commented on #305
Thanks @TiagoSilvaPereira :-)

[2022-04-24 18:21] Benoit1980 commented on #299
Thanks @TiagoSilvaPereira !

[2022-04-24 18:24] Benoit1980 commented on #306
Great! I did not know about this plugin. Thanks!

[2022-04-25 16:14] Benoit1980 opened #307 "Seeder changes are not being detected by Vemto 1.1.3"
Hi Tiago,

On windows 64bit, Vemto 1.1.3, when you edit the factorie's files from an external PHP software, the changes are not detected inside Vemto:

![1](https://user-images.githubusercontent.com/6231274/165130124-0a24ecc4-58c0-48df-af41-5f0ca3d5bb47.jpg)
![2](https://user-images.githubusercontent.com/6231274/165130129-7a214313-e29f-4e49-9469-f25385a18c98.jpg)
![3](https://user-images.githubuse

[2022-04-25 18:09] TiagoSilvaPereira commented on #307
Hi @Benoit1980, not a Vemto bug... probably you clicked on "Untrack File"... clicking on that, you are just saying to Vemto: Stop tracking Vemto changes in this file on the next code generation

[2022-04-25 18:09] #307 closed

[2022-04-26 05:47] goldensio opened #308 "TypeError: Cannot read property 'type' of undefined"
[code]

---

vemto 1.1.3
Electron 8.5.5
win32 10.0.19044
Locale: it

[2022-04-26 13:01] TiagoSilvaPereira commented on #308
Hi @goldensio please check #283 for a workaround

I'll close for now as it seems to be a duplicate. We'll fix the Filament plugin soon.

[2022-04-26 13:01] #308 closed

[2022-04-26 16:17] Benoit1980 commented on #296
![1](https://user-images.githubusercontent.com/6231274/165345972-70abbcf7-c765-4cca-bdbe-c08029ac3c70.jpg)

I am adding an image that shows a notification error

[2022-04-27 13:09] Benoit1980 opened #309 "Seeders still seeding even if not ticked"
Version 1.1.3

I restarted the software but the same problem happens. Even unticked, fake data still fills up the tables
![image](https://user-images.githubusercontent.com/6231274/165525043-ac757078-8460-4f2e-937f-78b285515421.png)

Thanks,

[2022-04-27 13:11] Benoit1980 commented on #309
My mistake, it looks like unticked them do not remove them from the app. You have to do it manually. Perhaps this is a normal behavior.

[2022-04-27 13:11] #309 closed

[2022-04-27 16:23] Benoit1980 opened #310 "Field set to Text keep being reset to size 255"
Hi Tiago,

Vemto 1.1.3
When you set a field to TEXT and regenerate the app, the software keeps resetting the field to size 255 and string. I checked the validation
![image](https://user-images.githubusercontent.com/6231274/165565844-3f1f333e-b116-42e4-8bf9-4b58beffaade.png)

They are set to TEXT
![image](https://user-images.githubusercontent.com/6231274/165566083-0f4b20fa-4cdc-4e8b-b5e5-855f8ff896

[2022-04-27 16:35] Benoit1980 opened #311 "Problem with validation when uploading images"
Vemto 1.1.3

When creating an image field, the software sets the field type automatically to "string"

The problem is that when you try to upload an image, it asks for a string.

The only way around is by replacing the validation to:
image | max:1024

But there is an issue, when generating the app, the field comes back to "string". I had the problem all day on multiple CRUDs.

![image](https://use

[2022-04-28 09:52] Benoit1980 opened #312 "Editing web.php routes is not being detected by the app"
Vemto 1.1.3

I just spend an entire night building my routes, to find out that regenerating the app with a new model/database wipes them out without prior warnings.
The app is not detecting the changes and not showing you the typical "compare differences" panel.

I have added the below commands in the command plugin to update the route cache(last command from the list).
php artisan cache:clear
php

[2022-04-28 14:20] TiagoSilvaPereira commented on #312
@Benoit1980 tried it here, but worked well... maybe you checked "Force overwrite files"?

![image](https://user-images.githubusercontent.com/11933789/165773594-e92491be-367d-4197-87a4-0ba55cb2afdb.png)

![image](https://user-images.githubusercontent.com/11933789/165773743-4988ea4e-fa82-4c67-8c07-6d43c7baf4cc.png)

[2022-04-28 14:20] #312 closed

[2022-04-29 09:38] Benoit1980 opened #313 "php artisan route:list giving API role controller error"
Hi Tiago,

Vemto 1.1.4
I wanted to verify the routes but the usual command does not work with the generated files.
[code]

Thank you

[2022-04-29 09:41] Benoit1980 opened #314 "No delete buttons for images which have been uploaded via the image file input"
Hi Tiago,

Vemto 1.1.4

I have noticed that when you upload an image, there is no way to delete it(no options). You have to delete the entire record and restart again.

Thanks

[2022-04-29 12:17] TiagoSilvaPereira commented on #313
@Benoit1980 closing as it seems not related to Vemto, but with Laravel

[2022-04-29 12:17] #313 closed

[2022-04-29 12:50] sivierostein opened #315 "This error occurs when I am trying vento."
I am trying a simple app.  2 models  Sala (Classroom) and Aluno (student) . Sala has many Aluno and Aluno belongs to Sala relations.
When I try to add a hasmany field in the CRUD of Sala.  The error occur.

[code]

---

vemto 1.1.4
Electron 8.5.5
win32 10.0.19044
Locale: pt-BR

[2022-04-30 09:25] raftalks opened #316 "Error thrown when adding BelongsToMany relationship"
I just caught this error when I was adding belongsToMany relationship to a new entity I was working on.

[code]

---

vemto 1.1.4
Electron 8.5.5
darwin 21.4.0
Locale: en-GB

[2022-04-30 09:28] raftalks commented on #316
I figured out as the error msg clearly indicated the table didn't have the primary ID set. Once I have set, it is working fine.

[2022-04-30 09:28] #316 closed

[2022-04-30 14:03] TiagoSilvaPereira commented on #315
Hi @sivierostein please check #283 for a workaround

[2022-05-02 14:17] marvin-thiel opened #317 "Performance issues with more than 20 entities"
The performance quickly degrades after adding 20 entities or more. The frame rate of the schema editor gets worse and clicks take up to a second to register.
Perhaps an option for disabling animations could be added, maybe that would help a bit already.

 - OS: Linux Mint 20
 - i5 from ~2016
 - 16GB RAM
 - Version 1.1.4

[2022-05-06 20:13] henriquek3 commented on #276
@TiagoSilvaPereira boa tarde, na versão 1.1.4 ainda esta com o mesmo problema. A versão do plugin do AdminLTE ainda esta na versão 1.0.

[2022-05-09 13:24] TiagoSilvaPereira commented on #276
@henriquek3 not fixed yet

[2022-05-14 19:07] glucz opened #318 "Runtime error when adding CRUD app"
I created a simple app with 3 models. This error came up when I tried to add the second CRUD.

[code]

---

vemto 1.1.4
Electron 8.5.5
win32 10.0.19044
Locale: hu

[2022-05-16 14:52] TiagoSilvaPereira commented on #318
Hi @glucz please check #283  for a workaround... I"ll fix it soon

[2022-05-16 21:58] bmckay959 opened #319 "Password Reset on Website"
There is no option to reset your password on the website in your profile.

[2022-05-17 10:04] sharpordie opened #320 "Square icon with rounded corner for macOS?"
It would be great to have a nice macOS style icon for macOS.
I am currently using this smartgit icon from the macosicons website, but it's weird.

![](https://user-images.githubusercontent.com/72373746/168786269-f6291db7-84d5-46cf-9dff-c55fe39896bc.png)

It is not of the utmost importance, just details. But details are important. ;)

[2022-05-17 13:39] TiagoSilvaPereira commented on #320
@sharpordie thank you for your suggestion

[2022-05-17 13:42] bmckay959 commented on #319
Sorry, I wasn't clear. I was logged into my account, but wanted to update it.

So, to update, I have to logout and then do a full password reset. Seems kind of clunky, but will do.

Thanks

[2022-05-18 13:53] brianmcaudill commented on #1
I am having an issue on Windows 10, the application is using composer with a single dash command and it should be a double dash.
Example:
composer --version (is correct)
composer -version (incorrect)

[2022-05-18 15:24] brianmcaudill opened #321 "Error when creating CRUD for model company"
![_exported_image](https://user-images.githubusercontent.com/329199/169080127-d5e6be4e-c3db-49d1-b984-44747b46b60b.png)
[code]

---

vemto 1.1.4
Electron 8.5.5
win32 10.0.18363
Locale: en-US

[2022-05-19 12:19] TiagoSilvaPereira commented on #321
Hi @brianmcaudill there is a problem with the *foreignId* type... please check #283 for a workaround... I"ll fix it soon

[2022-05-19 12:21] TiagoSilvaPereira commented on #1
@brianmcaudill could you please show the problem happening on Vemto console?

[2022-05-19 12:55] brianmcaudill commented on #1
![image](https://user-images.githubusercontent.com/329199/169298367-e5435b25-411a-4255-9659-d28a609bde4b.png)

[2022-05-19 13:05] brianmcaudill commented on #1
Here is the npm log for that error
[2022-05-19T13_01_18_114Z-debug.log](https://github.com/TiagoSilvaPereira/vemto-issues/files/8729279/2022-05-19T13_01_18_114Z-debug.log)

[2022-05-19 13:35] TiagoSilvaPereira commented on #1
I think the ```-version``` is only a visual problem (for some reason it is hiding the first "-" when showing it, but Vemto correctly adds the ```--version``` when executing the command)... to fix the npm problem, if you can, please try deleting all the generated code and generating it again. If you can't do it, plase run npm install manually from your command line

[2022-05-19 13:49] brianmcaudill commented on #1
I started with only these files in the folder
.env.example
composer.json
package.json

I ran the Generator and received these messages:
![image](https://user-images.githubusercontent.com/329199/169309047-ac6545c4-968f-4d8c-a150-b787999840e0.png)

![image](https://user-images.githubusercontent.com/329199/169309163-5879d8f4-f5b4-4490-a455-dc5630c9b0a6.png)

[2022-05-20 15:29] noge075 opened #322 "Update User model file even if the code changed"
**Describe the bug**
On generate code always rewrites User model even if you changed the code.

**To Reproduce**
1. Generate code
2. Add a new method to the code
3. Generate code again (be sure force overwrite files is unchecked)

**Expected behavior**
Only change User model code if it is untouched.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Version 1.1.4

[2022-05-21 07:51] jay2success opened #323 "Error when testing trial: all diagram lines missing"
Hello,

Thanks for building this amazing app.
I have about 53 entities in 1 project.
When i reload it again, this error happens.
The issue on diagram is there is no line connecting entities.
When i edit 1 entity, example adding field, the error shows again.
Hope this can be solved to improve the app's stability.
Thanks.

[code]

---

vemto 1.1.4
Electron 8.5.5
win32 10.0.19044
Locale: en-US

[2022-05-21 14:32] TiagoSilvaPereira commented on #323
Hi @jay2success could you please share your .vemto file?

[2022-05-22 13:03] noge075 opened #324 "Out of range on decimal field seeders"
**Describe the bug**
When you create a decimal type of field the faker's randomNumber method can be out of range in the model factory.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any unsigned decimal field for example: P=8 D=2
2. Run seeder
3. You may get an error message like:  Numeric value out of range: 1264

**Expected behavior**
Use faker's randomFloat(P) method instead.

**S

[2022-05-23 02:59] jay2success commented on #323
Hi,

Thanks but i have solved it.
I have export the project previously and i try to import it and it's working again.
Will do more tests on this trial period.
Thanks again.

[2022-05-23 02:59] #323 closed

[2022-05-23 23:21] relayer464 opened #325 "Toast notifications stops working after first page load when Hotwire Turbo is enabled"
The toast notification success messages error out after the first time you create or update a record if Hotwire Turbo is enabled.  

**To Reproduce**
Steps to reproduce the behavior:

1.  Generate a project with Hotwire Turbo enabled
2.  Generate some CRUD pages
3.  Open any Create or Update page and add or update a record (the success notification appears as expected)
4.  Create or Update another

[2022-05-24 11:25] TiagoSilvaPereira commented on #325
Hi @relayer464 thank you for reporting, we are already fixing it through #296

[2022-05-24 16:49] relayer464 commented on #325
Sorry I missed that one.  Thanks!

[2022-05-28 21:10] salar-rastari opened #326 "Vemto can't create a full Laravel project"
I'm using Vemto Trail version and tried to create a project with a few sample models and views.
I faced these warnings when I clicked Generate:

`.env.example file not found. Skipping .env file generation`
`composer.json file not found. Skipping editing composer packages`
`composer.json file not found. Skipping composer install`
`Composer Packages not installed. Skipping php artisan storage:link`

[2022-05-30 13:55] TiagoSilvaPereira commented on #326
Hi @salar-rastari is **git clone** enabled on your Code Generation - Advanced Settings?

[2022-05-30 17:55] salar-rastari commented on #326
Hi @TiagoSilvaPereira thanks, I enabled the git and it solved.

[2022-05-30 18:16] salar-rastari opened #327 "Filament doesn't add models into menu"
I created a new Laravel 9 project the add a few models, User, Client, Step and Post as shown below
![image](https://user-images.githubusercontent.com/11897664/171042939-05661ddc-9562-4b0a-927d-6e884bae850a.png)

then add CRUD for all of them then use Filament plugin
![image](https://user-images.githubusercontent.com/11897664/171043079-a78c7f56-37bd-4940-975a-15e31b6e8c6e.png)

the code was generat

[2022-05-30 20:33] nicollassilva commented on #327
Hi @salar-rastari thank you for reporting. I will check asap

[2022-05-30 22:30] #326 closed

[2022-06-01 13:35] AxDSan commented on #287
Thank you! ✨

[2022-06-01 15:55] kabacs opened #328 "Error on importing existing project"
[code]

---

vemto 1.1.4
Electron 8.5.5
linux 5.13.0-44-generic
Locale: en-US

[2022-06-01 15:57] #328 closed

[2022-06-02 14:31] TiagoSilvaPereira commented on #327
@salar-rastari did you download the plugin from the marketplace? Could you please share the project .vemto file?

[2022-06-04 00:55] cnngraphics commented on #1
I almost purchased this license, but after 10 hours of trying to configure the software's composer connection, I give up and would not recommend it to my team.

![image](https://user-images.githubusercontent.com/1514378/171970172-5bf4fa6f-1e3d-4bae-b514-47b8aa737e2f.png)

I have other software installed on my system like the very famous "LARAGON" it detects composer path and if not allows me to kn

[2022-06-04 19:33] TiagoSilvaPereira commented on #1
Hi @cnngraphics, most composer issues happen when Vemto can't locate it on your system (generally just passing the composer path and restarting Vemto is sufficient)... Could you please share how did you try to configure it?

Also, you can always call me by e-mail to help if necessary (contact@vemto.app)

[2022-06-04 19:39] TiagoSilvaPereira commented on #277
Fixed on 1.1.5

[2022-06-04 19:39] #277 closed

[2022-06-04 19:40] TiagoSilvaPereira commented on #282
Fixed on 1.1.5

[2022-06-04 19:40] #282 closed

[2022-06-04 19:40] TiagoSilvaPereira commented on #283
Fixed on 1.1.5

[2022-06-04 19:40] #283 closed

[2022-06-04 19:40] TiagoSilvaPereira commented on #305
Fixed on 1.1.5

[2022-06-04 19:40] #305 closed

[2022-06-04 19:40] TiagoSilvaPereira commented on #322
Fixed on 1.1.5

[2022-06-04 19:40] #322 closed

[2022-06-04 19:40] TiagoSilvaPereira commented on #321
Fixed on 1.1.5

[2022-06-04 19:40] #321 closed

[2022-06-04 19:40] TiagoSilvaPereira commented on #318
Fixed on 1.1.5

[2022-06-04 19:40] #318 closed

[2022-06-04 19:40] TiagoSilvaPereira commented on #315
Fixed on 1.1.5

[2022-06-04 19:40] #315 closed

[2022-06-04 19:41] TiagoSilvaPereira commented on #276
Fixed on 1.1.5

[2022-06-04 19:41] #276 closed

[2022-06-04 23:10] cnngraphics opened #329 "VEMTO configuration does not work for me"
### Please help

**Here is my config screen:**
![image](https://user-images.githubusercontent.com/1514378/172028324-91e59809-818f-4a27-b03f-db22e030d941.png)

**Working on Window 11 Machine**
Below is a full output of my VEMTO log trying to generate a project.
14 hours in, I still can not get the config right. Can the author consider another way to help?
[code]

[2022-06-04 23:14] cnngraphics commented on #329
Additionally here is my error screen:

![image](https://user-images.githubusercontent.com/1514378/172028396-8233e403-ad05-489e-8bc2-95ecb8b70a32.png)

[2022-06-06 13:29] TiagoSilvaPereira commented on #329
Hi @cnngraphics could you please share the following:

- the result of the command **where composer** on your command line
- print screen of the current Vemto environment settings (you sent a print with **C:\composer**, but the error message shows another path, so I think you changed it after sending the print)

For reference, here are some prints of a **working Vemto copy on Windows 11**:

![imag

[2022-06-06 19:30] #269 closed

[2022-06-06 19:36] TiagoSilvaPereira commented on #317
@marvin-thiel did it worked with ```--ignore-gpu-blacklist```?

[2022-06-07 16:18] TiagoSilvaPereira commented on #329
@cnngraphics dit it worked?

[2022-06-08 07:09] freasy opened #330 "JetStream with teams initialisation"
I want the jetstream teams functionality. With the current version it initializes the basic jetstream and overrides the usermodel according to database configurations.

When i use `jetstream:install livewire --teams` afterwards to get teams functions, it overrides the vemto user model.
In addition the teams table is not visible in the database planer.

We we get the option to enable jetstream team

[2022-06-08 12:36] TiagoSilvaPereira commented on #330
Hi @freasy thank you for your suggestion, we'll add this option in the future

[2022-06-09 06:11] caolier opened #331 "It is possible to create a Pivot Crud for a morphToMany relationship"
Hi!,
I'm new with Vemto, nice tool!
I'm practicing with the schema for Breeze permission model, but I can't find the way to show the list of roles into edit user.
In components aren't options for polymorphic relations.  Is it a way to do it?

thanks again, great app

[2022-06-10 00:22] d4rkr3pt0r opened #332 "where is Array data type?"
Can anyone tell me how to cast fields as array in Vemto? Why array isn't available to select on data types list?

[2022-06-14 18:56] ChristianEW26 opened #334 "VEMTO configuration does not work on my Macbook"
My VEMTO configuration does not work on my Macbook.

I have already tried several ways, but none work!

I made a screencast here 👍

https://share.getcloudapp.com/o0uGv5Ab

Thank you for advance

[2022-06-15 17:27] TiagoSilvaPereira commented on #331
Hi @caolier it is not possible yet with Vemto, you would need to do it manually... It is on my plans to add components for Polymorphic relationships.

Best regards

[2022-06-15 17:27] #331 closed

[2022-06-15 17:29] TiagoSilvaPereira commented on #332
@d4rkr3pt0r Vemto follows Laravel structure... there is no Array field type for Laravel migrations, but probably what you are searching for is the Enum type.

[2022-06-15 17:29] #332 closed

[2022-06-15 17:34] TiagoSilvaPereira commented on #334
Hi @ChristianEW26 the problem is that you are copying the path with the binary name, but Vemto expects only the folder portion... For example, if your ```which composer``` command results into ```/usr/bin/composer```, you can copy only ```/usr/bin``` to the Vemto settings, without the binary name at the end of the command

[2022-06-15 17:34] #334 closed

[2022-06-15 17:38] TiagoSilvaPereira commented on #329
Hi @cnngraphics I'm closing due to the lack of response. Please feel free to contact me if you need more days to extend your Trial and to solve your problem.

[2022-06-18 10:22] d4rkr3pt0r commented on #332
@TiagoSilvaPereira I was talking about [this](https://laravel.com/docs/9.x/eloquent-mutators#array-and-json-casting)

[2022-06-19 01:13] cnngraphics commented on #329
The way I made it work is to start a laravel project, pushed it to github, installed livewire, installed authentication, then I unchecked git, and composer install from vector.

Dirty, but works for me.

[2022-06-23 13:09] karimamkar opened #335 "Code generation incomplete"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
Code generation blocks if the npm run dev is used

**To Reproduce**
just generate code from a project (Laravel/framework version 9.18)

**Expected behavior**
continue code generation
i think it's due to the new VITE tool introduced in laravel

**Screenshots**
--

**D

[2022-06-23 13:25] TiagoSilvaPereira commented on #335
Hi @karimamkar we are checking this, thank you for reporting

[2022-06-23 19:38] TiagoSilvaPereira commented on #335
@karimamkar please upgrade to Vemto 1.1.6 for a temporary solution... Vite support will come once the Laravel team launch the Jetstream Vite support (they said it is coming next week)

[2022-07-03 11:25] TiagoSilvaPereira commented on #335
@karimamkar please upgrade to the latest Vemto version to completely solve this issue

[2022-07-03 11:25] #335 closed

[2022-07-04 02:12] salar-rastari opened #336 "Clone from repository doesn't work!"
Hi,

I was trying to use Vemto on my existing project by adding the repository Url and generating the code, but I faced this error every time:

![image](https://user-images.githubusercontent.com/11897664/177069576-75ee530c-54b2-43be-a594-bc0fd8ad50c2.png)

thanks.

[2022-07-04 13:35] TiagoSilvaPereira commented on #336
@salar-rastari please change the **Assets Compiler** to Mix... seems the problem is that your repository is probably using Laravel Mix, and Vemto uses Vite by default

[2022-07-04 16:24] weblikero opened #337 "Plugin - AminLTE Theme - can not be downloded"
AdminLTE Theme - plugin cannot be dowloded from Marketplace.

https://codeload.github.com/TiagoSilvaPereira/vemto-admin-lte-plugin/zip/1.0.1
404 - not found

[2022-07-04 18:23] TiagoSilvaPereira commented on #337
Hi @weblikero I just fixed it, please try again

[2022-07-04 18:23] #337 closed

[2022-07-05 15:15] abkrim opened #340 "Ubuntu 22.04 and Vetmo 1.1.8 crash"
This crash
[code]

This not crash
[code]
**Desktop (please complete the following information):**
 - OS: Ubuntu 22.04
 - KDE Plasma

Best regards.

[2022-07-05 22:12] TiagoSilvaPereira commented on #340
Hi @abkrim thank you for reporting, I'll check what is happening ASAP

[2022-07-06 01:10] shofeather opened #341 "Unhandled Promise Rejection"
[code]

---

vemto 1.1.8
Electron 8.5.5
win32 10.0.22000
Locale: en-US

![image](https://user-images.githubusercontent.com/76820197/177442098-ee5f0d56-5ffa-4589-86f7-d8f66c8193d3.png)

[2022-07-06 18:35] dblanco-dev opened #343 "Error standalone field"
[code]

---

vemto 1.1.8
Electron 8.5.5
win32 10.0.22000
Locale: es-419

![image](https://user-images.githubusercontent.com/33554631/177619337-98fec6b0-6ac2-4cf6-8766-66ae87e14b3f.png)

[2022-07-06 18:38] salar-rastari commented on #336
where is the **Assets Compiler** ?

[2022-07-07 04:21] salar-rastari commented on #336
I tried the Assets Compiler to Mix and got new error:

![image](https://user-images.githubusercontent.com/11897664/177690643-b65c35a4-5fd4-49d7-acdc-2ace6860026b.png)

[2022-07-07 13:49] TiagoSilvaPereira commented on #336
@salar-rastari in this case it is necessary to check your repository package.json to see what assets compiler it is using. If it is not using any assets compiler, just disable the npm run dev command on the Code Generation > Advanced Settings before generating your code.

[2022-07-07 15:22] TiagoSilvaPereira opened #344 "Template Engine - Bug with ? on PHP code"
The template engine crashes if the PHP code adds a "?" inside a variable or logic block

[2022-07-10 09:35] hadi78m opened #345 "vemto error when select bootstrap"
[code]

---

vemto 1.1.8
Electron 8.5.5
win32 10.0.19042
Locale: en-US

[2022-07-16 04:22] manfredekblad opened #346 "When running a project, files are served from the old (wrong) location after having changed the Project Folder"
**Describe the bug**
When running a project, files are served from the old (wrong) location after having changed the Project Folder

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new project with Project Folder "X"
2. Generate the code
3. Run the project (no issues)
4. Change the Project Folder to "Y"
5. Generate the code, the code goes into folder "Y", correct
6. Run the project ->

[2022-07-16 04:28] manfredekblad opened #347 "When having a model named "Education" with table "educations", the seeder will fail because it attempts to use table name "education""
**Describe the bug**
When having a model named "Education" with table "educations", the seeder will fail because it attempts to use table name "education"

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new project
2. Add a new entity named "Education", table name by default = "educations"
3. Generate the code
4. Run, with migrations and seeder
5. The seeder fails because it incorrec

[2022-07-18 12:52] TiagoSilvaPereira commented on #346
Hi @manfredekblad I'll check it ASAP

[2022-07-18 12:53] TiagoSilvaPereira commented on #347
Hi @manfredekblad thank you for reporting, I'll check it ASAP

[2022-07-19 21:01] Benoit1980 opened #348 "Laravel UI with Mix causes Vite error"
Vemto 1.1.8

I ran 1 new project set with:
Laravel UI, **Vite**, Tailwind CSS. When going to the login page, the error shown is:
"Unable to locate file in Vite manifest: resources/css/app.css."

I ran 1 new project set with:
Laravel UI, **Mix**, Tailwind CSS. When going to the login page, the error shown is:
"Unable to locate file in Vite manifest: resources/css/app.css."

Both a Vite error in the

[2022-07-19 21:37] Benoit1980 commented on #348
I checked further tonight, having huge problems generating anything with Laravel UI.
I restarted the pc, deleted the projects and tried to recreate them, now they are stuck on "npm run dev" for over 20 minutes.

Not sure what is happening as I am not seeing any logs.

[2022-07-19 21:59] Benoit1980 opened #349 "User::hasPermissionTo() issues after unticking policies and permissions"
Vemto 1.1.8

I generated a project with the permissions and policies using Breeze and Tailwind CSS.
The permissions and policies made the app a bit too complicated for my project so I unticked them both.
Regenerated the project and now I am having 2 errors.

Command failed: "C:\laragon\bin\php\php-8.1.2-Win32-vs16-x64\php" artisan migrate:fresh --seed
![Screenshot 2022-07-19 235738](https://user-i

[2022-07-20 10:20] Benoit1980 opened #350 "Migrations not being generated"
Vemto 1.1.8

Windows 10.

I deleted 2 columns from one table, regenerated my app with the below settings ticked, the migration is not generated, therefore I am unable to upload the changed to the remote server.

![1](https://user-images.githubusercontent.com/6231274/179958901-4797371c-c909-444b-9272-a4f215e8d015.jpg)
![2](https://user-images.githubusercontent.com/6231274/179959010-2c0d0411-a986-48

[2022-07-20 10:43] Benoit1980 commented on #350
From what I see, It did not generate an update migration, instead it generated a full new migration. But it is not being picked up on the remote with php migrate artisan.
Also regenerating a previous migration is dangerous as the remote data will be deleted, it should be an update on the old migration instead.

[2022-07-20 12:35] TiagoSilvaPereira commented on #348
Hello, new projects should always keep the configuration as Vite... we put the option to switch to Mix to maintain compatibility with old projects (and soon this option will be discontinued). This is because Laravel's default boilerplate no longer has the default Mix installation and we don't intend to keep an outdated boilerplate aside.

Therefore, for new projects, the correct thing is to keep t

[2022-07-20 12:35] #348 closed

[2022-07-20 12:38] TiagoSilvaPereira commented on #350
Hi @Benoit1980 Vemto does not generate update migrations, for now, please use Vemto only for Bolerplating new projects. For changing migrations, the correct is to make it manually. I'm planning to make this possible with Vemto v2, but it is a complex task and not possible yet.

[2022-07-20 12:38] #350 closed

[2022-07-20 12:39] TiagoSilvaPereira commented on #349
@Benoit1980 probably some problem with composer cache... please try ```composer dump-autoload```

[2022-07-20 12:39] #349 closed

[2022-07-20 16:01] Benoit1980 commented on #350
Oh I see, sorry I did not know.
Will Vemto see the new migrations if created through my IDE?

[2022-07-20 16:03] Benoit1980 commented on #348
Laravel continuous upgrades are really a nightmare, I cannot understand why they do not keep things stable without any changes for a good 2 or 3 years at the time. I will try with VITE tonight to see if it works. I never used VITE, so this is still new to me. Thanks

[2022-07-20 16:49] manfredekblad opened #351 "When running a project, getting the error message "Unable to locate file in Vite manifest...""
**Describe the bug**
When running a project, and opening it in the browser, it shows an exception "Unable to locate file in Vite manifest: resources/css/app.css".

**To Reproduce**
Steps to reproduce the behavior:
1. Generate the code
2. Run the project and open in browser, go to the login page
3. It shows the error message

**Expected behavior**
Expecting the login page to load properly without e

[2022-07-20 17:14] manfredekblad commented on #351
after running "npm run build" the manifest json has double backslack on the app.css path - see screenshot

if i manually change that to single forward slash and refresh in browser, it loads ok

![image](https://user-images.githubusercontent.com/2504486/180042831-6e3ac963-227e-46b1-b9af-5ae958abadb5.png)

[2022-07-21 11:53] Benoit1980 opened #352 "Image upload bug on update validation"
Vemto 1.1.8

Windows 10

When creating a CRUD with image upload, on the update form, even if the image is already uploaded, it still requires an image to be re-uploaded(it does not take notice the previous image in the validator but shows it in the preview) when you edit a record.

[2022-07-21 11:57] Benoit1980 commented on #352
To fix the issue, when selecting an image upload field in Vemto, the rule should be changed from "required" to "sometimes". This will enable the update validation to pass.

[2022-07-21 13:18] TiagoSilvaPereira commented on #350
Hi @Benoit1980 no that is not possible yet... it will only be possible on Vemto 2.x, as it is a highly complex feature and I"m still researching better ways to do it. For now, the recommended way for using Vemto with production projects is to disable migrations generation and use it just to generate new modules

[2022-07-21 14:43] TiagoSilvaPereira commented on #351
Hi @manfredekblad seems it is a bug with Vite when using Laravel + Jetstream. I tested here and the problem happens even with projects created out of Vemto. I already opened an issue on the Jetstream repository:

https://github.com/laravel/jetstream/issues/1098

[2022-07-21 17:33] manfredekblad opened #353 "Relationships of type "belongsTo" does not render properly on Index/Show pages if the relationship name is modified (not default)"
**Describe the bug**
When viewing the Index and Show pages, a field that "belongsTo" usually shows the "name" field from the related table. But, this only works if the relationship name is the default name suggested by Vemto. If the relationship name is modified by the user, it will break the lookup on the Index and Show pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Create entity "S

[2022-07-21 18:19] Benoit1980 commented on #350
Hi @TiagoSilvaPereira Ok thanks.
Will the 2.x come out this year?

[2022-07-22 12:06] TiagoSilvaPereira commented on #350
@Benoit1980 I have no ETA yet, as Vemto 2.x is still under research

[2022-07-22 13:34] Benoit1980 commented on #350
Thanks Tiago :-)

[2022-07-23 21:25] dotcorner opened #354 "Filament plugin does not generate the resource code."
Filament plugin does not generate the APP/Filament folder and the resource code.

Can login to the dashboard but no resources are shown in the sidebar. All the CRUDS are checked to generate Filament resource.

Using Vemto 1.1.8

![image](https://user-images.githubusercontent.com/613263/180623313-d540b8c5-0651-497d-9178-a613c27f7fe3.png)

[2022-07-25 14:03] TiagoSilvaPereira commented on #354
Pinging @nicollassilva

[2022-07-30 18:02] salar-rastari opened #355 "Filament admin panel doesn't load images!"
I pushed my codes to the server and everything worked fine except loading images, but it works on the local.
The filament admin panel are using "http://localhost:8000/" instead of the domain address, so is there any solution for that?

![image](https://user-images.githubusercontent.com/11897664/181935950-3bb42422-a67f-4fee-8de7-b418ee933280.png)

thanks

[2022-08-01 10:02] pdep264 opened #356 "Cannot run php artisan serve from VSCode. Artisan not found and no json file. Any hep or advice appreciated. TIA"
After successful Vemto code generation without errors, I cannot run php artisan serve from VSCode. Artisan not found and no json file. Any help or advice appreciated.  TIA

[2022-08-01 17:07] TiagoSilvaPereira commented on #355
Hi @salar-rastari I'm closing as it is not a Vemto issue... please check if your .env is using the correct URL endpoints

[2022-08-01 17:07] #355 closed

[2022-08-01 17:08] TiagoSilvaPereira commented on #356
Hi @pdep264 closing as it is not a Vemto issue... I recommend searching for Laravel and VSCode related issues on Google

[2022-08-01 17:08] #356 closed

[2022-08-02 04:08] pdep264 commented on #356
In other words, you are saying the only access to Vemto code is by regeneration using its own interface? If you wish to successfully market this expensive product, I suggest you improve your support efforts. I repeat what is a valid Vemto support question, how is code to be edited post production?

[2022-08-02 13:25] TiagoSilvaPereira commented on #356
@pdep264 sorry, you said that "php artisan serve" is not running under VSCode. The "php artisan serve" command is a Laravel tool, not a Vemto tool, so I assumed you are having problems not related to Vemto (please notice that Vemto doesn't replace Laravel tools, it only uses these tools during the code generation process). If you have more details about what is happening (please describe step by s

[2022-08-02 13:29] TiagoSilvaPereira commented on #356
For editing code, Vemto generates clean and free code, you can edit it whenever you want. If you try to generate the system again through Vemto, the files that were edited will be ignored (however, note that if you change the models, the migrations will be updated, so it is recommended to disable the generation of migrations and change them manually)

[2022-08-02 13:35] TiagoSilvaPereira commented on #356
By the way, I didn't mean to be rude, I apologize if you took it that way. I really thought you were having different problems, since you mentioned that "php artisan" was not working in VSCode, and such tools have no direct relationship with Vemto.

[2022-08-02 13:37] pdep264 commented on #356
Thank you, that is a much more positive response. Here's the problem in detail:

1. A project is generated in Vempto - without errors.
2. Subsequently the code [for some reason] needs modifying, editing or updating - say a new number of posts or uses are required...
3. If the project is re-generated in Vempto, then any previous code edits done directly in the files will be lost by regeneration.
4.

[2022-08-02 13:48] TiagoSilvaPereira commented on #356
Ok, I'll comment on some of the steps you sent me:

3 - Vemto automatically detects the code you edited, so it skips overwriting those files (so there is no loss of the code you edit after generation)
4 - Yes, Vemto is better for Scaffolding at the moment, although you can use it later in the project, as long as you are careful and manually control the migrations
5 - I don't quite understand what

[2022-08-02 13:54] pdep264 commented on #356
Thank you for this response and I glad we are both back on track and cooperating. I will make a fresh installation of Vempto on my machine tomorrow, add a simple project and then replicate what I am trying to do along with a plethora of notes and screenshots. Look forward to seeing this sorted. Thanks for your help.

[2022-08-02 14:01] TiagoSilvaPereira commented on #356
@pdep264 my pleasure and I apologize again for the misunderstanding I caused

[2022-08-02 15:11] pdep264 commented on #356
Hi there: I am going through a complete new reinstallation and things may well be working out better this time [fingers crossed]. However, I have one issue for sure - see attached clip - any comments, please?

Best wishes, Peter
Sent: 17:09m
Tuesday 02 Aug 2022

On 02/08/2022 16:01:35, Tiago S. P. Rodrigues ***@***.***> wrote:
@pdep264 [https://github.com/pdep264] my pleasure and I apologize again

[2022-08-02 16:18] TiagoSilvaPereira commented on #356
Hi @pdep264 could you please send the clip again?

[2022-08-02 16:39] pdep264 commented on #356
Sure - here you go.

Best wishes, Peter
Sent: 18:37m
Tuesday 02 Aug 2022

On 02/08/2022 18:18:24, Tiago S. P. Rodrigues ***@***.***> wrote:
Hi @pdep264 [https://github.com/pdep264] could you please send the clip again?
—
Reply to this email directly, view it on GitHub [https://github.com/TiagoSilvaPereira/vemto-issues/issues/356#issuecomment-1202944432], or unsubscribe [https://github.com/notifica

[2022-08-02 16:40] TiagoSilvaPereira commented on #356
Seems it is not being attached to the issue body

[2022-08-02 16:44] pdep264 commented on #356
Okay, but I am not sure what you mean by that. 

However, what's the solution? Any suggestions?

Best wishes, Peter
Sent: 18:42m
Tuesday 02 Aug 2022

On 02/08/2022 18:40:58, Tiago S. P. Rodrigues ***@***.***> wrote:
Seems it is not being attached to the issue body
—
Reply to this email directly, view it on GitHub [https://github.com/TiagoSilvaPereira/vemto-issues/issues/356#issuecomment-1202971425

[2022-08-05 17:35] TiagoSilvaPereira commented on #354
@dotcorner Hi, we tried it here and it worked well, could you please give more details? Screenshots, videos, etc.

[2022-08-09 20:22] EllisonTravel opened #357 "Error when adding File Input field. Thanks"
[code]

---

vemto 1.1.8
Electron 8.5.5
win32 10.0.22000
Locale: en-US

[2022-08-09 20:35] TiagoSilvaPereira commented on #357
@EllisonTravel thank you for reporting, we'll fix it ASAP

[2022-08-11 11:27] ziming opened #358 "Use of deprecated property access in generated factories"
https://github.com/FakerPHP/Faker/pull/164

As mentioned in the above pull request. From Faker 1.14 onwards, this is deprecated

$this->faker->name

code should be updated to do this instead

$this->faker->name()

Faker 1.14 is released on 29 Mar 2021

[2022-08-15 14:45] manfredekblad opened #360 "The detail-form ignores the settings for onCreate/onEdit and shows all fields on the input form"
**Describe the bug**
When opening the detail-form, it shows all fields on the input form, including the fields that has unchecked the "On Create" and "On Update". So it seems it ignores those settings, confirmed by looking at the template code (Tailwind & Jetstream).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a master-detail CRUD, with some fields unchecked for "On Create" / "On

[2022-08-16 14:18] manfredekblad opened #361 "Database migration for Fortify is removed after regenerating code"
**Describe the bug**
When regenerating the code, the database migration for Fortify two-factor-auth is removed.

2014_10_12_200000_add_two_factor_columns_to_users_table.php

**To Reproduce**
Steps to reproduce the behavior:
1. Run: php artisan vendor:publish --provider="Laravel\Fortify\FortifyServiceProvider"
2. Migrate... all good
3. Regenerate the code in Vemto
4. Migrate
5. Login and go the to

[2022-08-16 18:17] TiagoSilvaPereira commented on #361
Hi @manfredekblad Vemto removes this migration because it already adds these fields to the ```create_users_table``` migration.

[2022-08-16 18:17] #361 closed

[2022-08-16 22:29] manfredekblad commented on #361
Ok, maybe some issue with that users migration then?

I get the SQL error "field is missing" when viewing my user profile, unless I run the Fortify migration manually after regenerating the code and deploying to a clean db.

[2022-08-17 14:17] TiagoSilvaPereira commented on #361
Please check if you didn't accidentally remove the field from the model, you can compare it with a newly created project (I hope Vemto 2.x will not feature these difficulties as it will correctly handle the migrations and sync the project with them)

[2022-08-18 00:49] manfredekblad commented on #361
Could it be, because I created the project 6 months ago?

I just created a new fresh project in Vemto 1.1.8, and the two_factor fields are there. So maybe they were not in the project when I started it 6 months ago.

[2022-08-18 17:30] TiagoSilvaPereira commented on #361
@manfredekblad maybe yes, I recommend being careful running Vemto with an old project, as it doesn't understand the project Schema (something that Vemto 2.x should fix)

[2022-08-24 15:37] manfredekblad opened #362 "Validation rules are reset to default after modifying the table structure"
**Describe the bug**
Validation rules are reset to default after modifying the table structure. Example, one field in my project had a validation as file, max 1024. I manually set it to 50000 and generated code. It stayed at 50000 until I added another field to the table and regenerated the code. As you can see in the screenshot, the 50000 was reset back to default 1024. I did not touch the valida

[2022-08-25 13:41] TiagoSilvaPereira commented on #362
@manfredekblad thank you for reporting, we'll check this ASAP

[2022-08-25 17:29] curtisbelt commented on #340
Same here.

- Fedora 36
- Gnome 42.4
- Vetmo 1.1.8 AppImage

[2022-08-25 17:36] curtisbelt opened #363 "Plugins: External links and Download .zip button not working"
**Describe the bug**

- External links do not work - such as the Repository button in plugins or the various documentation links in the Plugin descriptions. I click them, and nothing happens.

- The Download .zip buttons for plugins do not work: I click it, it says "Downloading..." for a couple of seconds, and then returns to "Download .Zip", without any indication of where the file went. I cannot

[2022-08-25 18:00] TiagoSilvaPereira commented on #363
@curtisbelt seems there is a bug with recent Gnome versions and Electron, I'll investigate it, thanks

[2022-08-30 20:20] TiagoSilvaPereira commented on #317
Closing due to lack of response. Please feel free to open it again if necessary

[2022-08-30 20:20] #317 closed

[2022-08-30 20:20] TiagoSilvaPereira commented on #320
Moving as suggestion for Vemto 2

[2022-08-30 20:26] TiagoSilvaPereira commented on #345
It seems this was just a one-off problem. Please feel free to open the issue again if it is still hapenning

[2022-08-30 20:26] #345 closed

[2022-08-30 20:28] TiagoSilvaPereira commented on #346
I believe the problem was happening due to some cache issue... please feel free to reopen the issue if it happens again

[2022-08-30 20:28] #346 closed

[2022-08-30 20:28] TiagoSilvaPereira commented on #351
Vite already fixed this bug

[2022-08-30 20:28] #351 closed

[2022-08-30 20:30] TiagoSilvaPereira commented on #357
Fixed on Vemto 1.1.9

[2022-08-30 20:30] #357 closed

[2022-08-30 20:55] TiagoSilvaPereira commented on #340
@abkrim @curtisbelt

It looks like some Linux distros are having permissions issues regarding chrome-sandbox. However, disabling sandboxing by default in Electron is not recommended for security reasons (https://www.electronjs.org/docs/latest/tutorial/sandbox), so for now, there are two options:

- Continue running with ```--no-sandbox```
- Try to fix permissions regarding chrome-sandbox (https://

[2022-08-30 20:55] #340 closed

[2022-08-30 20:56] TiagoSilvaPereira commented on #363
@curtisbelt

It looks like some Linux distros are having permissions issues regarding chrome-sandbox. However, disabling sandboxing by default in Electron is not recommended for security reasons (https://www.electronjs.org/docs/latest/tutorial/sandbox), so for now, there are two options:

- Continue running with ```--no-sandbox``` (which can limit some Vemto features)
- Try to fix permissions rega

[2022-08-30 20:56] #363 closed

[2022-08-30 20:57] TiagoSilvaPereira commented on #167
Fixed on 1.1.9

[2022-08-30 20:57] #167 closed

[2022-08-30 20:57] TiagoSilvaPereira commented on #197
Fixed on 1.1.9

[2022-08-30 20:57] #197 closed

[2022-08-30 20:58] TiagoSilvaPereira commented on #217
I'll add this as suggestion for Vemto v2 (which will bring a better architecture to support this type of feature)

[2022-08-30 21:12] TiagoSilvaPereira commented on #354
Closing due to inactivity

[2022-08-30 21:12] #354 closed

[2022-08-30 21:13] TiagoSilvaPereira commented on #343
Fixed on 1.1.9

[2022-08-30 21:13] #343 closed

[2022-08-30 21:14] TiagoSilvaPereira commented on #291
Fixed on 1.1.9

[2022-08-30 21:14] #291 closed

[2022-08-30 21:14] TiagoSilvaPereira commented on #296
Fixed on 1.1.9

[2022-08-30 21:14] #296 closed

[2022-08-30 21:14] TiagoSilvaPereira commented on #324
Fixed on 1.1.9

[2022-08-30 21:14] #324 closed

[2022-08-30 21:15] #341 closed

[2022-08-31 14:12] TiagoSilvaPereira commented on #325
Fixed on 1.1.9

[2022-08-31 14:12] #325 closed

[2022-08-31 14:31] TiagoSilvaPereira commented on #347
Fixed on Vemto 1.1.9

[2022-08-31 14:31] #347 closed

[2022-09-02 06:33] manfredekblad opened #367 "Error on Mac when running the project"
[code]

---

vemto 1.1.9
Electron 8.5.5
darwin 21.6.0
Locale: en-US

<img width="863" alt="image" src="https://user-images.githubusercontent.com/2504486/188073470-6d00221e-661b-4538-a37d-cdc6abe85e4c.png">

[2022-09-02 13:14] TiagoSilvaPereira commented on #367
Hi @manfredekblad is it happening every time you try to run the project?

[2022-09-04 12:35] manfredekblad opened #368 "On a master-detail form, the datefield is nullable and the user input is blank, but it defaults to current date when saving"
**Describe the bug**
On a master-detail form, the date field is nullable (and empty input) but defaults to current date. It should be set to null (or use the default set on the field in the db).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a master-detail such as "Profile"->"Experiences" with a nullable date field on the Experiences table, such as "end date"
2. Generate the code an

[2022-09-14 18:35] wings-dev opened #370 "probllem"
[code]

---

vemto 1.1.9
Electron 8.5.5
darwin 21.1.0
Locale: tr

[2022-09-14 18:53] TiagoSilvaPereira commented on #370
Hi @wings-dev this error happens if you try to create a relation using a model that doesn't have a primary key. Please add a primary key to the related model before creating the relation

[2022-09-14 18:53] #370 closed

[2022-09-16 12:37] Odilbukh opened #371 "Does not run installation of AppImage on Ubuntu 22"
I already did Right Click > Permissions > Allow executing file as a program

When I double click or Right Click > Run  nothing happens. The installation process does not run.

Ubuntu 22.04
PHP 8.1
vemto-1.1.9.AppImage (downloaded from https://vemto.app/download)

[2022-09-17 15:07] TiagoSilvaPereira commented on #371
Hi @Odilbukh for Ubuntu 22.04, it is necessary to run with the ```--no-sandbox``` param from the command line. I'll update the docs soon to include this detail. I'm already studying a way to avoid this problem with Vemto 2.x

[2022-09-17 15:07] #371 closed

[2022-09-20 20:33] patrickzuili opened #372 "Command failed: php artisan migrate:fresh --seed"
Hi,
Generation went all good.
when running got this error

Running php artisan migrate:fresh --seed
Command failed: php artisan migrate:fresh --seed
 (PDOException(code: 42000): SQLSTATE[42000]: Syntax error or access violation: 1171 All parts of a PRIMARY KEY must be NOT NULL; if you need NULL in a key, use UNIQUE instead at /Users/patrickzuili/Desktop/TSI insurance/tsi/vendor/laravel/framework/s

[2022-09-20 21:02] TiagoSilvaPereira commented on #372
Hi @patrickzuili, the problem is that you are using a primary key that is nullable, and this is not allowed by your database engine. Please remove nullable from all your PKs

[2022-09-20 21:02] #372 closed

[2022-09-23 13:18] TiagoSilvaPereira commented on #367
Closing for now due to lack of details... please feel free to open another issue if the problem still happens

[2022-09-23 13:18] #367 closed

[2022-09-25 06:43] TheBiGBoSS6000 opened #373 "Error: timeout exceeded"
[code]

---

vemto 1.1.9
Electron 8.5.5
win32 10.0.19044
Locale: en-US

[2022-09-26 12:44] TiagoSilvaPereira commented on #373
Hi @TheBiGBoSS6000 could you please give more details on when and where this problem occurs?

[2022-09-27 17:33] 0xhua opened #374 "Command failed: composer install"
After i build my models and applications i generated the code got this

fresh projects works normally

[code]

[2022-09-27 18:00] TiagoSilvaPereira commented on #374
Hi @0xhua, please try installing your dependencies from the command line, then run Vemto if necessary.

[2022-09-27 18:00] #374 closed

[2022-10-03 10:45] spham opened #375 "scaffold with filament and jetstream"
hi
can you tell me how to make a scaffold with default filament admin panel ?
and if it possible to have one for regular user and one for admins users ?

regards

[2022-10-03 12:33] TiagoSilvaPereira commented on #375
Hi @spham, you can do it by installing the Filament plugin. It is currently impossible to generate multiple Filament admins from Vemto, but you could try developing two separate projects and mixing them together.

[2022-10-03 12:34] #375 closed

[2022-10-03 13:53] spham commented on #375
but it's not work, how to enable this ?

[2022-10-03 15:00] TiagoSilvaPereira commented on #375
Hi @spham, after installing the plugin, go to its settings page and configure the CRUD applications you want to generate Filament pages (please notice you need to add CRUD apps to your project before it). Then, generate the code and open the /admin URL (you can see more instructions in the Filament plugin main page)

[2022-10-05 19:02] spham opened #376 "license"
hi,
i can't install license , it show "license already install on other computer"
how to disable on my windows and activate my linux ?

[2022-10-05 19:03] spham commented on #376
i found solution, but it not fair

[2022-10-05 19:03] #376 closed

[2022-10-05 19:24] spham opened #377 "install issue on linux"
hi
not found npm or node

`Sorry, Vemto requires npm installed in your system. Please check if npm is globally available on your PATH environment variable, or add its path to the main settings on Vemto Home Page`

but it installed
which node and npm return

- /home/pham/.nvm/versions/node/v18.9.1/bin/npm
- /home/pham/.nvm/versions/node/v18.9.1/bin/node

it should have any button to test if it ok,

[2022-10-05 20:29] TiagoSilvaPereira commented on #377
Hi @spham please try adding the NPM path to the Vemto settings and restart it, as shown in the docs: https://vemto.app/docs/1.x/configuration

[2022-10-05 20:29] #377 closed

[2022-10-11 06:58] martin-masterclass commented on #300
Ah Thanks!! 😄

On Thu, 21 Apr 2022 at 15:57, Tiago S. P. Rodrigues <
***@***.***> wrote:

[2022-10-11 08:14] precamp-io commented on #294
Thank you really appreciate you looking into this for me.

From: Tiago S. P. Rodrigues ***@***.***>
Sent: 07 April 2022 14:53
To: TiagoSilvaPereira/vemto-issues ***@***.***>
Cc: precamp-io ***@***.***>; Mention ***@***.***>
Subject: Re: [TiagoSilvaPereira/vemto-issues] I just got this error trying to add a new CRUD (Issue #294)

Hi @precamp-io <https://github.com/precamp-io>  I found that the prob

[2022-10-15 15:33] StanMenten99 commented on #102
Any updates on this perhaps?

[2022-10-15 15:56] TiagoSilvaPereira commented on #102
@StanMenten99 It is not possible for Vemto 1.x due to its architecture... I'm creating Vemto 2.x with a better architecture that will support running through WSL

[2022-10-16 16:44] luttje opened #378 "UUID's not supported in templates"
**Describe the bug**
Related models with UUID's cause a browser error when you click 'Detach' in views with 'Details for BelongsToMany Relationships'

The error I get is: `identifier starts immediately after numeric literal` which is caused by: `detach(d6d5f032-4d71-11ed-bdc3-0242ac120002)`

The problem is that a UUID cannot be passed without being put into a string.

The template should be change

[2022-10-16 16:51] luttje opened #379 "BelongsToMany template generates incorrect Livewire component"
I have an Item model that relates to ItemProperty through a pivot table. I created a CRUD for the Item and added a 'Details for BelongsToMany Relationships' view. The generated code was incorrect.

In my `ItemItemPropertiesDetail.php` on line 70 (in the save method):
`$this->item->itemProperties()->attach($this->itemProperty_id, [`

Should be:
`$this->item->itemProperties()->attach($this->item_pro

[2022-10-17 12:30] TiagoSilvaPereira commented on #379
@luttje thank you for reporting, I'll check it ASAP

[2022-10-17 12:30] TiagoSilvaPereira commented on #378
@luttje thank you for reporting

[2022-10-24 12:54] spham opened #380 "after update, license is not working :-("
hi

my license not work when launch antoher instance of vemto on same computer

![image](https://user-images.githubusercontent.com/1083631/197530089-bba4582f-de52-470f-8e98-469a3cb709de.png)

![image](https://user-images.githubusercontent.com/1083631/197530149-a676fe02-ecb8-450a-843f-31b34c79815a.png)

[2022-10-24 13:05] TiagoSilvaPereira commented on #380
@spham you need to *Vacate* the license from your Dashboard: https://vemto.app/home

![image](https://user-images.githubusercontent.com/11933789/197532227-5149d0f3-11d6-41cc-9382-1cfb8bc1668c.png)

[2022-10-24 13:05] #380 closed

[2022-10-25 02:38] bartclaeys opened #381 "Segmentation fault"
1. Installed a fresh Laravel 9 app.
2. Successfully generated files with Vemto 1.1.9.
3. When hitting "Run" seeding is happening, but it keeps on spinning forever.
4. I manually ran `php artisan migrate:fresh --seed` from the command line which starts seeding but then stops with error:

`51444 segmentation fault  /Applications/php/php8.0.8/bin/php artisan migrate:fresh --seed`

Only one of the tab

[2022-10-25 02:53] bartclaeys commented on #381
Could it be related to this?

<img width="613" alt="Screen Shot 2022-10-24 at 19 41 15" src="https://user-images.githubusercontent.com/167579/197669612-3c248f4a-e250-4b60-a437-99cfd6d992f5.png">

[2022-10-25 03:49] #381 closed

[2022-10-26 04:23] fredyns opened #382 "Relationship color"
Please add custom color to relationship line to help us identify the main relation.

it's been like a messy cables after creating many relationships. blocking brainstorming process.

[2022-10-26 12:00] TiagoSilvaPereira commented on #382
@fredyns thank you for your suggestion, I"m moving it to the Discussions channel

[2022-10-31 19:58] patrickzuili opened #384 "Just a quick question ?"
Its not to report a bug, but more understanding VEMTO by itself in general.

My Goal is to make the user table clickable (hyperlinking) to make it show the read action ?
So went on indexView_Table.vemtl and added @can and href associated before the tr closing this after the tr with </a><@endcan

no errors while compiling but it is not doing it what I wanted so I guess I miss something ?

Thank you

[2022-11-01 08:14] kodekrib opened #385 "Issues with npm build on vemto"
Hello, whenever I try to build my vemto project, I get the following error below, Please how do I fix the issues ASAP

Error: Command failed: npm run build
npm ERR! Missing script: "build"
npm ERR!
npm ERR! To see a list of scripts, run:
npm ERR!   npm run

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/kodekribtech/.npm/_logs/2022-11-01T08_06_37_952Z-debug-0.log

    at

[2022-11-01 12:41] TiagoSilvaPereira commented on #384
Hi @patrickzuili, I recommend you check the generated code to see if it was generated the way you want (I highly encourage you to make manual tests before changing the template so that you can be sure if the technique you are trying to implement works)

[2022-11-01 12:41] #384 closed

[2022-11-01 12:45] TiagoSilvaPereira commented on #385
Hi @kodekrib, you probably changed the Assets Builder from Vite to Mix, but it is not supported for new projects. Please change the Assets Builder to Vite under the project settings

[2022-11-01 12:45] #385 closed

[2022-11-01 12:47] kodekrib commented on #385
Ok let me try that. Thanks for letting me know

On Tue, 1 Nov 2022 at 1:46 PM, Tiago S. P. Rodrigues <
***@***.***> wrote:

[2022-11-02 07:27] fredyns opened #386 "can't open file"
[code]

---

vemto 1.1.9
Electron 8.5.5
win32 10.0.22000
Locale: en-US

[2022-11-02 07:29] fredyns commented on #386
relationship lines gone
![vemto eror](https://user-images.githubusercontent.com/4033019/199426404-324ef12e-06e9-4586-bc1b-8c19fecf4f4b.png)

[2022-11-02 22:14] patrickzuili commented on #384
Thank You.
I am having issues while doing the uml and generate everything goes as plan
but when I run it uses uml record name removed from the UML in previous
version. it look like the generated code and Database keep previous
versions and give me errors 1072 key column does not exist in table which
is obvious because removed it in the UML ?

On Tue, Nov 1, 2022 at 8:41 AM Tiago S. P. Rodrigues <

[2022-11-03 12:45] TiagoSilvaPereira commented on #384
Hi @patrickzuili, I'm not sure I understood the problem... could you please give more details with screenshots?

[2022-11-06 02:35] darco1991 opened #387 "Suggest: Undo, redo"
Hello @TiagoSilvaPereira , I love 'Vemto', it's bacansisimo, but you could add back buttons for actions, honestly, some of us are a disaster and we make chaos when we edit :(.

[2022-11-13 16:35] williamavelino opened #389 "Vemto"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2022-11-14 06:23] patrickzuili opened #390 "error while migration debug working just fine"
Hi I passed the debug status,
while doing a migration on production I am  getting this error while running fine on debug ?

SQLSTATE[42000]: Syntax error or access violation: 1075 Incorrect table definition; there can be only one auto column and it must be defined as a key (SQL: create table `users` (`id` bigint unsigned not null auto_increment primary key, `fname` varchar(255) not null, `lname` v

[2022-11-14 14:22] #389 closed

[2022-11-14 14:24] TiagoSilvaPereira commented on #390
Hi @patrickzuili you created ```current_team_id``` as a primary key (the correct one is a foreign key)

[2022-11-14 14:24] #390 closed

[2022-11-14 15:39] patrickzuili commented on #390
yes but it work in the debug mode ?Sent from my iPhoneOn Nov 14, 2022, at 9:24 AM, Tiago S. P. Rodrigues ***@***.***> wrote:﻿
Hi @patrickzuili you created current_team_id as a primary key (the correct one is a foreign key)

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-15 18:57] patrickzuili opened #391 "Look I have serious issue with vemto its not reliable while making update and correction in that uml let me explain"
getting continuously this error
 (PDOException(code: HY000): SQLSTATE[HY000]: General error: 3780 Referencing column 'claim_number' and referenced column 'id' in foreign key constraint 'claims_claim_number_foreign' are incompatible. at /Users/patrickzuili/Documents/TSI/tsi_insurance/vendor/laravel/framework/src/Illuminate/Database/Connection.php:544)

The only issue is that I dropped that table an

[2022-11-16 15:15] TiagoSilvaPereira commented on #391
@patrickzuili Suppose you removed the table and Vemto didn't remove the migrations (which is strange behavior, maybe your project migrations settings are incorrect, you can check them inside the Project settings). **In that case, you could delete them manually from your project folder, and the errors will disappear**. Generally, Vemto deletes migrations when you delete a model/table and run the co

[2022-11-16 15:15] #391 closed

[2022-11-16 20:00] sloanja opened #392 "crash"
[code]

---

vemto 1.1.9
Electron 8.5.5
win32 10.0.17763
Locale: en-US

[2022-11-17 03:22] walperg opened #393 "Modals dont work"
In Master detail modals don´t open.
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description o

[2022-11-17 12:13] TiagoSilvaPereira commented on #393
@walperg could you please give more details? Are there errors in the console?

[2022-11-17 14:00] spham opened #394 "i can't use after update to 1.2.0"
Hi
my vemto apps has update automatically, but license is disapear.
when I enter again, it show already use ...

[2022-11-17 14:12] TiagoSilvaPereira commented on #394
@spham, probably you have two or more Vemto instances opened. Please close all instances and open Vemto again

[2022-11-17 14:12] #394 closed

[2022-11-17 14:13] TiagoSilvaPereira commented on #393
@walperg seems there is a problem with alpine update... we are trying to fix it ASAP

[2022-11-17 14:13] TiagoSilvaPereira commented on #392
@sloanja thanks for reporting, I check it ASAP

[2022-11-17 14:39] t0nka opened #395 "code generation fails 1.2.0"
Unhandled Promise Rejection
TypeError: this.crud.dependentSelects is not iterable
    at Object.eval (eval at compile (app://./js/chunk-vendors.3a07e361.js:80:8946), <anonymous>:37:33)
    at i.compile (app://./js/chunk-vendors.3a07e361.js:80:8979)
    at i.compileWithErrorTreatment (app://./js/chunk-vendors.3a07e361.js:80:8839)
    at l.compile (app://./js/chunk-common.5adef34b.js:1:97372)
    at

[2022-11-17 14:42] t0nka commented on #395
on existing projects, running mac os

[2022-11-17 14:48] TiagoSilvaPereira commented on #395
@t0nka sorry for that, I'm already fixing it

[2022-11-17 15:10] TiagoSilvaPereira commented on #395
@t0nka fixed, please upgrade to 1.2.1

[2022-11-17 15:24] t0nka commented on #395
@TiagoSilvaPereira works as aspected! :-)

[2022-11-17 15:24] #395 closed

[2022-11-17 17:58] TiagoSilvaPereira commented on #302
Fixed on 1.1.9

[2022-11-17 17:58] #302 closed

[2022-11-17 17:59] TiagoSilvaPereira commented on #310
Fixed on Vemto 1.1.9

[2022-11-17 17:59] #310 closed

[2022-11-17 18:00] TiagoSilvaPereira commented on #311
Fixed previously

[2022-11-17 18:00] #311 closed, assigned to nobody

[2022-11-17 18:01] TiagoSilvaPereira commented on #360
Fixed on 1.2.0

[2022-11-17 18:01] #360 closed

[2022-11-17 18:01] TiagoSilvaPereira commented on #362
Fixed on 1.2.0

[2022-11-17 18:01] #362 closed

[2022-11-17 18:01] TiagoSilvaPereira commented on #368
Fixed on 1.2.0

[2022-11-17 18:01] #368 closed

[2022-11-17 18:02] TiagoSilvaPereira commented on #373
Closing due to lack of details

[2022-11-17 18:02] #373 closed

[2022-11-19 05:36] walperg commented on #393
Not, it only not open the modal windows, not say nothing in console, any idea how can i resolve it?

[2022-11-19 12:31] TiagoSilvaPereira commented on #393
@walperg yes, please disable Turbo in the project settings... soon we'll launch another Vemto version with Turbo disabled by default

[2022-11-21 01:12] walperg commented on #393
Thanks, i'm do it, but not working jet, i'm think the issue is livewire/livewire.js not exist

[2022-11-21 12:37] TiagoSilvaPereira commented on #393
Hi @walperg did you disable Turbo and generated the code again?

[2022-11-21 12:41] walperg commented on #393
Yes im do it , and see all the things in the page, and not find limeware.js

[2022-11-21 12:41] walperg commented on #393
Something more , im work in Windows and wamp server

[2022-11-24 12:16] ziming opened #397 "No more need of custom uuid trait"
Laravel 9 now has it's own uuid and ulid trait, we can use that instead of having an extra uuid trait file

https://laravel.com/docs/9.x/eloquent#uuid-and-ulid-keys

[2022-11-24 12:35] TiagoSilvaPereira commented on #397
@ziming thank you, I'll add this to the task list

[2022-11-25 20:16] smarano opened #398 "npm missing script: build"
**Describe the bug**
Fresh installation , win 10
prohject with laravel 7

Running npm run build
Command failed: npm run build
npm ERR! missing script: build

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\stefano\AppData\Roaming\npm-cache\_logs\2022-11-25T18_29_42_635Z-debug.log

![image](https://user-images.githubusercontent.com/6280138/204051561-90a1e4df-92c0-4929-91d

[2022-11-26 12:21] TiagoSilvaPereira commented on #398
Hi @smarano, for Laravel 7, please change the Assets Builder from Vite to Mix (but I strongly recommend not starting projects with Laravel 7, we are almost on version 10)

[2022-11-26 12:21] #398 closed

[2022-11-26 12:22] TiagoSilvaPereira commented on #393
Hi @walperg I did a lot of tests but could not reproduce the bug... did you try generating a different project?

[2022-11-26 21:48] walperg commented on #393
Yes i'm try, can you send me your settings? thanks!!

[2022-11-27 08:57] smarano opened #399 "HasApiTokens' not found"
Fresh install
Laravel 7 with mix.
Applications: only "Users" application
Plugins: "Simple multi tenancy"

**When RUNNING,**
local.ERROR: Trait 'Laravel\Sanctum\HasApiTokens' not found {"exception":"[object] (Symfony\\Component\\ErrorHandler\\Error\\FatalError(code: 0): Trait 'Laravel\\Sanctum\\HasApiTokens' not found at C:\\DEV\\projects\\NARCISO\\vemtotest3\\app\\Models\\User.php:11)

![image](ht

[2022-11-27 09:00] smarano commented on #399
Fixed with manual:
composer require laravel/sanctum

But should that be done from Vemto itself ?

[2022-11-27 10:57] #399 closed

[2022-11-28 13:02] TiagoSilvaPereira commented on #393
Hi @walperg, I tested with standard Vemto settings. I'll close the issue for now, as it seems there is no issue on the Vemto side. Please feel free to keep commenting and sending information here if necessary

[2022-11-28 13:02] #393 closed