[2020-09-23 03:26] fhferreira opened #1 "[BUG] Composer is not found"
I've created one simple "project" and I receive that error about "composer" on "Generate" button.

[MacOS BigSur]
Error: Command failed: composer /bin/sh: composer: command not found

![image](https://user-images.githubusercontent.com/140686/93963362-5cc81f80-fd33-11ea-94d0-3d7bfe0d6019.png)

[2020-09-23 03:45] fhferreira commented on #1
Just to add more info:
![image](https://user-images.githubusercontent.com/140686/93964488-158f5e00-fd36-11ea-9119-ffc210a4f971.png)

[2020-09-23 12:40] TiagoSilvaPereira commented on #1
Hi @fhferreira please check if Composer is accessible calling it from the folder you created the project on your terminal

[2020-09-24 15:54] TiagoSilvaPereira commented on #1
Hi @fhferreira I just added a way to configure the composer path on Vemto
![image](https://user-images.githubusercontent.com/11933789/94169331-0f4bcf80-fe65-11ea-9f75-7ba6e98f474a.png)

[2020-09-24 15:54] #1 closed

[2020-09-24 18:59] fhferreira commented on #1
To update I should download the "DMG" again or you will provide an feature to automatically update?

[2020-09-24 19:04] fhferreira commented on #1
@TiagoSilvaPereira I've downloaded the last version of Vemto but the problem persist.

![image](https://user-images.githubusercontent.com/140686/94188381-ade52a00-fe7f-11ea-98d5-481dca219028.png)

[2020-09-24 19:07] fhferreira commented on #1
the path is already the composer bin, not a directory.
![image](https://user-images.githubusercontent.com/140686/94188473-d2d99d00-fe7f-11ea-8a10-c10edb0e7b3a.png)

[2020-09-24 20:25] TiagoSilvaPereira commented on #1
Hi @fhferreira please remove the composer from the path and keep only /usr/local/bin/

Vemto updates automatically after you open it (please wait to the message after the download), then close and open it again

[2020-09-24 23:24] ibuilder opened #2 "toobig"
[code]

---

vemto 0.4.10
Electron 8.5.0
win32 10.0.18362
Locale: en-US

[2020-09-25 14:14] TiagoSilvaPereira commented on #2
Hi, @ibuilder thanks for reporting this issue. Could you please send a PrintScreen of the schema so I can reproduce the issue?

[2020-09-25 16:48] TiagoSilvaPereira commented on #2
@ibuilder I just noticed you are on 0.4.10, this bug was fixed on 0.4.12... please update to the latest version to test again (by default, Vemto updates automatically after closing and opening again, but you can download the latest version [here](https://github.com/TiagoSilvaPereira/vemto-releases/releases)). Thanks

[2020-09-25 16:50] #2 closed

[2020-09-26 00:02] smayzes opened #3 "Cannot find module 'vue-debounce'"
When I first opened the app I get this error. I cannot see anything else but a blank screen.

[code]

---

vemto 0.4.13
Electron 8.5.0
darwin 19.6.0
Locale: en-US
macOS: Catalina

[2020-09-26 00:30] TiagoSilvaPereira commented on #3
Hi, @smayzes thanks for reporting. I just fixed it on 0.4.14. Cheers

[2020-09-26 00:30] #3 closed

[2020-09-26 02:33] lucapellegrino70 opened #4 "[BUG] Error in Windows version when clicking 2 times any icon on the left menu"
[code]

---

vemto 0.4.14
Electron 8.5.0
win32 10.0.18362
Locale: en-US

[2020-09-26 21:49] rohithmeethal opened #5 "[BUG] Multi-word resource route names, words are separated by "_" instead of "-""
**Describe the bug**
Multi-word resource like `UserType` will have resource name like `user-types.index` but in generated code `user_types`.index is used, that is "_" used instead of "-" in separating words. This leads to route not found issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Create resource UserType
2. Create CRUD for UserType

**Expected behavior**
No route found issues

**

[2020-09-26 21:57] rohithmeethal opened #6 "Use related models in relation fields CRUD"
**Is your feature request related to a problem? Please describe.**
If User has many Cars, currently when creating Car I have to enter user_id in CRUD, which is not practical.

**Describe the solution you'd like**
If User has many Cars, on creating Car I should be able to choose the User from a drop down in CRUD UI.

[2020-09-26 22:01] rohithmeethal opened #7 "[ENHANCEMENT] Add "exists:table,column" validation for the relationship fields"
**Is your feature request related to a problem? Please describe.**
By default no validation is added for relationship fields

**Describe the solution you'd like**
On generating relationship, I want CRUD to include `exists:table,column` validation by default.

[2020-09-26 22:09] rohithmeethal opened #8 "[ENHANCEMENT] No warning about destructive behavior of generator"
**Describe the bug**
It isn't obvious on destructive behavior of generator, since it deletes all the files before regenerating.

**To Reproduce**
1. Generate code
2. Make modification to any file
3. Generate code

**Expected behavior**
Warning if any file is getting replaced.
Skip generating same files if the contents are same.
Track update of editing of resources so that only required files are m

[2020-09-27 08:19] rohithmeethal opened #9 "[BUG] check for npm always fails in Ubuntu even if it exists"
**Describe the bug**
Even if npm exists in the path or we give absolute folder path, it still fails.
I think it is because the way npm is checked.
executing just `npm` will give exit status as 1 in my terminal. So if the script is checking for exit status 0 this fails.
If you run something like `npm version` instead, exit status would be 0.

**To Reproduce**
Try to run "RUN" from vemto in Ubuntu w

[2020-09-28 13:01] TiagoSilvaPereira commented on #6
Hi @rohithmeethal thank you for your advice. To add a dropdown on relationship fields, please try to use select fields, it will generate the correct relationship dropdown:
![image](https://user-images.githubusercontent.com/11933789/94435485-93f26280-0171-11eb-802e-eac4a3284feb.png)

[2020-09-28 13:01] #6 closed

[2020-09-28 13:46] TiagoSilvaPereira opened #10 "[BUG] [IMPORTANT] Change the Database Layer to support new features"
**Describe the bug**

One thing that made me delay the development was the wrong database choice...  Now, after the pre-alpha release, I'll change the database layer totally to something I'm writing to fit the application needs and eliminate a lot of workarounds and improve the testability.

The database I choose made me nuts during the development :smile:  It's not a bad database, but certainly w

[2020-09-28 13:50] TiagoSilvaPereira commented on #7
Thanks for your suggestion @rohithmeethal I'll add this option after finishing #10

[2020-09-28 13:55] TiagoSilvaPereira commented on #8
Hi @rohithmeethal thanks for your suggestion. As it isn't quite a bug, but a common behavior on code generators, I'll mark it as an enhancement. It is already in my plans and on the roadmap to track changes on individual files, but currently, I recommend using Vemto only to start new projects

[2020-09-28 13:56] TiagoSilvaPereira commented on #8
I'll add a warning to the generation page too

[2020-09-28 13:57] TiagoSilvaPereira commented on #4
Thanks @lucapellegrino70 I'll check it

[2020-09-28 13:57] TiagoSilvaPereira commented on #5
Thanks @rohithmeethal  I'll check it

[2020-09-28 16:03] TiagoSilvaPereira opened #11 "[BUG] Vemto is replacing the .env custom settings"
**Describe the bug**
Vemto is replacing the .env custom settings if I change it manually them generate the code again

**Expected behavior**
Vemto needs to skip all custom .env properties (although the preferred way of changing these properties is through Vemto settings)

[2020-09-28 16:35] TiagoSilvaPereira commented on #4
Fixed on 0.4.15

[2020-09-28 16:35] #4 closed

[2020-09-28 16:36] TiagoSilvaPereira commented on #5
Fixed on 0.4.15

[2020-09-28 16:36] #5 closed

[2020-09-28 16:36] TiagoSilvaPereira commented on #9
@rohithmeethal Thanks for reporting it

Fixed on 0.4.15

[2020-09-28 16:36] #9 closed

[2020-09-28 16:36] TiagoSilvaPereira commented on #11
Fixed on 0.4.15

[2020-09-28 16:36] #11 closed

[2020-09-28 16:43] rohithmeethal commented on #6
Thanks :)

[2020-09-29 13:36] ocontreras4 opened #12 "Error"
![verror01](https://user-images.githubusercontent.com/42900101/94565489-e6de1f80-022e-11eb-8d40-0275fcc2cc20.png)
[code]

---

vemto 0.4.14
Electron 8.5.0
win32 10.0.18363
Locale: en-US

[2020-09-29 19:35] TiagoSilvaPereira commented on #12
Hi @ocontreras4 thanks for reporting. This bug was fixed on 0.4.15... please upgrade to the latest version to avoid this message.

[2020-09-29 19:35] #12 closed

[2020-09-29 20:18] ibuilder opened #13 "[BUG] Stacksize when generating the code (problem calculating the entity weight)"
[code]

---

vemto 0.4.15
Electron 8.5.0
win32 10.0.19041
Locale: en-US

[2020-09-29 21:24] TiagoSilvaPereira commented on #13
Hi @ibuilder thanks for reporting. Could you please add a screenshot of the schema screen so I can reproduce the issue?

[2020-10-03 02:50] daryledesilva opened #14 "[BUG] got this error after installing in windows, then clicking Create Project"
[code]

---

vemto 0.4.15
Electron 8.5.0
win32 10.0.18362
Locale: en-GB

[2020-10-03 02:58] daryledesilva opened #15 "[ENHANCEMENT] Unique key for field options"
Please check this screenshot for quick explanation

![image](https://user-images.githubusercontent.com/4393436/94981738-502f9c80-0567-11eb-9249-3ea425d8e978.png)

[2020-10-03 03:05] daryledesilva opened #16 "[BUG] Error in windows when reordering fields under entity options"
[code]

---

vemto 0.4.15
Electron 8.5.0
win32 10.0.18362
Locale: en-GB

[2020-10-03 17:35] TiagoSilvaPereira commented on #14
Hi @daryledesilva thank you for reporting... is it always happening when you open the app?

[2020-10-03 17:36] TiagoSilvaPereira commented on #15
Thank you @daryledesilva for your suggestion... I'll add this option after changing the database layer on issue #10

[2020-10-03 17:37] TiagoSilvaPereira commented on #16
Thanks for reporting sir... Could you please send me a screenshot of your fields so I can check what is happening?)

[2020-10-14 02:28] daryledesilva commented on #16
ah yeah sorry i forgot to attach the screenshot. anyway i'll try to reproduce this issue again but no promises if i can provide the screenshot 👍

[2020-10-14 02:29] daryledesilva commented on #14
hey, last time I remember, it was only during post-installation then clicking Create project. after that i havent tried creating new projects again, so only saw this error once

[2020-10-15 23:27] conecta-web opened #17 "Error: Execution blocked due to potentially dangerous command"
[code]

---

vemto 0.4.15
Electron 8.5.0
win32 10.0.17134
Locale: pt-BR

[2020-10-16 02:51] TiagoSilvaPereira commented on #17
Hi @conecta-web could you please send me the folder name where you are saving the project? A think that it has some special character that is being blocked by Vemto for security when trying to execute a command

[2020-10-20 17:45] TiagoSilvaPereira commented on #7
Added to 0.5.2

[2020-10-20 17:45] #7 closed

[2020-10-20 17:45] TiagoSilvaPereira commented on #10
Database Layer changed on 0.5.2

[2020-10-20 17:45] #10 closed

[2020-10-20 17:46] TiagoSilvaPereira commented on #13
Fixed on 0.5.2

[2020-10-20 17:46] #13 closed

[2020-10-20 17:46] TiagoSilvaPereira commented on #14
Fixed on 0.5.2

[2020-10-20 17:46] #14 closed

[2020-10-20 17:46] TiagoSilvaPereira commented on #17
Fixed on 0.5.2

[2020-10-20 17:46] #17 closed

[2020-10-20 17:48] TiagoSilvaPereira commented on #16
Hi, @daryledesilva I think it will don't happen on 0.5.2... I'm closing for now, but feel free to comment here if the problem happens again. Have a nice day, thanks!

[2020-10-20 17:48] #16 closed

[2020-10-30 11:30] computer-logix opened #18 "[BUG] Space in project path causes error in Windows"
If you start a project with a space in it the 'git clone' command fails due to too many arguments on window.
In this case I used the path **_c:\Downloads\test project_**

![space in project name](https://user-images.githubusercontent.com/19731113/97700062-94885c80-1a81-11eb-8030-f6b60aa45994.png)

[2020-10-30 11:37] computer-logix opened #19 "[ENHANCEMENT] Setting common .env variables before project generation"
It would be nice if some of the .env variables could be pre-configured before generating the project

REDIS_PASSWORD for example.

[2020-10-30 14:05] IgorPC opened #20 "Hello. First of all I would like to praise the project, I am a PHP developer and I admit that this system seems to be very efficient."
[code]

However, when I was generating a test code, I received the following error, can you help me with this?

---

vemto 0.5.3
Electron 8.5.2
win32 10.0.19041
Locale: pt-BR

[2020-10-30 14:05] #20 closed

[2020-10-30 14:06] IgorPC commented on #20
An issue has already been opened as the same objective

[2020-10-30 14:08] IgorPC commented on #18
![image](https://user-images.githubusercontent.com/42573469/97714691-3d45b480-1aa0-11eb-8342-07ec62265f39.png)

[2020-10-30 14:10] TiagoSilvaPereira commented on #18
Hi @computer-logix thank you for opening the issue, I'll fix this soon

[2020-10-30 14:14] computer-logix commented on #18
Not a problem.   I don't normally uses spaces in any paths but it was the first problem that popped up for me when testing.

I purchased a lifetime business license because I can see this as being a great timesaver if you manage to accomplish your roadmap of features.  Great work!

[2020-10-30 14:28] TiagoSilvaPereira commented on #18
@computer-logix thank you very much for your support

[2020-10-30 15:00] IgorPC commented on #18
Hello @TiagoSilvaPereira, I believe my problem is the same as @computer-logix. I await the correction of this bug. But I congratulate you for the great job.

[2020-10-30 20:23] TiagoSilvaPereira commented on #18
@computer-logix @IgorPC thank you for reporting it... I just fixed it on 0.5.4 (the update is automatic, but you can download it on the site too).

Cheers

[2020-10-30 20:23] #18 closed

[2020-10-31 09:42] CrixuAMG opened #21 "[BUG] Foreign key listed twice in model factory"
**Describe the bug**
After creating an entity that belongs to another entity via a foreign key, the foreign key (user_id for example) is listed twice in the entities' factory.

**To Reproduce**
Steps to reproduce the behavior:
See description above.

**Expected behavior**
The key should not be listed twice

**Screenshots**
[https://imgur.com/a/nXDFGsx](https://imgur.com/a/nXDFGsx)

**Desktop (plea

[2020-10-31 11:51] gpx75 opened #22 "[BUG] Command failed: npm -v /bin/sh: npm: command not found"
**Describe the bug**

Hi by executing a run i got the error /bin/sh: npm command not found
npm and node is installed via nvm with latest version, I tried  to install with brew as well but get the same error.

npm path is set to /Users/gp/.nvm/versions/node/v15.0.1/bin in the application or left blank

❯ which npm
/Users/gi/.nvm/versions/node/v15.0.1/bin/npm

❯ npm -v
7.0.3

❯ node -v
v15.0.1

Than

[2020-10-31 12:37] taliesinpenbardd opened #23 "[BUG] Order of blank fields in Schema editor"
When adding fields to an Entity in the Schema editor, after a few fields added, the new blank fields appear inside the list, instead of at the end of it. It can be confusing to look for it, when it'd be easier to know that it's the last field.

Plus reordering the fields, for the sake of lisibility, is confusing : all of them move when one is moved. I guess it would be more logical to just have th

[2020-10-31 15:12] TiagoSilvaPereira commented on #21
Hi @CrixuAMG thank you for reporting it... could you please send a Schema screenshot so I can reproduce the issue here? Cheers

[2020-10-31 15:35] TiagoSilvaPereira commented on #23
Hi @taliesinpenbardd thank you for reporting this issue... I'll give an eye on it. Cheers

[2020-10-31 15:37] CrixuAMG commented on #21
Hey Tiago,

Sure, here's a link. Let me know if you need anything else!

[https://imgur.com/a/XcEyeC6](https://imgur.com/a/XcEyeC6)

[2020-10-31 15:46] taliesinpenbardd commented on #22
Same on MacOS 10.15.7, with NPM installed via Homebrew and added to the PATH:
[code]

[code]

But Vemto cannot find NPM, either if I let it use the global NPM or if I fill in `/usr/local/bin` in the general parameters. Can't go further yet, the app won't run.

`Error: Command failed: /usr/local/bin/npm -v env: node: No such file or directory`
but in my terminal, `$ /usr/local/bin/npm -v` works fin

[2020-11-01 11:38] BriscoPeas93 opened #24 "[BUG] Maximum call stack size exceeded"
[code]

---

vemto 0.5.4
Electron 8.5.2
darwin 19.6.0
Locale: fr

[2020-11-01 17:07] TiagoSilvaPereira commented on #24
Hi @BriscoPeas93 could you please send a screenshot of the Schema so I can reproduce the error? Thank you

[2020-11-01 22:58] BriscoPeas93 opened #25 "[BUG] TypeError: Cannot read property 'save' of null"
[code]

---

vemto 0.5.4
Electron 8.5.2
darwin 19.6.0
Locale: en-US

[2020-11-02 13:17] TiagoSilvaPereira commented on #25
Hi @BriscoPeas93 could you please provide a screenshot or more details showing when the error happens?

[2020-11-02 19:06] TiagoSilvaPereira commented on #21
Hi @CrixuAMG I just tried it but I could not reproduce the issue... could you check if the issue continues even after generating the code again?

![image](https://user-images.githubusercontent.com/11933789/97908218-29f74b00-1d25-11eb-8576-5662a69bcf4f.png)
![image](https://user-images.githubusercontent.com/11933789/97908294-42fffc00-1d25-11eb-9b14-157f4580a9b9.png)

[2020-11-02 20:07] CrixuAMG commented on #21
Hi @TiagoSilvaPereira,

I tried it again, the main difference I noted after it occurring again is that my user_id field in Vemto is of type Foreign ID. Maybe this has something to do with the way the keys are generated in the model factory?

[2020-11-02 20:44] TiagoSilvaPereira commented on #21
Oh yeah!! Thank you, bro, that was the problem... I wasn't noticing it because I generally don't add the Foreign manually, I just create the relationship and let Vemto create it automatically, but it always creates as "Unsigned Big Integer". Changing to "ForeignId" I was able to reproduce and fix the problem.

I'll close the issue once I launch the next version.

Cheers!

[2020-11-02 20:48] CrixuAMG commented on #21
No problem!

Also, I am working on getting my new colleagues excited on getting Vemto licenses. 😉

[2020-11-02 22:32] TiagoSilvaPereira commented on #21
Awesome to know that :smile: I just launched Vemto 0.5.5 with these fixes. If you have another issue, please feel free to open another issue. Thank your bro, have a nice day.

[2020-11-02 22:32] #21 closed

[2020-11-02 22:33] TiagoSilvaPereira commented on #22
Hi @gpx75 @taliesinpenbardd I just launched Vemto 0.5.5 that fixes these issues. If you have another problem, feel free to open an issue here. Thank you and have a nice day

[2020-11-02 22:33] #22 closed

[2020-11-02 22:33] TiagoSilvaPereira commented on #23
Hi @taliesinpenbardd I just fixed it on Vemto 0.5.5... Have a nice day, thank you

[2020-11-02 22:33] #23 closed

[2020-11-02 22:38] TiagoSilvaPereira commented on #24
Hi @BriscoPeas93 this problem was happening when the Schema had a circular relation, for example (A User has many Pets and a Pet has many users, but not using a pivot table with "Belongs to Many" relationship). So, in the new Vemto 0.5.5 that I launched today, it is no longer more possible to add a circular relation, as the correct way to do it is using a **"Belongs to Many"** relationship.

If yo

[2020-11-02 22:38] #24 closed

[2020-11-02 22:50] TiagoSilvaPereira commented on #8
Currently closing that as the current state of Vemto is to be a One-Side Code Generator... In the future, I think I can improve it to handle the current code and to work with existing projects. Thank you for your suggestion sir.

[2020-11-02 22:50] #8 closed

[2020-11-02 23:11] taliesinpenbardd opened #26 "Command failed: "npm" -v"
I still can't "run" the project in Vemto because Vemto can't see NPM.

MacOS 10.15.7
Vemto 0.5.5
[code]

On the settings page, I've tried to leave the NPM field free, or to fill it with `/usr/local/bin` but to no avail. Could there be some sort of caching that prevents the change to be effective?

Is there anything I can tell you about it that could help you to reproduce that?
Thanks!

[2020-11-02 23:12] taliesinpenbardd commented on #23
That's corrected, thank you!

[2020-11-02 23:18] TiagoSilvaPereira commented on #26
Hi @taliesinpenbardd today, after I finished 0.5.5, I had a similar issue... It was gone after rebooting the computer... could you please try rebooting to see if it could fix the problem?

It is hard to know what is happening in that case but I'll research more to understand.

[2020-11-02 23:24] taliesinpenbardd commented on #26
I will try to reboot the computer, but in the meantime, I've tried to run NPM from iTerm, and I have an error, that may be the source of the problem:

[code]

Would that help you?

[2020-11-02 23:31] TiagoSilvaPereira commented on #26
Hmm... the error above seems like a problem with the node_modules inside the folder you are running the command (https://github.com/JeffreyWay/laravel-mix/issues/1072)... probably doesn't have a relation with the Vemto problem. Is it possible to try reinstalling node and npm and try with Vemto again?

[2020-11-03 03:00] buckhornmktg opened #27 "[BUG] Composer install fails, doesn't find correct PHP version"
**Describe the bug**
Composer install fails, because it gets the wrong PHP version on OSX versions which include PHP by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Install PHP 7.4 with brew on a mac that already has PHP installed by default
2. Generate the code
3. Composer errors out

**Expected behavior**
Run composer install w/o error

**Desktop (please complete the following

[2020-11-03 07:41] buckhornmktg commented on #27
All paths are correct, composer from terminal (bash,sh,zsh) all working as expecting, using php 7.4. Vemto uses system php 7.1. Even though everything is installed globally, I have to set the paths in the settings on the home screen. Composer install from Vemto uses PHP 7.1 CLI and shell uses the correct PHP 7.4 version.

[code]

[2020-11-03 09:57] gpx75 commented on #22
Hi @TiagoSilvaPereira

Same issue after upgrading

MAC version 10.15.7

![image](https://user-images.githubusercontent.com/10692912/97970325-a6d80280-1dc1-11eb-95a7-542e83cf7384.png)

this is from the terminal notice the last command throwing a syntax error by prefixing /bin/sh:

![image](https://user-images.githubusercontent.com/10692912/97971329-24504280-1dc3-11eb-8362-bb31e050b41b.png)

thanks

[2020-11-03 10:00] gpx75 opened #28 "npm: command not found"
Hi @TiagoSilvaPereira

Same issue after upgrading

MAC version 10.15.7

![image](https://user-images.githubusercontent.com/10692912/97970325-a6d80280-1dc1-11eb-95a7-542e83cf7384.png)

this is from the terminal notice the last command throwing a syntax error by prefixing /bin/sh:

![image](https://user-images.githubusercontent.com/10692912/97971329-24504280-1dc3-11eb-8362-bb31e050b41b.png)

thanks

[2020-11-03 11:20] taliesinpenbardd commented on #26
Side note: you should trim and escape the settings fields. I tried to add a space after `/usr/local/bin ` and the result is an expected error : `Command failed: "/usr/local/bin\ /npm" -v`

[2020-11-03 12:39] TiagoSilvaPereira commented on #28
Hi @gpx75 thank you for reporting... what happens if you add the npm path to the Vemto settings on Home Page?

[2020-11-03 12:40] TiagoSilvaPereira commented on #26
Thanks, I'll add a trim to the next version... Is it running now or the same issue yet?

[2020-11-03 12:42] taliesinpenbardd commented on #26
Same issue still, but that may be because of a dependency conflict on my computer. I'll try and figure it out later.

[2020-11-03 12:43] TiagoSilvaPereira commented on #27
Hi @buckhornmktg thank you for reporting... is it running after adding the paths to the home screen?

[2020-11-03 12:43] buckhornmktg commented on #28
Same problem here... even with the correct path in the Vemto settings.

[2020-11-03 12:55] buckhornmktg commented on #27
Hi @TiagoSilvaPereira when I set the path in the home screen settings, generate will find php and everything works fine until `composer install` runs, then I get php version errors. I checked, composer looks for php with this: /usr/bin/env php -v and that command returns the correct version when I'm using terminal. Vemto uses the system PHP 7.1 which is installed by the OS. I don't know why /usr/b

[2020-11-03 13:02] TiagoSilvaPereira commented on #28
@gpx75 @buckhornmktg I think I discovered what is happening... I'll launch a fix in some hours. Sorry for the inconvenience.

[2020-11-03 15:08] buckhornmktg commented on #28
@TiagoSilvaPereira fantastic! Thank you.

[2020-11-04 01:40] ShadowDark93 opened #29 "[BUG] No lock file found. Updating dependencies instead of installing from lock file"
Unhandled Promise Rejection
Error: Command failed: "C:/composer/composer" install
No lock file found. Updating dependencies instead of installing from lock file. Use composer update over composer install if you do not have a lock file.
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.
  Problem 1

[2020-11-04 02:29] TiagoSilvaPereira commented on #26
Hi @taliesinpenbardd sorry for the late, I just sent **Vemto 0.5.7**. I discovered that on macOS, electron overwrites $PATH environment variable, so it causes this type of errors. I hope it works now... Have a nice day, cheers

[2020-11-04 02:30] TiagoSilvaPereira commented on #27
Hi @buckhornmktg please check now with **Vemto 0.5.7**. I discovered that on macOS, electron overwrites $PATH environment variable, so it causes this type of errors. I hope it works now... Have a nice day, cheers

[2020-11-04 02:32] TiagoSilvaPereira commented on #29
Hi @ShadowDark93 please upgrade to **Vemto 0.5.7**. This problem was happening because today, the Laravel team changed the master branch to the upcoming Laravel 9, so Vemto was installing the wrong version. I just fixed it to install Laravel 8 correctly. Cheers

[2020-11-04 02:32] #29 closed

[2020-11-04 02:34] TiagoSilvaPereira commented on #28
@gpx75 @buckhornmktg please try with **Vemto 0.5.7**... I hope it works now, I made several changes to improve macOS generation. Have a nice day

[2020-11-04 02:36] TiagoSilvaPereira commented on #25
Hi @BriscoPeas93 could you please provide some screenshots so I can reproduce the issue? Thank you

[2020-11-04 02:42] ShadowDark93 commented on #29
solved with it, is so cool this app, I love it.... <3

[2020-11-04 03:41] buckhornmktg commented on #27
Got it bud, great job!

[2020-11-04 03:41] #27 closed

[2020-11-04 03:48] buckhornmktg commented on #28
Yes, works now. Thanks. I removed the settings from the home screen and no errors, seems like the correct $PATH var is being used now.

[2020-11-04 09:00] taliesinpenbardd commented on #26
Well, with this version, Vemto recognizes NPM, that's an improvement! Next error is:
[code]

If doing `$ npm run dev` in iTerm, I get that prompt to install webpack-cli:
<img width="795" alt="Capture d’écran 2020-11-04 à 09 53 30" src="https://user-images.githubusercontent.com/2260685/98090349-d21f2800-1e7b-11eb-8ed9-289fc57c9c88.png">

And it finally fails with a Webpack configuration error:
[c

[2020-11-04 09:00] taliesinpenbardd commented on #26
Didn't mean to close the issue...

[2020-11-04 11:45] MarkD95 opened #30 "[BUG] Order of Migration files created"
**Describe the bug**
When designing a database schema using the schema builder and exporting said design, the exported migration files are out of order in the sense that foreign key constraints on some of the tables attempting to be migrated are not valid due to the foreign table not existing yet (yet to be migrated).
**To Reproduce**
Steps to reproduce the behavior:
1. Design a database schema wi

[2020-11-04 12:25] TiagoSilvaPereira commented on #30
Hi @MarkD95 thank you for reporting. Could you please send me a screenshot of your Schema so I can reproduce the issue? By default, Vemto tries to order the migrations based on foreign keys, so I would need to check the Schema to understand what is happening. Have a nice day!

[2020-11-04 12:27] TiagoSilvaPereira commented on #28
Perfect @buckhornmktg :clap: :clap: :clap: closing for now... some problem, please feel free to comment here

[2020-11-04 12:27] #28 closed

[2020-11-04 12:43] TiagoSilvaPereira commented on #26
Hi @taliesinpenbardd it seems like an issue with Laravel Mix... please try these instructions from the mix repository: https://github.com/JeffreyWay/laravel-mix/issues/16

Something like it may work:
[code]
Or you can try it:

[code]

Yesterday the Laravel Team changed the master branch to point to the upcoming Laravel 9... so I needed to change Vemto to clone Laravel 8 from a new branch. If you a

[2020-11-04 12:43] #26 closed

[2020-11-04 13:53] taliesinpenbardd commented on #26
I did that, and erased and generated again the project, but I'm stuck on the same stage with the same errors.
Just to be sure, I created a new project with `laravel new donations2`, then both `yarn && yarn dev` and  `npm install && npm run dev` run smoothly (I obviously removed the node_modules folder and the yarn.lock file before trying the npm command).
Well, I'll test it later. Have a nice day!

[2020-11-04 13:57] TiagoSilvaPereira commented on #26
Perfect, if the problem continues, please feel free to contact me

[2020-11-06 15:40] buckhornmktg commented on #30
I'm having this issue too. Maybe the solution is to put the foreign keys in a separate migration files that run after all the tables are created.

[2020-11-06 16:53] TiagoSilvaPereira commented on #30
@buckhornmktg could you please send a screenshot of your Schema (you can send it to the email contact@vemto.app if you prefer)... Vemto by default tries to order the migrations based on the foreign, but I probably missed some scenario in the algorithm that does this sorting. Thanks, have a nice day

[2020-11-06 16:56] TiagoSilvaPereira opened #31 "[ENHANCEMENT] Improve performance for large projects"
When a project is big, Vemto has some performance issues. It will be necessary to improve RelaDB database performance to fix these issues.

[2020-11-06 19:51] peterjumpnl opened #32 "[BUG] Vemto cannot find installed composer"
**Describe the bug**
At generating code, composer is checked on the system.
I have composer installed and can use it from the terminal, but in Vemto I get a bug report.
![image](https://user-images.githubusercontent.com/25691761/98408551-9c439480-2071-11eb-8193-9a1e4dd19509.png)

I am working on a Windows 10 desktop with Vemto 0,57.
Installed composer: 1.10.x

[2020-11-06 19:59] peterjumpnl commented on #32
Hmm, by configuring the composer path myself, I got it fixed.

[2020-11-06 19:59] #32 closed

[2020-11-06 23:48] buckhornmktg commented on #30
I'll send a screenshot shortly, but trying to keep the FKs in sync is not a great approach. Here's what you should be doing...

Build all your migrations w/o the FK.

**create_notes_table.php**

        Schema::create('notes', function (Blueprint $table) {
            $table->bigIncrements('id');
            $table->unsignedBigInteger('user_id')->index('notes_user_id_foreign');
            $table-

[2020-11-07 03:56] SyahalTastari opened #33 "[BUG] Network Error"
[code]

---

vemto 0.5.7
Electron 8.5.2
win32 10.0.18363
Locale: en-US

[2020-11-07 14:19] TiagoSilvaPereira commented on #33
Hi @SyahalTastari could you please give some details about where and how the error happened? Thank you

[2020-11-08 02:27] buckhornmktg opened #34 "[BUG] Missing validation settings"
**Describe the bug**
When an image field is added the validation settings disappear.

**To Reproduce**
1. Add an image field as a standalone field, input name is the same as the field name. (Linked to model field option doesn't work.)

2. Click the validation tab and the page is blank.

3. Remove the picture field and click validation tab again and the settings will be back.

**Desktop (please com

[2020-11-08 02:45] buckhornmktg commented on #34
Actually, this may be happening with any standalone field.

[2020-11-09 12:20] EvertonWingert opened #35 "[BUG] Maximum call stack size exceeded when generating migrations"
[code]

---

vemto 0.5.7
Electron 8.5.2
win32 10.0.19041
Locale: pt-BR

[2020-11-09 13:09] TiagoSilvaPereira commented on #34
Hi @buckhornmktg thank you for reporting it, I'll fix it for the next Vemto version. Cheers

[2020-11-09 13:10] TiagoSilvaPereira commented on #35
Hi @EvertonWingert thank you for reporting this problem. Could you please provide a screenshot of your Schema, so I can reproduce the error? Have a nice day, thank you

[2020-11-10 18:47] Max2131970 commented on #35
The same error

![image](https://user-images.githubusercontent.com/74265295/98717583-8c87c100-238d-11eb-96c8-a4f03c8b4c5b.png)

[2020-11-10 19:13] TiagoSilvaPereira commented on #25
Hi @BriscoPeas93 I'm closing for now... if the error continues, please feel free to comment here. Thanks

[2020-11-10 19:13] #25 closed

[2020-11-14 02:05] hasanslaravelproject opened #36 "[BUG]"
I found this error while run the code. I installed npm  and added the path inside environment variable.

 Error: Command failed: "npm" -v internal/modules/cjs/loader.js:883 throw err; ^ Error: Cannot find module 'C:\Users\Lizaa\AppData\Local\Programs\vemto\node_modules\npm\bin\npm-cli.js' at Function.Module._resolveFilename (internal/modules/cjs/loader.js:880:15) at Function.Module._load (internal

[2020-11-14 03:53] hasanslaravelproject commented on #36
Ohhh!!! I got the solution the following way.
copy  'node_modules' folder
from C:\Program Files\nodejs
and paste it inside npm folder
C:\Users\Your_user_name\AppData\Roaming\npm

Thanks.

[2020-11-14 13:32] TiagoSilvaPereira commented on #36
Hi @hasanslaravelproject thank you for reporting and posting the solution. I'll close for now. If you have any problem, please feel free to open another issue here. Cheers

[2020-11-14 13:32] #36 closed

[2020-11-15 03:30] TiagoSilvaPereira commented on #30
Hi @MarkD95 and @buckhornmktg sorry for the late, this week I fixed a lot of issues and made a lot of improvements with Vemto.

@buckhornmktg Thank you very much for your suggestion, I just implemented it and it worked perfectly (The problem with the migrations is that I was generating wrong migration names, eg: instead of date_000015_create..., I was generating date_150000_create... as @MarkD95 c

[2020-11-15 03:30] #30 closed

[2020-11-15 03:32] TiagoSilvaPereira commented on #31
Added a Cache Layer to the RelaDB database for Vemto 0.5.9 version

[2020-11-15 03:32] #31 closed

[2020-11-15 03:32] TiagoSilvaPereira commented on #34
Hi @buckhornmktg I just fixed it on **Vemto 0.5.9**

[2020-11-15 03:32] #34 closed

[2020-11-15 03:33] TiagoSilvaPereira commented on #35
Hi @EvertonWingert it was fixed on **Vemto 0.5.9**. Cheers

[2020-11-15 03:33] #35 closed

[2020-11-15 17:25] hasanslaravelproject commented on #32
Would you please, write the correct and full path for windows10? I got the same error. Please, write in details. Thanks

[2020-11-15 20:54] hasanslaravelproject opened #37 "Composer --version command failed (for windows10_users)"
![image](https://user-images.githubusercontent.com/46935393/99196465-d6f1af00-278c-11eb-8f46-196e1ef05cf8.png)

[2020-11-15 21:56] hasanslaravelproject commented on #37
Hello,
After sometimes, I got the solutions. Hope, It will help you who are facing the same problem.
Solution:
----------------------------------------------------------------------------------------------------------
Step 1:
open a command prompt (cmd) with "run as administrator"
Create a new folder which name is composer in your pc's C -drive.
use can use the following command in cmd terminal.
t

[2020-11-16 19:05] TiagoSilvaPereira commented on #37
Thank you @hasanslaravelproject for sharing your solution... soon I'll add something explaining more about Composer on upcoming Vemto documentation... Have a nice day!

[2020-11-16 19:05] #37 closed

[2020-11-17 09:08] XenBG opened #38 "[SUGGESTION] Open an existing project"
It willl be nice if we can open an existing project and the app to show us everything already been created in that project (like Controllers, Models, etc.). In that way we should be able to make changes of variable names, database tables, relations and etc.

I don't know if that's possible because every project have their own file (and maybe logical) structure, so if we just have an option **ONLY*

[2020-11-17 14:11] TiagoSilvaPereira commented on #38
@XenBG thank you for your suggestion... I wish to add this feature in the future. Have a nice day

[2020-11-18 21:07] XenBG opened #39 "[BUG] Schema Editor - error on field size change"
[code]

I'm getting an error when I'm trying to change table field size from defaults (255 for a string) to something else.

Image: https://i.imgur.com/ecDQhYz.png

---

vemto 0.5.9
Electron 8.5.2
linux 5.4.0-54-generic
Locale: en-US

[2020-11-18 21:32] TiagoSilvaPereira commented on #39
Hi @XenBG thank you for reporting, I'll fix this issue for the next Vemto version. Cheers

[2020-11-20 14:37] TiagoSilvaPereira commented on #39
Hi @XenBG this issue has fixed on **0.5.10**... Thanks

[2020-11-20 14:37] #39 closed

[2020-11-20 14:37] TiagoSilvaPereira commented on #33
Hi @SyahalTastari this issue has fixed on **0.5.10**... Thanks

[2020-11-20 14:37] #33 closed

[2020-11-20 14:38] TiagoSilvaPereira commented on #15
@daryledesilva I just added this enhancement on **0.5.10**. Thanks

[2020-11-20 14:38] #15 closed

[2020-11-20 22:10] Aksoom-Hussain opened #40 "[ENHANCEMENT] Application version Info needed"
Need Vemto Application version Info tab in setting
to know the application version to keep it up to date

[2020-11-25 02:42] michaelnabil23 opened #41 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-25 13:16] TiagoSilvaPereira commented on #41
Hi @michaelnabil23 I'm closing for now as there is no bug description. Please feel free to open another issue if you have a real issue. Cheers

[2020-11-25 13:16] #41 closed

[2020-11-25 20:11] federicoromani opened #42 "[BUG] MS Windows issues a threat alert"
MS Windows issues a threat alert
![image](https://user-images.githubusercontent.com/26388136/100277057-4744c100-2f41-11eb-84a4-b99748289bbd.png)

[2020-11-26 00:05] hasanslaravelproject commented on #42
Hello,
I don't know how much risk on it, but at least I can tell you the process of installation that actually you asked for.
Click the upper arrow mark(^) which is beside discard button. Then you will get two option: keep/learn more.
click on  option(Keep). now it will start downloading vemto software. After completing your download, click on exe files.
now you will get a new window(windows prote

[2020-11-26 00:12] hasanslaravelproject commented on #42
Hello Federicoromani ,
I don't know how much risk on it, but at least I can tell you the process of installation that actually you asked for.
Click the upper arrow mark(^) which is beside discard button. Then you will get two option: keep/learn more.
click on option(Keep). now it will start downloading vemto software. After completing your download, click on exe files.
now you will get a new windo

[2020-11-26 10:31] num3r06 opened #43 "[BUG] Wrong routes names with non-english Model name"
**Describe the bug**
I'm italian developer.
I try to use the app for generating model with italian name (singula,plural).
If i try to change the configuration for model/controller generation some name are changed (in views name or in controller redirect) others none.

[2020-11-26 12:12] TiagoSilvaPereira commented on #43
Hi @num3r06 thank you for reporting... could you please send some examples of code so I can check here what is happening? Cheers

[2020-11-26 15:06] num3r06 commented on #43
Sorry for the incomplete issue report.
So the model's name it's Toponimo plural Toponimi.
I've setting Collection = Toponimi and Table=toponimi. In crud editor i've setting name = Toponimi and Route/Endpoint = toponimi.
In generated code (ToponimoController@index) it's return view('app.toponimos.index', compact('toponimi', 'search'));
while the generated view it's app.toponimos.index. And so on fo

[2020-11-28 18:32] TiagoSilvaPereira commented on #42
Hi, @federicoromani thank you for reporting... This alert is shown because Vemto doesn't have a Windows certificate yet. But don't worry, Vemto doesn't make any dangerous operation. If you want, you can try it on a Virtual Machine before using it on your main machine. Soon I'll acquire the Windows certificate to remove this alert. Thanks

[2020-11-28 18:32] #42 closed

[2020-11-28 19:41] TiagoSilvaPereira commented on #40
Hi @Aksoom-Hussain thank you for reporting, I just added this information to the Vemto home page

[2020-11-28 19:41] #40 closed

[2020-11-28 19:41] TiagoSilvaPereira commented on #43
thank you @num3r06 I just fixed it on **0.6.1**

[2020-11-28 19:41] #43 closed

[2020-11-29 19:10] boskiv opened #44 "[ENHANCEMENT] Postgres Support"
**Is your feature request related to a problem? Please describe.**
I want to use Postgres settings when generating a new project

**Describe the solution you'd like**
Add PostgreSQL option, the port number should adopt to 5432

**Additional context**
![Screen Shot 2020-11-29 at 1 08 54 PM](https://user-images.githubusercontent.com/1939783/100551065-11a31f00-3244-11eb-98de-73edeacd538a.png)

[2020-11-30 08:51] num3r06 opened #45 "[BUG] Run::handleError("Trait 'Spatie\Permission\Traits\HasRoles' not found""
**Describe the bug**
When i Run after migration an error exception are catched
"Trait 'Spatie\Permission\Traits\HasRoles' not found"
Vemto version 0.6.1
**To Reproduce**
Steps to reproduce the behavior:
1. Fresh project
2. Create some App and Model
3. Generate and Run

**Desktop (please complete the following information):**
 - OS: Win10
 - Browser Chrome

[2020-11-30 15:34] TiagoSilvaPereira commented on #45
Hi @num3r06 could you please check if the spatie/laravel-permission package was installed on your project? If not, please try deleting the project folder and try generating the code again. By default, Vemto adds laravel-permission to your composer.json then runs composer install to install it, but maybe it did not run correctly in your case.

[2020-11-30 16:58] num3r06 commented on #45
Yes i did it and works.
I remove vendor folder and re-generate code and all works fine
thx

[2020-11-30 16:58] #45 closed

[2020-12-05 22:10] boskiv commented on #44
Works fine.

[2020-12-05 22:10] #44 closed

[2020-12-06 03:12] Aksoom-Hussain opened #46 "[BUG] Navigation cancelled from "/""
[code]

---

vemto 0.6.1
Electron 8.5.2
win32 10.0.19041
Locale: en-US

[2020-12-06 03:18] Aksoom-Hussain opened #47 "Global variables"
manage a global variable space like config.constants which can have dynamic fields to add before generation can use in the application anytime anywhere ideal for API packages and gateways

just create a dynamic page for constants add fields and type and generate the crud to update the constants file
it seems the better alternative to the .env

[2020-12-07 18:33] TiagoSilvaPereira commented on #46
Hi @Aksoom-Hussain thank you for reporting it, I'll fix this issue for the next version

[2020-12-07 18:36] TiagoSilvaPereira commented on #47
Hi @Aksoom-Hussain thank you for reporting. I'm closing as it seems to be a duplicate from #19... By default, Laravel uses .env to manage settings, so it is better to add a dynamic way to manage these .env settings than creating a new way. Have a wonderful day. Cheers

[2020-12-07 18:36] #47 closed

[2020-12-08 20:43] boskiv opened #48 "[ENHANCEMENT] Open project in editor"
**Is your feature request related to a problem? Please describe.**
I want to open the project in the editor after generation automatically or manually by pressing a button.

**Describe the solution you'd like**
Set up my preferred editor path in settings like:
* VSCode
* PhpStorm

Setup up open automatically option checkbox

After generating a project, the editor specified in settings should be op

[2020-12-08 20:57] boskiv opened #49 "[BUG] port does not change in Metadata tab"
**Describe the bug**
If I decide to change DB engine from Mysql to Postgres for example, the port has not changed after.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate project with Mysql Connection
2. Go to `Project settings`
3. Click on the `Metadata` tab
4. Change `Connection` to `Postgres`
5. Port does not change.

**Expected behavior**
Port should adopt

**Screenshots**
![Scre

[2020-12-09 00:51] kirchaj opened #50 "error on startup"
[code]

---

vemto 0.6.2
Electron 8.5.2
win32 10.0.19041
Locale: en-US

[2020-12-09 16:20] TiagoSilvaPereira commented on #50
Hi @kirchaj thank you for reporting it... I'm closing due to duplication (#46).

[2020-12-09 16:20] #50 closed

[2020-12-10 10:55] graham-ch commented on #46
Also getting the exact same error when opening a project.

Open Vemto -> Open Project -> Error

Only happens opening a project for the first time.  Does not happen on subsequent project opening.

vemto 0.6.2
Electron 8.5.2
darwin 17.7.0
Locale: en-GB

[2020-12-10 13:02] TiagoSilvaPereira commented on #46
@graham-ch thank you for reporting, I'll fix it on next Vemto version

[2020-12-11 16:26] TiagoSilvaPereira opened #51 "[BUG] Unhandled Promise Rejection with wrong Foreign Key: "Cannot read property 'type' of null""
**Describe the bug**
If the user creates a foreign key without a relationship and tries to create a relationship select, it will fail with "Unhandled Promise Rejection" with the following error:

[code]

**Expected behavior**
Create a basic field, not a relationship field, if the FK doesn't have a relationship

**Screenshots**
![image](https://user-images.githubusercontent.com/11933789/101928485-6

[2020-12-18 03:05] relayer464 opened #52 "[BUG] Cannot edit CRUD Form Settings"
**Describe the bug**
While working with CRUD form settings, they periodically freeze and I cannot change any Form Settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Project Apps
2. Click on a previously created CRUD app
3. Start modifying various Components, including Settings
4. Usually everything works as expected, but then eventually the Settings freeze so you can change any

[2020-12-18 10:57] kengketa opened #53 "[PLUGIN SUGGESTION] Admin LTE integration"
**Is your feature request related to a problem? Please describe.**
Admin LTE integration

**Describe the solution you'd like**
Apart of Tailwind I think Admin LTE is also the most popular and flexible to adapt with any projects

[2020-12-18 20:04] relayer464 opened #54 "[BUG] Migration fails when using Run command on Generate Code page"
**Describe the bug**
When I use the Run command on the Generate Code page it fails:

Command failed: "C:\laragon\bin\php\php-7.4.9-Win32-vc15-x64\php" artisan migrate:fresh --seed

I believe the problem is that the ending quotation mark should not include **php** since that is part of the artisan command.  In other words, the ending quotation mark should appear at the end of the file path.  Exampl

[2020-12-18 21:09] TiagoSilvaPereira commented on #54
Hi, @relayer464 thank you very much for reporting.

Does it show another error? Or only "Command Failed"? When running the exact same code on the Command-Line, what happens?

I think the problem is not with the quote. For Windows environments, it is necessary to add the quotes precisely like that, otherwise, the command will fail.

Cheers

[2020-12-18 21:10] TiagoSilvaPereira commented on #52
Hi @relayer464 thank you for reporting, I'll check it

[2020-12-18 21:25] relayer464 commented on #54
Here is a screenshot of everything I see after using the Run command.

![image](https://user-images.githubusercontent.com/20197966/102662253-54656200-4133-11eb-970b-187181d0f54f.png)

If I run **php artisan migrate:fresh --seed** it works fine.

It was my understanding that quotes are typically used around file paths on Windows systems since the file path might contain spaces."  Since **php** is p

[2020-12-19 01:20] TiagoSilvaPereira commented on #54
Hi @relayer464 got it... could you please check if the php version running on Vemto is the same that runs on your terminal and if the installation path is the same?

Sorry for this inconvenience, unfortunately, the *php artisan* command doesn't write the errors to the **stderr**, so it is hard to understand what is happening when it fails inside *Vemto*.

I'd love to find a way to get the errors a

[2020-12-20 22:55] relayer464 commented on #54
Yes, the php version running in Vemto and at the terminal are the same.  I am using the php that is installed as part of Laragon.  Here's the path to it:

C:\laragon\bin\php\php-7.4.9-Win32-vc15-x64

I checked the Windows environmental variables and confirmed it is using the same one.

[2020-12-20 23:46] relayer464 opened #55 "[ENHANCEMENT] Leave previously generated Application code in place (i.e., do not remove) when Generate Code for Application is unchecked"
**Is your feature request related to a problem? Please describe.**
When you uncheck the Generate Code for an "Application" it doesn't generate that applications code (the expected behavior).  However, when you uncheck Generate Code for an "Application" it also removes those files (the unexpected behavior).   I debated whether to tag this as a Bug or Enhancement, but I went with Enhancement since I

[2020-12-21 18:11] knutdF opened #56 "Error"
[code]

---

vemto 0.6.2
Electron 8.5.2
win32 10.0.18363
Locale: de

[2020-12-22 02:52] kirchaj opened #57 "error when adding a select option in crud"
[code]

---

vemto 0.6.2
Electron 8.5.2
win32 10.0.19041
Locale: en-US

[2020-12-22 12:32] TiagoSilvaPereira commented on #57
Hi @kirchaj thank you for reporting... could you please share more details like:

- A screenshot of your schema
- What type of field are you linking to the select input?

Thanks

[2020-12-22 12:33] TiagoSilvaPereira commented on #56
Hi @knutdF thank you for reporting... could you please share more details like:

- A screenshot of your schema
- What type of field are you linking to the select input?

Thanks

[2020-12-22 15:19] TiagoSilvaPereira commented on #46
Fixed for next coming Vemto version (0.6.3)

[2020-12-22 15:19] #46 closed

[2020-12-22 15:41] TiagoSilvaPereira commented on #54
Hi, @relayer464 got it... when running directly in the terminal, does the Seeders runs correctly too? The majority of fails when running this command is caused by seeding problems.

[2020-12-22 15:44] TiagoSilvaPereira commented on #52
@relayer464 I could not reproduce this problem... is it occurring with all your projects or with a specific one?

[2020-12-22 15:54] TiagoSilvaPereira commented on #56
Closing as duplicate from #51

[2020-12-22 15:54] #56 closed

[2020-12-22 15:55] TiagoSilvaPereira commented on #57
Closing as duplicate from #51

[2020-12-22 15:55] #57 closed

[2020-12-23 15:16] TiagoSilvaPereira commented on #49
Fixed on 0.6.3

[2020-12-23 15:16] #49 closed

[2020-12-23 15:16] TiagoSilvaPereira commented on #51
Fixed on 0.6.3

[2020-12-23 15:16] #51 closed

[2020-12-23 18:33] relayer464 commented on #54
Yes, when I run **php artisan migrate:fresh --seed** in the terminal both migrate and seeder work correctly.

[2020-12-23 18:43] relayer464 commented on #52
Yes, this problem appears to occur on other projects.

However, I think I may have discovered the triggering event (or at least one of them).  It seems to happen after I've deleted a CRUD form field.  For example, say I have a Text input and I want to change it to a Select.  If I delete the Text input, that seems to be when the Settings freeze.

[2020-12-30 20:43] niphint opened #58 "Error on Generating already existing Vemto Project"
Hi, i just tried Generate on a directory where i have a vemto project already. That was created from another PC. I added "<$DIRECTORY> to hide my local directory.
The error comes in a standard windows error window, not in vemto.

[code]

---

vemto 0.5.10
Electron 8.5.2
win32 10.0.18363
Locale: de

[2021-01-04 16:39] TiagoSilvaPereira commented on #58
Hi @niphint please create the file .env.example inside your project folder, as you can see here on the Laravel repository: https://github.com/laravel/laravel/blob/8.x/.env.example to solve the problem (this file is created automatically when generating a Laravel project so, I think, it was not copied to the other computer, probably because it is generally a hidden file)

[2021-01-04 16:39] #58 closed

[2021-01-04 16:40] TiagoSilvaPereira commented on #54
Hi @relayer464 sorry for the late, I'm returning to development after the holidays... could you please check if the error generates some log on the laravel.log file?

[2021-01-05 09:41] zebhi opened #59 "[BUG] Error Call to a member function contains() on string (View: ......\resources\views\layouts\nav.blade.php)"
**Describe the bug**
Error after Login and accessing http://localhost:8000/home

**To Reproduce**
Steps to reproduce the behavior:
1. Run Laravel 'http://localhost:8000' and success opening welcome page
2. Login
3. After that it showing error at http://localhost:8000/home

**Expected behavior**
Successful Login and showing the dashboard

**Screenshots**
![image](https://user-images.githubuserconte

[2021-01-05 18:31] TiagoSilvaPereira commented on #59
Hi @zebhi thank you for reporting. I recommend removing the ```./vendor``` folder and the ```composer.lock``` then run ```composer install``` to install all dependencies again.

As the error is not related to Vemto, but with the Laravel Permissions package, I'm closing here. But feel free to comment here if you need help.

Cheers

[2021-01-05 18:31] #59 closed

[2021-01-12 05:12] santiaguf opened #60 "[ENHANCEMENT] Clone from custom git repository"
When you create a project, vemto gets laravel from github, and then, if you want to use a custom git repo, you lose the changes vemto do to the laravel code.

it would be nice the option to get laravel from scratch, and then, create the project, so you can put a commit with the changes vemto does

[2021-01-12 12:43] TiagoSilvaPereira commented on #60
Hi @santiaguf thank you for your suggestion... I already have plans to add the option to clone from custom git repositories

[2021-01-12 22:28] tkerns opened #61 "[BUG] Incorrect path to view in generated crud when changing the default path"
**Vemto version 0.6.4**
Inside edit and create views in the generated crud, the include path of the form inputs view is incorrect
For example on the USER model create and edit views inside of views/admin/users
The generated include inside the create and edit views is:
`@include('app.users.form-inputs')`
Should be:
`@include('admin.users.form-inputs')`

(ie **admin** **instead** of app)

[2021-01-13 12:10] TiagoSilvaPereira commented on #61
Hi @tkerns thank you for reporting it, I'll fix it for next Vemto versions

[2021-01-13 15:26] TiagoSilvaPereira commented on #52
@relayer464 I tried to identify the problem but still could not reproduce the problem... Could you please send a small video showing the issue? Thank you

[2021-01-13 21:39] tkerns opened #62 "[ENHANCEMENT] Add profile management, and migrate from laravel ui to breeze"
I suggest adding profile management.  I realize this can be done with crud creation, but everyone who logs in needs to have the ability to update their name, email address, and password.
It would be nice to add that out of the box, and add a profile link above the log out link in the user dropdown menu.

You might also consider upgrading your auth to use breeze instead of laravel ui.  I know you h

[2021-01-14 01:27] Parkbyounghyo opened #63 "[BUG] Unable to enter settings text after deleting Components"
CRUD Editor
Unable to enter settings text after deleting Components

[2021-01-14 13:53] TiagoSilvaPereira commented on #63
Hi @Parkbyounghyo could you please share more details about the problem?

[2021-01-14 13:57] TiagoSilvaPereira commented on #62
Hi @tkerns thank you for your suggestions. I already have plans to add Breeze, I just not added it to the Roadmap because a forgot to do it haha (when I added Jetstream, Taylor wasn't created Breeze yet).

Cheers

[2021-01-14 20:07] GlennM opened #64 "[BUG] Vemto 0.7.1 & macOS Mojave"
**Describe the bug**
Blank screen after update to newest version

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure latest versionof Vemto is installed
2. Start app
3. Screen is blank

**Expected behavior**
Be able to use Vemto

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: macOS Mojave 10.

[2021-01-14 20:11] tjaoc commented on #64
I have the same problem but in Big Sur.

[2021-01-14 20:11] graham-ch commented on #64
Exactly the same issue on Big Sur 11.0.1

[2021-01-14 20:48] waltoninternet commented on #64
Same issue on Mac Mojave 10.1.6.  uninstalled and reinstalled previous 0.6.4. Works again, but now the previous version will not accept license - "License already occupied by another computer"

[2021-01-14 22:19] TiagoSilvaPereira commented on #64
Hi @GlennM @graham-ch @tjaoc @waltoninternet sorry for it, I just fixed this issue with **0.7.2**. I had a problem with the macOS build that updated a library incorrectly. Thank you for reporting it

[2021-01-14 22:19] #64 closed

[2021-01-14 22:19] TiagoSilvaPereira commented on #61
Fixed on 0.7.2

[2021-01-14 22:19] #61 closed

[2021-01-15 00:23] Parkbyounghyo commented on #63
I'm sorry I can't speak English well.
I'll explain as much as possible.
There is no error when adding the left'Components' in the'CRUD Editor' screen, but after deleting the added'Component',
It becomes impossible to change the text of'Lavel' in the'Settings' screen on the right.

[2021-01-15 09:32] GlennM commented on #64
Thanks for the quick fix, confirmed that the new version fixes the issue.

[2021-01-15 11:30] tanthammar opened #65 "[ENHANCEMENT] Incompatible with Laravel Valet?"
Unable to "run"
Error:
![image](https://user-images.githubusercontent.com/21239634/104719663-17d65780-572d-11eb-80f8-d79185b02ca3.png)

Unable to go to the url https://vemto.test
![image](https://user-images.githubusercontent.com/21239634/104720388-4b18e680-572d-11eb-9eac-10908fb6ff99.png)

The project is saved in my Sites folder on macos.
Is Vemto incompatible with Laravel Valet?

I can "generate

[2021-01-15 13:05] TiagoSilvaPereira commented on #65
Hi, @tanthammar thank you very much for reporting. Vemto is currently not directly compatible with Laravel Valet, as it uses the command ```php artisan serve``` to run the application. So, in that case, you need to start the project manually... I'll change this issue from bug to improvement to add Laravel Valet support in the future.

[2021-01-15 13:09] TiagoSilvaPereira commented on #63
@Parkbyounghyo thank you, got it... I'll check what is happening in that case

[2021-01-17 12:37] tanthammar commented on #65
It's no problem that I can't use the interface to "run" the application.
But there's something that blocks Valet to display the site.
I get a 404.

[2021-01-17 17:06] tanthammar commented on #65
Ah so stupid. I didn't see that the project was generated in a subfolder, that's why I couldn't launch it with Valet :)

[2021-01-17 17:06] #65 closed

[2021-01-17 20:24] tanthammar opened #66 "[ENHANCEMENT] Shema editor, create "Partial" or "Shared" fieldset."
**Is your feature request related to a problem? Please describe.**
No problem.

**Describe the solution you'd like**
I would like the option to define a "`Partial`"  or "`Shared`" fieldset that can be used by multiple Models.

**Description**:
I have 8 Models that all need to have `Address` fields in their migrations.
It would be nice to be able to create a "`Partial`" or "`Shared`" fieldset in th

[2021-01-18 10:52] ballesta commented on #55
Hi,
Could you detail the way of using Git to preserve manual customization of generated code.
I understand from your previous message that you commit customised code before to generate.

Do you
- commit on a specific "customisation" branch
- generate code using Vemto
- commit to "generated" branch
- Merge "customisation" branch on to "generated" and handle potentials git merge conflicts
- ...

Pre

[2021-01-26 08:02] Parkbyounghyo opened #67 "[SUGGESTION] Improvements to Schema Editor"
1. I wish Schema Editor had a table copy function.
2. I hope there is a function to write a field description when working on a table.

[2021-01-26 08:53] Parkbyounghyo opened #68 "[BUG] If you change the table field type, the field options are not changing accordingly."
Schema Editor - If you change the table field type, the field options are not changing accordingly.

[2021-01-26 14:15] TiagoSilvaPereira commented on #68
Hi @Parkbyounghyo thank you for reporting... could you please share more details about the problem like:

- when the problem occurs?
- what was the previous field type?
- what is the new field type?
- what options are not changed accordingly?

Thank you

[2021-01-27 01:12] Parkbyounghyo commented on #68
It's a problem for all types.
If you change it after setting the type for the first time, the same problem occurs.
![typeString](https://user-images.githubusercontent.com/27269587/105927784-0889cf00-6088-11eb-89c1-8e4af831f5f7.jpg)
![changeDecimal](https://user-images.githubusercontent.com/27269587/105927814-15a6be00-6088-11eb-8a45-5fd164cdf60a.jpg)
![defaultDecimal](https://user-images.githubuser

[2021-01-27 20:10] boskiv opened #69 "API Only"
**Is your feature request related to a problem? Please describe.**
As a user, I want to have the ability to generate API only backend

**Describe the solution you'd like**
Possible when I choose UI Template to None or `API Only` no UI template or CSS framework should apply.
Controllers should be API Only, no index, no show methods.
`api.php` router file should be generated.

[2021-01-28 12:55] TiagoSilvaPereira commented on #69
Hi @boskiv thank you for your suggestions. I'm closing here as it is already in the roadmap: https://trello.com/b/0MTU9Vyq/vemto-roadmap

[2021-01-28 12:55] #69 closed

[2021-02-02 18:42] graham-ch opened #70 "[ENHANCEMENT] Export / Import Vemto Projects"
**Is your feature request related to a problem? Please describe.**

I switch between 2 PCs for work, the desktop during the day and the laptop in the evening.  I have no way of transferring Vemto projects between machines so I'm only ever able to work on a project on one machine.

**Describe the solution you'd like**

I can see two possible ways to accommodate my setup;

1) a way to export a Vemto

[2021-02-02 18:52] graham-ch opened #71 "[ENHANCEMENT] UI Template Creating / Editing / Copying"
**Is your feature request related to a problem? Please describe.**

After I have generated a web app from Vemto the first task I undertake is stripping out a lot of the generated UI to replace it with something a little more production ready. I often use elements from [Tailwind UI](https://tailwindui.com) and [Tailwind UI Kit](https://tailwinduikit.com) for this.

**Describe the solution you'd lik

[2021-02-03 12:11] graham-ch opened #72 "[BUG] Deleting pivot table leaves rogue relationships"
**Describe the bug**
I had a belongsToMany relationship between User and Team tables via a pivot table. Trying to delete the relationship was problematic (as in it wouldn't delete).

Upon deleting the pivot table, the relationships remained in the User and Team tables with no way to remove them via the UI. This also prevents any new relationships being created on the User / Team tables.

**To Repr

[2021-02-03 12:22] graham-ch commented on #72
Ran the test again, created a belongsToMany between User table and Team table.

When deleting the relationship on the Team table, I get an Unhandled Error:

![screen442](https://user-images.githubusercontent.com/4248589/106746454-7ac75a00-661a-11eb-8872-edbeba47b668.jpg)

[2021-02-03 13:37] TiagoSilvaPereira commented on #72
Hi @graham-ch thank you for reporting this issue, I'll fix this for next Vemto version

[2021-02-03 13:41] TiagoSilvaPereira commented on #71
Hi @graham-ch thank you for your suggestion... I'll close it for now as Custom Stubs and Plugins is already on the roadmap (https://trello.com/b/0MTU9Vyq/vemto-roadmap)

[2021-02-03 13:41] #71 closed

[2021-02-03 13:41] TiagoSilvaPereira commented on #70
Hi @graham-ch thank you for your suggestion... I'll close it for now as the option to Import/Export Projects is already on the roadmap (https://trello.com/b/0MTU9Vyq/vemto-roadmap)

[2021-02-03 13:41] #70 closed

[2021-02-03 13:49] graham-ch commented on #71
Thanks Tiago and sorry, I missed both suggestions on the roadmap.

[2021-02-03 15:14] TiagoSilvaPereira commented on #71
Hi @graham-ch no problems, please feel free to send me a suggestion, I'm analyzing each one :smile:

[2021-02-04 16:35] katielgc opened #73 "[BUG] errno: 150 "Foreign key constraint is incorrectly formed""
**Describe the bug**
When running php artisan migrate:fresh to generate the databases I get this error :

 SQLSTATE[HY000]: General error: 1005 Can't create table `db`.`packages` (errno: 150 "Foreign key constraint is incorrectly formed") (SQL: alter table `packages` add constraint `packages_company_id_foreign` foreign key (`company_id`) references `companies` (`id`))

I do have a lot of relations

[2021-02-05 20:52] TiagoSilvaPereira commented on #73
Hi @katielgc thank you for your contact and interest in Vemto. About the related issues:

1 - The problem is that the companies **id** was changed to **unsignedBigInteger**... For Laravel, the correct is using the **bigIncrements** type, as it is a primary key (**unsignedBigInteger** is generally used for the inverse foreign key). I recommend always letting Vemto take care of the primary keys and

[2021-02-05 20:52] #73 closed

[2021-02-05 20:53] TiagoSilvaPereira commented on #54
Closed due to inactivity

[2021-02-05 20:53] #54 closed

[2021-02-05 20:54] TiagoSilvaPereira commented on #63
Closing as #52 duplicate... It will be fixed in the next version

[2021-02-05 20:54] #63 closed

[2021-02-08 10:00] katielgc commented on #73
@TiagoSilvaPereira thank you for this :) I haven't changed the id in companies this was what Vemto created! This was on an older version would you suggest trying again in the new one?

Thanks again!

[2021-02-08 14:31] TiagoSilvaPereira commented on #73
Hi @katielgc yes, please change to the latest Vemto version... for this specific problem, you can just change the PK type to bigIncrements on the companies table

[2021-02-11 01:42] TiagoSilvaPereira commented on #52
@relayer464 fixed on 0.7.3

[2021-02-11 01:42] #52 closed

[2021-02-11 01:42] TiagoSilvaPereira commented on #68
@Parkbyounghyo fixed on 0.7.3

[2021-02-11 01:42] #68 closed

[2021-02-11 01:42] TiagoSilvaPereira commented on #72
@graham-ch fixed on 0.7.3

[2021-02-11 01:42] #72 closed

[2021-02-11 01:43] TiagoSilvaPereira commented on #67
@Parkbyounghyo thank you for your suggestion... could you please share more details?

[2021-02-11 15:14] TiagoSilvaPereira commented on #53
@kengketa thank you for your suggestion... I think this type of feature will best fit as a Vemto plugin. I want to add plugin creation capabilities to Vemto in the next months. Cheers

[2021-02-19 02:45] halimdirgantara opened #74 "[BUG] Suddenly error when adding new CRUD"
[code]

---

vemto 0.7.3
Electron 8.5.5
win32 10.0.19042
Locale: en-US

[2021-02-19 13:10] TiagoSilvaPereira commented on #74
Hi, @halimdirgantara thank you for reporting... could you please share a small sequence of prints showing your schema and the CRUD creation process?

[2021-02-23 20:53] TiagoSilvaPereira commented on #74
Hi @halimdirgantara could you please share more details about your schema?

[2021-02-23 22:39] halimdirgantara commented on #74
Done, actually i forgot to set data type in model.
case closed

[2021-02-23 22:39] #74 closed

[2021-02-24 04:16] tiotimus opened #75 "[BUG] error add file input"
[code]

---

vemto 0.7.3
Electron 8.5.5
win32 10.0.19041
Locale: en-US

[2021-02-25 14:30] TiagoSilvaPereira commented on #75
Hi @tiotimus thank you for reporting... I'll fix this bug in the next Vemto version. Cheers

[2021-02-26 11:32] tamilventhan opened #76 "[PLUGIN SUGGESTION] add select2 search"
select2 search option will very usefull and will be fulfilled max requirement before complting developement cycle

[2021-02-26 21:00] TiagoSilvaPereira commented on #62
Closing as it is already on roadmap

[2021-02-26 21:00] #62 closed

[2021-02-27 17:16] TiagoSilvaPereira commented on #75
Fixed on 0.7.7

[2021-02-27 17:16] #75 closed

[2021-02-27 17:16] TiagoSilvaPereira commented on #60
Feature added on 0.7.7

[2021-02-27 17:16] #60 closed

[2021-02-28 02:13] tkerns opened #77 "[BUG] Model name needs to be singular error incorrect"
Version 0.7.7
**Describe the bug**
When I try to create a News model, I cannot, as it claims in needs to be singular

**To Reproduce**
Steps to reproduce the behavior:
1. Click Add Entity
2. Choose model
3. Set name to News
4. See error 'model name needs to be singular'

News IS singular :-)

[2021-02-28 04:49] tkerns commented on #77
BTW, I found a workaround.  Create the model entity as 'New' instead of 'News'.  This will create the table and collection correctly.
Then after creation, edit entity, and change name from New to News.

[2021-03-01 14:38] TiagoSilvaPereira commented on #76
Hi @tamilventhan thank you for your suggestion... as select2 is a very opinionated library (jquery, own CSS, etc), I think it best fits as a Vemto plugin. I want to bring Vemto plugin capabilities in the next months

[2021-03-01 14:59] TiagoSilvaPereira commented on #77
Hi @tkerns thank you for reporting... I'll fix it for next version

[2021-03-01 19:45] tkerns commented on #77
Just an FYI, my workaround didn't quite work.  In the news view it added:
`@forelse($news as $news)`
Which threw an error when trying to render the pagination links.
I had to change the controller variable to pass in $allNews, and then in the view change the forelse to
`@forelse($allNews as $news)`
That workaround seems to have worked for me, until the bug fix comes out.  Thanks!

[2021-03-02 07:50] tamilventhan opened #78 "[BUG] Cannot see all CRUD applications on screen"
**Describe the bug**
while add CRUD pages, can not see CRUD pages if its had more than 20 apps
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' Project Apps
2. Add more than 20 CRUD page
3. try to Scroll down
4. find CRUD after 20th

**Expected behavior**
Page scrolling option will be help see all CRUD pages

[2021-03-02 12:30] TiagoSilvaPereira commented on #78
Hi @tamilventhan thank you for reporting this issue... I'll fix it for the next Vemto version

[2021-03-05 06:43] Gallyan opened #79 "[BUG] php serve use a port already in use"
**Describe the bug**
During the Run process, the launch of the server exit whit an error code because it use port 80 already in use by my local Apache webserver

**To Reproduce**
1. Launch Apache Locally
2. Click on "Run" in Vemto
3. Wait for the launch of the server
4. Error appears:Failed to listen on 127.0.0.1:80 (reason: Permission denied)

**Expected behavior**
A parameter to choose a port fo

[2021-03-05 08:10] tamilventhan opened #80 "[PLUGIN SUGGESTION] provide feature for create modal pages"
this hep to desgin small input screen, and looks modern design

[2021-03-05 12:18] TiagoSilvaPereira commented on #79
Hi @Gallyan thank you for reporting... Vemto already has this option, you just need to add the port to the URL parameter on your Project Settings (by default, Vemto suggests using port 8000):

![image](https://user-images.githubusercontent.com/11933789/110114552-9a75ad80-7d93-11eb-8806-020901e972be.png)

[2021-03-05 12:18] #79 closed

[2021-03-05 12:21] TiagoSilvaPereira commented on #80
Hi @tamilventhan thank you for your suggestion... I think this feature would best fit as a plugin, so I'll mark it as "plugin suggestion"

[2021-03-05 12:28] TiagoSilvaPereira commented on #55
Added to the roadmap https://trello.com/b/0MTU9Vyq/vemto-roadmap

[2021-03-05 12:28] #55 closed

[2021-03-05 14:55] simpaul13 opened #81 "Add Jetstream Template In UI Template"
Hi
I have just one request is the UI Template add A Jetstream Template

Laravel Jetstream Website
[Laravel Jetstream](https://jetstream.laravel.com/2.x/introduction.html)

[2021-03-05 18:14] tamilventhan commented on #81
he is working on it will be realeased in next version of vemto

[2021-03-06 03:04] TiagoSilvaPereira commented on #81
Hi @simpaul13 thank you for your suggestion, it is already being made for the next Vemto version. You can see all the features coming on our roadmap: https://trello.com/b/0MTU9Vyq/vemto-roadmap

Cheers

[2021-03-06 03:04] #81 closed

[2021-03-06 17:50] TiagoSilvaPereira commented on #78
Fixed on 0.7.8

[2021-03-06 17:50] #78 closed

[2021-03-09 04:52] StasKoun2 opened #82 "[SUGGESTION] Improvements in the Schema editor - Untangling lines of links"
Relationships in the schema-data editor are very confusing when there are a large number of interconnected models.
Therefore, I suggest a way to "untangle the tangle of connections", which, in my opinion, will significantly improve ergonomics.
It should be possible to select and break the connection line and get the corresponding instances of the target model at each end of the break. (see figure)

[2021-03-09 04:59] StasKoun2 opened #83 "[SUGGESTION] Improvements in the Schema editor - Add Comments"
For complex data schemas, it is very important to be able to leave comments on relationships and on models.

![nnn_3-1](https://user-images.githubusercontent.com/80303996/110420851-cfa13900-80ce-11eb-88a6-fc82df47a70a.jpg)

[2021-03-10 09:03] StasKoun2 opened #84 "[SUGGESTION] Improvements in the CRUD editor"
![nnn_4-1](https://user-images.githubusercontent.com/80303996/110602991-1ff4c580-81b9-11eb-8b2e-7e69e027ab33.jpg)

[2021-03-10 14:58] computer-logix opened #85 "[SUGGESTION] Inertia option"
I program exclusively with Laravel using Inertia, so other than making the schema and dumping it into my own project I haven't used your product yet for any actual work.     Your Kanban shows an entry for inertia support as a 'maybe'   I certainly hope that changes someday to a feature request!

If anyone else uses Laravel 8 Inertia mention it here so it gets on the development timeline.

[2021-03-10 17:47] luigipanniello opened #86 "[SUGGESTION] Improvements in the CRUD editor - Tab attribute"
it would be interesting as a built-in functionality in the editor when working with complex tables

![Cattura](https://user-images.githubusercontent.com/16260623/110673385-02cbf100-81d1-11eb-8d9c-4871a5dc7131.JPG)

[2021-03-11 04:52] Parkbyounghyo opened #87 "Contact License"
Contact License
Can't I use multiple computers with a single license?
I have a Windows desktop and a MacBook.
There is no simultaneous connection.
Tell me how I can share the license.

[2021-03-11 13:45] TiagoSilvaPereira commented on #87
Hi @Parkbyounghyo, no, the license is for one computer, as you can see on the Vemto website (https//vemto.app). Please send me an email if you have more questions: contact@vemto.app

[2021-03-11 13:45] #87 closed

[2021-03-11 19:27] TiagoSilvaPereira commented on #86
Hi @luigipanniello thank you for your suggestion

[2021-03-13 15:58] StasKoun2 opened #88 "[BUG] Error in the seeder when entity has multiple relationships to their own records"
I am using an entity that has multiple relationships with different parent records of the same entity and, accordingly, any number of child relationships from any record. (see figure)
But this model causes an error in the seeder and all seeders after the error are not executed.

![nnn_5-0](https://user-images.githubusercontent.com/80303996/111035945-53508200-844f-11eb-9c89-ddb7440462bd.jpg)
![nnn_

[2021-03-13 16:31] TiagoSilvaPereira commented on #88
Hi @StasKoun2 thank you for reporting, I'll fix this bug as soon as possible, once I discover what is happening with the Seeder. Cheers

[2021-03-14 06:07] StasKoun2 opened #89 "[BUG] An error was detected in the interaction between Shema Editor and CRUD Editor"
If you have already configured the application in CRUD Editor, and then accidentally click on the model fields in Sсhema Editor, then all the settings of the corresponding component in CRUD Editor are reset to default values, and the component itself moves to the top of the list of components in the form, knocking down the manually configured layout of the form.
I have 80 models in the project and

[2021-03-15 15:39] TiagoSilvaPereira commented on #89
@StasKoun2 thank you for reporting

[2021-03-18 20:25] Gallyan opened #90 "[BUG] Can create an entity when entity name in singular form end with an s"
**Describe the bug**
For example, try to create an entity with entity name: news
You can't create. Error message: The model name needs to be singular.
It's a good warning, but it should be bypassable.

**Expected behavior**
Only a warning.

**Screenshots**
![Capture du 2021-03-18 21-15-57](https://user-images.githubusercontent.com/1420870/111692887-40172b00-8830-11eb-9a01-b72b1e80daa6.png)

[2021-03-18 20:59] TiagoSilvaPereira commented on #90
Hi @Gallyan thank you for reporting... I'll close it as it is a duplicate of https://github.com/TiagoSilvaPereira/vemto-issues/issues/77

The next version will fix this bug :rocket:

[2021-03-18 20:59] #90 closed

[2021-03-19 02:19] kominfosekadau opened #91 "[BUG] Error after NPM RUN DEV - 'mix' is not recognized as an internal or external command,"
**Describe the bug**

Generate success,
Composser Instal success,
NPM Install success.

NPM run dev I got this error:

'mix' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! @ development: `mix`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the @ development script.
npm ERR! This is probably not a problem

[2021-03-19 19:02] TiagoSilvaPereira commented on #91
Hi @kominfosekadau thank you for reporting... could you please share your package.json file?

[2021-03-19 22:10] t0nka opened #92 "[BUG] onDelete and onUpdate are not generated in migration file"
**Describe the bug**
in the AddForeignsToXXX migration files the onDelete() and onUpdate() instructions are not generated

**To Reproduce**
Steps to reproduce the behavior:
1. generate some 1-to-many model relations
2. fill the "ondelete" inputfield of the model foreign key with "CASCADE"
3. generate the code
4. run php artisan migrate

**generated migration**
the following lines are generated wro

[2021-03-20 00:22] edisonfv opened #93 "[ENHANCEMENT] Not delete route"
**Is your feature request related to a problem? Please describe.**
When I update the project and generate the code, The files of routes restart the value and delete the avance of work.

**Describe alternatives you've considered**
When generate the code, the software should backup the content  the files of routes

[2021-03-20 17:48] TiagoSilvaPereira commented on #92
Hi @t0nka thank you for reporting... I'll fix it for the next version

[2021-03-20 17:49] TiagoSilvaPereira commented on #93
Hi @edisonfv I'm changing this behavior for the next version (it will never remove changed files)

[2021-03-22 21:39] TiagoSilvaPereira commented on #91
Hi @kominfosekadau I'm closing for now as this issue seems not to be related to Vemto. But feel free to ask here if I can help you to solve this (you can try running the **npm install** and **npm run dev** commands directly on your command line)

[2021-03-22 21:39] #91 closed

[2021-03-24 21:19] koraycicekciogullari opened #94 "[SUGGESTION] Don't Overwrite webpack.mix.js"
**Is your feature request related to a problem? Please describe.**
I make specific settings and configurations in my project. When I create code with Vemto, it overwrites the webpack.mix.js file and all my configurations disappear.

**Describe alternatives you've considered**
If the webpack.mix.js file exists, do not overwrite it.

Thanks.

[2021-03-27 06:14] ddiaz2380 commented on #53
Can I add it as a theme? It would be great to be able to have in vemto adminlte, Coreui. Greetings

[2021-03-27 06:19] ddiaz2380 opened #95 "[SUGGESTION] Import and export projects"
Is it possible to add the function of importing and exporting projects? I have some in laravel 7 and 8 made before acquiring vemto and the truth is I would like to be able to import them to continue working with the tool.

[2021-03-27 06:22] ddiaz2380 opened #96 "[SUGGESTION] Select parent"
Could you add parent selection, for relations? It would be great this function.

[2021-03-27 13:27] TiagoSilvaPereira commented on #95
Hi @ddiaz2380 thank you for your suggeston... I'm closing as it is already on the Roadmap: https://trello.com/b/0MTU9Vyq/vemto-roadmap

[2021-03-27 13:27] #95 closed

[2021-03-27 13:27] TiagoSilvaPereira commented on #94
Hi @koraycicekciogullari it is coming in the next version

[2021-03-27 13:36] TiagoSilvaPereira commented on #96
Hi @ddiaz2380 could you please share more details about the suggestion?

[2021-03-27 13:39] TiagoSilvaPereira commented on #53
@ddiaz2380 thank you for your suggestion... I'll add plugins capabilities in the future, so you would be able to create your own themes and integrations

[2021-03-27 16:25] ddiaz2380 commented on #96
I mean nested select, example: country, city, state. That the selections are inherited, if I put Brazil, bring me only the municipalities of Brazil and when they are in states, the same thing happens.
Thanks for listening to suggestions, your tool is great.

[2021-03-27 16:46] TiagoSilvaPereira commented on #96
Got it... That is a great suggestion bro, thanks

[2021-03-28 21:58] t0nka opened #97 "[BUG] wrong format for datetime-local component value"
**Describe the bug**
the form-inputs.blade.php file of cruds contains wrong formated datetime fields

**To Reproduce**
Steps to reproduce the behavior:
1. create a model with datetime field
2. create a crud app for the model
3. create blade files
4. See error in the browser

**Expected behavior**
as seen on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local the datetime

[2021-03-29 19:41] TiagoSilvaPereira commented on #97
Hi @t0nka thank you for reporting, I'll fix it for the next Vemto version

[2021-03-30 13:28] jchandler opened #98 "[BUG] Feature Tests don't account for Soft Deletes"
**Describe the bug**
In the generated feature tests, the function `$this->assertDeleted(}` is always run.  But for entities with soft deletes, the function should be `$this->assertSoftDeleted()`.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Vemto 0.7.8
2. Create an entity with soft deletes enabled
2. Make sure to generate the tests for that entity
3. Run the test suite
4. See that the

[2021-03-30 21:33] TiagoSilvaPereira commented on #98
Hi @jchandler thank you for reporting, I'll fix this bug for next version

[2021-03-31 08:46] Suhrobjan opened #99 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-31 18:15] TiagoSilvaPereira commented on #99
Closing as there is no issue description

[2021-04-02 14:29] kirchaj opened #100 "error generating code"
[code]

---

vemto 0.7.8
Electron 8.5.5
win32 10.0.19041
Locale: en-US

[2021-04-02 14:58] kirchaj commented on #100
This was caused by a blank label in the application area

[2021-04-02 14:58] #100 closed

[2021-04-02 16:49] TiagoSilvaPereira commented on #100
Hi @kirchaj thank you for reporting, I'll treat this error to avoid it happening again

[2021-04-03 20:04] TiagoSilvaPereira commented on #98
Fixed on version 0.8.1

[2021-04-03 20:04] #98 closed

[2021-04-03 20:04] TiagoSilvaPereira commented on #97
Fixed on version 0.8.1

[2021-04-03 20:04] #97 closed

[2021-04-03 20:04] TiagoSilvaPereira commented on #92
Fixed on version 0.8.1

[2021-04-03 20:04] #92 closed

[2021-04-03 20:04] TiagoSilvaPereira commented on #89
Fixed on version 0.8.1

[2021-04-03 20:04] #89 closed

[2021-04-03 20:05] TiagoSilvaPereira commented on #88
Fixed on version 0.8.1

[2021-04-03 20:05] #88 closed

[2021-04-03 20:05] TiagoSilvaPereira commented on #77
Partially fixed on version 0.8.1 - needs to adapt the controller and routes to work correctly in such cases

[2021-04-03 20:06] TiagoSilvaPereira commented on #94
Feature added to version 0.8.1

[2021-04-03 20:06] #94 closed

[2021-04-03 20:06] TiagoSilvaPereira commented on #93
Feature added to version 0.8.1

[2021-04-03 20:06] #93 closed

[2021-04-04 08:57] ThibautDeMaerteleire opened #101 "[BUG] Type error admin panel"
**Describe the bug**
When I go to the admin panel and login correctly, then click on one of the type/tables/apps it gives this error like in the screenshots. In the default Users table I don't have this problem. I did some testing and the problem/bug is only there if you choose for Bootstrap and the laravel UI template.

<img width="1535" alt="Screenshot 2021-04-04 at 10 25 18" src="https://user-i

[2021-04-04 13:10] StanMenten99 opened #102 "[BUG]"
**Describe the bug**
When adding the location for composer and PHP its not found
![image](https://user-images.githubusercontent.com/26350392/113509809-d13c1080-9557-11eb-9783-3c0cb7b3572a.png)

**Expected behavior**
I want it to connect to my WSL2 environment with Docker from a Windows 10 machine.

**Desktop (please complete the following information):**
 Windows 10 Home with Docker and WSL2

[2021-04-04 22:18] TiagoSilvaPereira commented on #101
Hi @ThibautDeMaerteleire thank you for reporting... could you please send a screenshot of your Schema?

[2021-04-04 22:22] TiagoSilvaPereira commented on #102
Hi @StanMenten99 I'm not sure that Vemto can execute a binary through WSL... I recommend installing composer and php on Windows to use them with Vemto

[2021-04-04 22:22] #102 closed

[2021-04-05 10:15] ThibautDeMaerteleire commented on #101
![Uploading Screenshot 2021-04-05 at 10.57.46.png…]()

[2021-04-05 10:15] ThibautDeMaerteleire commented on #101
<img width="1416" alt="Screenshot 2021-04-05 at 10 57 46" src="https://user-images.githubusercontent.com/55394748/113563806-a1007a80-9608-11eb-936d-d4c274cf5cb2.png">

[2021-04-05 12:20] StanMenten99 commented on #102
That would defeat the whole purpose for using WSL on my Windows PC.
I use Docker with WSL2 because I **don't** want to install any dependencies on my PC, except for my IDEA, database manager and other tools.

Please make it work, then I will consider buying Vemto.

[2021-04-05 15:31] TiagoSilvaPereira commented on #101
Thank you @ThibautDeMaerteleire as I suspected the problem is these **json** columns. I'll add a fix to it for the next Vemto version but, for now, you can remove them from from your index page or treat the way they were printed on the blade files.

Please check this link for reference: https://stackoverflow.com/questions/43217872/laravel-htmlspecialchars-expects-parameter-1-to-be-string-object-gi

[2021-04-05 15:35] TiagoSilvaPereira commented on #102
I'll check if there is a way to do it. Thanks!

[2021-04-06 06:43] ddiaz2380 opened #103 "[BUG] does not generate"
**To Reproduce**
Steps to reproduce the behavior:
It does not generate any new project or those that already had the new version.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/57850481/113669243-d9946880-9689-11eb-94b7-d58727ace07f.png)
![image](https://user-images.githubusercontent.com/578

[2021-04-06 14:07] TiagoSilvaPereira commented on #103
Hi @ddiaz2380 seems like the **git clone** command is not selected for the **Code Generation**. Please be sure to select this command if you want to generate a complete project:

![image](https://user-images.githubusercontent.com/11933789/113723951-3d3d8680-96c8-11eb-8517-d91e505e6ebb.png)

[2021-04-06 14:07] #103 closed

[2021-04-06 17:48] StasKoun2 opened #104 "[SUGGESTION] need a search bar for the list of apps"
[SUGGESTION] need a search bar for the list of apps

if there are a large number of applications, it becomes difficult to quickly find the right one

![nnn_7 ](https://user-images.githubusercontent.com/80303996/113755885-02286b00-973b-11eb-93df-3e7f40cff64b.jpg)

[2021-04-06 21:27] TiagoSilvaPereira commented on #104
Hi @StasKoun2 thank you for your suggestion... I just added it to version **0.8.2**. Cheers

[2021-04-06 21:27] #104 closed

[2021-04-06 21:28] TiagoSilvaPereira commented on #101
@ThibautDeMaerteleire fixed on version **0.8.2**

[2021-04-06 21:28] #101 closed

[2021-04-07 17:27] jvallef opened #105 "App from configuration file"
You're doing a great job.

At some time allow generate whole application from command line and/or from Vemto app, from yaml files or any configuration file.

Work in visual mode it's slow for some kind of applications.

Thanks
Jose

[2021-04-07 18:45] tomaspribyl opened #106 "[BUG]"
**Describe the bug**
If i change path of generated controllers is there problem with **Controller.php** (because it is in new path, with new namespace too).
**Auth Controllers** looks for this class in base namespace App/Http/Controllers but it is for examle in App/Http/Controllers/Backend

`include(/somepath/vemto_test/vendor/composer/../../app/Http/Controllers/Controller.php): Failed to open str

[2021-04-07 19:01] frankirox opened #107 "[BUG] Vento doesn't detect npm if node was installed using NVM"
**Describe the bug**
Vento doesn't detect npm if node was installed using NVM

**To Reproduce**
Steps to reproduce the behavior:
1. Install NVM https://github.com/nvm-sh/nvm
2. Install node using nvm: nvm install 12.22.0 && nvm alias default 12.22.0
3. Try to export laravel application having npm using NVM

**Expected behavior**
Laravel application successfully exported

**Screenshots**
![image](h

[2021-04-07 19:12] frankirox commented on #107
solved adding this to my .bashrc file: e xport PATH=`which node`:`which npm`:`which npm`:$PATH

[2021-04-07 19:14] frankirox commented on #107
After adding this to my bashrc file the problem is still there but having a different message: export PATH=`which node`:`which npm`:`which npm`:$PATH

![image](https://user-images.githubusercontent.com/1335554/113921405-df9b5e00-97dd-11eb-9af2-1d89fc7aa89d.png)

[2021-04-07 19:43] TiagoSilvaPereira commented on #107
Hi @frankirox could you please share how are the environment settings on the Vemto homepage?

You can see how to access these settings here: https://vemto.app/docs/0.x/configuration

[2021-04-07 19:45] TiagoSilvaPereira commented on #105
Hi @jvallef thank you for your suggestion... The initial idea of Vemto is to run with a GUI, so it would be hard to change it to work on the command line, but I'll add this idea to my future suggestions list. Thanks!!

[2021-04-07 19:45] #105 closed

[2021-04-08 08:55] StasKoun2 opened #108 "[BUG] after updating to 0.8.2 - errors during testing (which were not there on 0.8.1)"
!!!!  ALL MODELS CONTAINING JSON COLUMNS AND WORKING ON 0.8.1 NOW ON 0.8.2 GIVE THE FOLLOWING ERROR WHEN TESTED
(while the forms that update the data in the columns continue to work)

The result of running php artisan test:

  • Tests\Feature\Controllers\VidyObjectovControllerTest > it updates the vidy objectov  ErrorException

  Undefined index: add_keys_fields

  at C:\laragon\www\pozadmin\app\H

[2021-04-08 09:01] StasKoun2 opened #109 "[SUGGESTION] For the migration list and shema editor, you also need to add a search field, as in the lists of projects and applications"
For the migration list and shema editor, you also need to add a search field, as in the lists of projects and applications

[2021-04-08 10:57] framatt opened #110 "[BUG]"
**Describe the bug**
Route [users.index] not defined. Replicating the youtube video

Also getting this on other projects

**To Reproduce**
Steps to reproduce the behavior:
Follow youtube video https://www.youtube.com/watch?v=3-lbHuLf8B4&t=425s

[2021-04-08 12:10] framatt commented on #110
Had to overwrite the files

[2021-04-08 12:10] #110 closed

[2021-04-08 13:56] StasKoun2 opened #111 "[SUGGESTION] copy fields to other model"
![nnn_A001](https://user-images.githubusercontent.com/80303996/114039356-dd540500-98ac-11eb-81d6-3a9c5cca60f1.jpg)

[2021-04-08 14:22] TiagoSilvaPereira commented on #107
Hi @frankirox could you please share the Environment Settings?

[2021-04-08 19:47] neo909 opened #112 "[BUG] The given role or permission should use guard `sanctum` instead of `web`."
**Describe the bug**
When creating a new role under access management, the following error occurs.

Spatie\Permission\Exceptions\GuardDoesNotMatch
_**The given role or permission should use guard `sanctum` instead of `web`.**_
http://demo.test/roles

If you refresh the role is created, but you can't see the permissions.  One work around found [TEMP solution for local dev enviroment] was to create

[2021-04-09 20:44] jvallef commented on #112
Well, I came late, you did all the work @neo909 thought :-)

Pasting comment I left in Discord...

Generated yesterday a testing Crud with default settings and two tables Users, as default, and Blogs, with title, body, image and belonging to User.

To continue exploring options created a new role bossito, with permissions over blogs and also to list and view users. Then...

Error creating a new ro

[2021-04-11 19:54] luigipanniello opened #113 "Sorting table"
when you plan to implement table sorting ?

[2021-04-12 14:17] TiagoSilvaPereira commented on #107
Hey @frankirox I'm closing for now, as it seems there is no bug (it is probably the way the npm path was set on Vemto settings). But please feel free to comment here or call me if you have any questions or if I could help you. Cheers

[2021-04-12 14:17] #107 closed

[2021-04-12 14:39] TiagoSilvaPereira commented on #113
Hi @luigipanniello I want to add this feature as a plugin in the future, but I need to implement plugin capabilities on Vemto before doing it... I don't have a forecast yet.

[2021-04-12 14:39] #113 closed

[2021-04-12 15:14] TiagoSilvaPereira commented on #112
Hi @jvallef @neo909 thank you for reporting, I'll fix this bug ASAP.

Cheers

[2021-04-12 15:15] TiagoSilvaPereira commented on #111
Hi @StasKoun2 thank you for your suggestion

[2021-04-12 15:17] TiagoSilvaPereira commented on #109
Thank you for your suggestion

[2021-04-15 05:54] Talbourdet opened #114 "[BUG] Jetstream Input fields style"
**Describe the bug**
When building a new project with Jetstream, css does not apply correctly and is mainly noticed on the design of forms and in particular of input fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a new project with Vemto
2. Select Jetstream ui template and Tailwind css framework
3. Normally configure the rest of the project
4. Run the app

**Expected behavior*

[2021-04-15 18:52] TiagoSilvaPereira commented on #114
Hi @Talbourdet thank you very much for reporting, I'll fix this bug ASAP

[2021-04-16 08:05] muharremkackin opened #115 "[BUG] Vemto does not recognize my PATH variables"
**Describe the bug**
Hello dear developers, i tried generate my test laravel application from vemto. But it always crash when it need to use and says;

"Sorry, Vemto requires composer installed in your system. Please check if composer is globally available on your PATH environment variable, or add its path to the main settings on Vemto Home Page"

I already have all PHP development and Node needs

[2021-04-16 11:48] TiagoSilvaPereira commented on #115
Hi @muharremkackin please try restarting your computer. If Vemto still does not recognize your binaries on PATH, you can add the path to the Vemto environment variables. Reference here: https://vemto.app/docs/0.x/configuration

Cheers

[2021-04-16 11:48] #115 closed

[2021-04-16 12:18] muharremkackin commented on #115
It worked alright when I added paths to setting, thank you!

[2021-04-16 17:50] TiagoSilvaPereira commented on #112
Fixed on 0.8.3

[2021-04-16 17:50] #112 closed

[2021-04-16 17:50] TiagoSilvaPereira commented on #108
Fixed on 0.8.3

[2021-04-16 17:50] #108 closed

[2021-04-17 03:51] StasKoun2 opened #116 "[BUG] When enabling team in the Jetstream configuration, an error message is displayed"
When enabling team in the Jetstream configuration, an error message is displayed

![nnn_B00001_001](https://user-images.githubusercontent.com/80303996/115100954-9e881400-9f6a-11eb-8536-cda750a3433e.jpg)

![nnn_B00001_002](https://user-images.githubusercontent.com/80303996/115100956-a34cc800-9f6a-11eb-80e4-10164e1c105a.jpg)

[2021-04-17 03:55] StasKoun2 opened #117 "[BUG] The search does not support non-Latin letters (for example, Russian)"
The search does not support non-Latin letters (for example, Russian)

![nnn_B_001](https://user-images.githubusercontent.com/80303996/115101036-3f76cf00-9f6b-11eb-97ba-6453978c505e.jpg)

![nnn_B_002](https://user-images.githubusercontent.com/80303996/115101039-40a7fc00-9f6b-11eb-80c6-02668cff7a01.jpg)

![nnn_B_003](https://user-images.githubusercontent.com/80303996/115101040-41409280-9f6b-11eb-8d2

[2021-04-17 13:16] TiagoSilvaPereira commented on #117
Hi @StasKoun2 I'm closing as it is not a Vemto bug... please try adding your collation settings on .env, as you can see here: https://seegatesite.com/how-to-solve-problems-illegal-mix-of-collations-latin1_swedish_ciimplicit-in-laravel/

[2021-04-17 13:16] #117 closed

[2021-04-17 13:17] TiagoSilvaPereira commented on #116
@StasKoun2 thank you for reporting, I'll check it soon

[2021-04-21 02:05] StasKoun2 opened #118 "[BUG ??! ] The paginator "'resources/views/vendor/livewire/tailwind.blade.php" doesn't work in Vemto templates"
I work in Jetstream LiveWire, in a project generated in Vemto
I need to individually customize the pagination view for different site designs.
As it is written in the documentation, I perform " php artisan livewire:publish --pagination”
And I make a second paginator at the beginning of the template \app\users\index.blade.php
{!! $users->render('vendor.livewire.tailwind')!!}
……….
And I leave the pa

[2021-04-21 18:51] threeel opened #119 "[BUG] faker->mobileNumber"
When you create a model with an attribute ```mobile``` will generate a factory with the ```'mobile' => $this->faker->mobileNumber,```
on ```php artisan migrate:fresh --seed``` you get an error that mobileNumber doesnt exist
when you replace it with phoneNumber it works as expected

[2021-04-22 16:43] TiagoSilvaPereira commented on #118
Hi @StasKoun2 ,

It is due to the way Livewire works... The index.blade.php page is not a Livewire component, so the correct way of customizing the pagination for this page is by publishing the default laravel pagination files, instead of the Livewire pagination.

About the render() or links() methods, they are only syntactic sugar. You can use both, they have exactly the same behavior.

Sincerely

[2021-04-22 16:43] #118 closed

[2021-04-22 16:44] TiagoSilvaPereira commented on #119
@threeel thank you for reporting, I'll check it ASAP

[2021-04-22 22:13] deanlj opened #120 "[BUG] Attempted to add foreign key to table without id field"
[code]

---

vemto 0.8.2
Electron 8.5.5
darwin 18.7.0
Locale: en-US

[2021-04-28 13:54] TiagoSilvaPereira commented on #120
@deanlj thank you for reporting, I'll fix it ASAP

[2021-04-29 10:02] deanlj commented on #67
I'd like to be able to select a table/model in the Schema Editor and copy it and paste it as a new entity, without relationships.

I would be useful to be able to enter a description/note (sql comment?)
![Screenshot 2021-04-29 at 11 01 38](https://user-images.githubusercontent.com/4245429/116534413-640f6700-a8da-11eb-8a0f-0ab191dd4bec.png)
 for a column/field (in the Field Options dialog underneat

[2021-04-29 10:27] deanlj commented on #85
I would add that now jetstream is being used much more, the Intertia and LiveWire options would be in quite high demand.

I personally use LiveWire more than inertia but it would make sense for Vemto to generate interia or livewire depending on Jetstream version

[2021-04-29 10:31] deanlj opened #121 "Duplicate a Project"
I would be nice to duplicate a project.

many of my apps have core functionality (teams, companies, tags etc)

it would be nice to have a project containing all the common things that i could duplicate when i start a new app.

maybe this is part of import/export?

[2021-04-29 12:46] TiagoSilvaPereira commented on #121
Hi @deanlj thank you for your suggestion... I'm closing here as it is already on the roadmap: https://trello.com/b/0MTU9Vyq/vemto-roadmap

[2021-04-29 12:46] #121 closed

[2021-04-30 08:04] deanlj opened #122 "[SUGGESTION] Add Metadata options for path to php binary and php.ini file"
I have several different versions of php installed on my system, it would be great if i could specify which php binary to use for app generation and also which php.ini file to use

I don't always have full control over the final hosting for an app so sometimes it needs to be generated using php 7.3, 7.4 or 8.0.x

[2021-04-30 19:49] deanlj opened #123 "[SUGGESTION] Auto generated foreign key and index names can be too long, should detect this"
When generating Foreign keys and indexes there isn't a check for the key / index name being too long.

Ideally this should be detected and ask/require a unique foreign key or index name

To reproduce

- Create a model called WorkflowCondition
- Create a model called WorkflowStepTask
- Create a belongs to many relationship between them
- run migrations
<img width="1440" alt="Screen Shot 2021-04-30

[2021-04-30 20:06] deanlj opened #124 "[SUGGESTION] Support for Jetstream Teams (LiveWire and Intertia)"
As Vemto supports Jetstream already it would be brilliant if Vemto could support generating and/or was aware of repos with the Jetstreams Teams option

[2021-05-01 11:59] #124 closed

[2021-05-01 22:01] deanlj opened #125 "[BUG] incorrect belongs to many table name used in generated migration"
**Describe the bug**
I have Models:
DataObject
EventSourceEvent

There is a Belongs To Many
<img width="1363" alt="Screen Shot 2021-05-01 at 22 48 34" src="https://user-images.githubusercontent.com/4245429/116795906-2ffd9700-aad0-11eb-853e-43d6c940ba81.png">
 relationship

The table name for the pivot table in Vemto shows as data_objects_event_source_event

    /**
     * Run the migrations.

[2021-05-01 22:30] deanlj commented on #125
This defo seems to be related to models being renamed.

New belongs to many pivot tables are ok.

[2021-05-01 23:45] deanlj opened #126 "[BUG] Changing a model name and table name does not update migration file names"
**Describe the bug**
After changing a model name and the table name in the schema editor, the migration file names in Project Settings -> Migrations does not get updated even though the generated Class name in the migration does

**To Reproduce**
1. Create a model in the Schema editor with the name ConnectedAccountStats
2. Generate the app
3. Change the name of the model to ConnectedAccountMetrics

[2021-05-02 00:33] deanlj commented on #125
Looks like the pivotOriginalName in the parent entity json file is not getting updated and neither is the table name in the pivot table entity
<img width="503" alt="Screen Shot 2021-05-02 at 01 30 53" src="https://user-images.githubusercontent.com/4245429/116798315-241ccf80-aae6-11eb-8df2-da4ca33eb4e3.png">

{
    "projectId": 1,
    "name": "workflow_condition_workflow_step",
    "type": "table",

[2021-05-02 10:56] deanlj opened #127 "[BUG] Generated Factory class for tables with ForeignId columns have incorrect data type"
**Describe the bug**
The generated factory for a table with ForeignId columns uses $this->faker->word instead of an unsigned big integer

**To Reproduce**
1. Create a new model in the schema editor
2. add some columns of type foreign id
3. generate the app
4. the generated factory uses $this->faker->word when it should be an integer value

**Expected behavior**
The generated factory should use uns

[2021-05-02 14:00] deanlj opened #128 "[SUGGESTION] Adding new entities in the Schema Editor should be placed in the current visible area"
**Is your feature request related to a problem? Please describe.**
When adding new entities (models or tables) or creating a Belongs To Many relationship the new entity is placed a the upper right of the schema editor.

When the app has a large number of entities you have to scroll up and right to find it and then do multiple drag and drops to bring it down to where  you want it.

**Describe the s

[2021-05-05 16:52] JPOyarzunA opened #129 "[BUG] Create Table Error"
After adding an Entity and manually change the Table name the file create_[Table_Name]_table.php doesn't change his name and fails to create the table when migrate. I had to manually change the file name to pass the migration.

[2021-05-05 18:52] TiagoSilvaPereira commented on #122
Hi @deanlj thank you for your suggestion... For Vemto, it doesn't matter very much what version of PHP you are using to generate, as it is a configuration more related to Laravel than Vemto. So, I'd recommend you changing these configurations on your Development environment and changing it using your command line editor when necessary.

Best regards,
Tiago

[2021-05-05 18:52] #122 closed

[2021-05-05 18:56] TiagoSilvaPereira commented on #123
Hi @deanlj as it is more a database issue than a Vemto bug, I'll change it for a SUGGESTION issue. Thanks

[2021-05-05 19:02] TiagoSilvaPereira commented on #125
Hi @deanlj I'll check this bug soon

[2021-05-05 19:05] TiagoSilvaPereira commented on #126
Hi @deanlj thank you for reporting

[2021-05-05 19:07] TiagoSilvaPereira commented on #129
Hi @JPOyarzunA thank you for reporting... I'm closing here as there is already an open issue to handle this problem: https://github.com/TiagoSilvaPereira/vemto-issues/issues/126

[2021-05-05 19:07] #129 closed

[2021-05-05 19:33] TiagoSilvaPereira commented on #128
@deanlj thank you for your suggestion, it is already on our Task list

[2021-05-05 20:18] deanlj commented on #123
Ok appreciate that, however it does require manual editing of migrations after the app has been generated.

so if the issue isn't addressed it means after the app is generated i have to
run artisan migrate
see which migration fails
manually edit it to have a short foreign key name
rerun artisan migrate and repeat

currently have 12 migrations failing in one project

maybe it's a mysql issue but wo

[2021-05-07 01:04] edisonfv opened #130 "Set number of elements of faker"
Many times I need only 2 elements of identity, It would be good set the number faker element.

[2021-05-07 21:57] ldavidsp opened #131 "Option to duplicate a project."

[2021-05-08 13:44] TiagoSilvaPereira commented on #131
Hi @ldavidsp thank you for your suggestions. I'm closing as it is already on our roadmap: https://trello.com/b/0MTU9Vyq/vemto-roadmap

Best regards

[2021-05-08 13:44] #131 closed

[2021-05-09 15:00] opizarrosilva opened #132 "[BUG] window.changeCase[e] is not a function when generating translations"
**Describe the bug**
En el log aparece:
Generating CRUD translations...
window.changeCase[e] is not a function

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Generate'

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/83740682/117576878-78f7b180-b0b5-11eb-9360-3581e66280ac.png)

**De

[2021-05-12 15:29] TiagoSilvaPereira commented on #132
Hi @opizarrosilva could you please share your Schema?

[2021-05-12 15:31] TiagoSilvaPereira commented on #130
Hi @edisonfv sorry, I did not understand... could you please share more details?

[2021-05-13 15:41] TiagoSilvaPereira commented on #116
Hi @StasKoun2 I just checked here and it happens because, to use Jestream Teams after the installation, you need to run this command first:

[code]

[2021-05-13 15:42] #116 closed

[2021-05-14 19:45] TiagoSilvaPereira commented on #132
Fixed on the version 0.9.2

[2021-05-14 19:45] #132 closed

[2021-05-14 19:45] TiagoSilvaPereira commented on #128
Hi @deanlj I'm closing here as it is already on my plans and probably will come on the next version

[2021-05-14 19:45] #128 closed

[2021-05-14 19:46] TiagoSilvaPereira commented on #127
Fixed on the version 0.9.2

[2021-05-14 19:46] #127 closed

[2021-05-14 19:46] TiagoSilvaPereira commented on #126
Fixed on the version 0.9.2

[2021-05-14 19:46] #126 closed

[2021-05-14 19:46] TiagoSilvaPereira commented on #125
Fixed on the version 0.9.2

[2021-05-14 19:46] #125 closed

[2021-05-14 19:47] TiagoSilvaPereira commented on #120
Fixed on the version 0.9.2

[2021-05-14 19:47] #120 closed

[2021-05-14 19:47] TiagoSilvaPereira commented on #119
Fixed on the version 0.9.2

[2021-05-14 19:47] #119 closed

[2021-05-14 19:47] TiagoSilvaPereira commented on #114
Fixed on the version 0.9.2

[2021-05-14 19:47] #114 closed

[2021-05-14 19:47] TiagoSilvaPereira commented on #106
Fixed on the version 0.9.2

[2021-05-14 19:47] TiagoSilvaPereira commented on #77
Fixed on the version 0.9.2

[2021-05-14 19:47] #77 closed

[2021-05-14 19:48] TiagoSilvaPereira commented on #109
Search added for migrations page. Search for Schema is coming soon.

[2021-05-14 19:48] #109 closed

[2021-05-15 11:02] deanlj commented on #127
Hi Tiago

I've just re-generated my app with v0.9.2 and the problem is still there

To reproduce

add a column called current_payer_id to the user model with a type of ForeignID

There is no relationship, just a column as the id will be a foreign key in to a table created by a package

Generate the app

the User factory looks like

[code]

The current_payer_id should be an unsigned big int

[2021-05-15 14:16] TiagoSilvaPereira commented on #127
Hi @deanlj if it is an old project, please change the faker on Field Options. The fix is for new projects
![image](https://user-images.githubusercontent.com/11933789/118364489-fcf6e100-b56e-11eb-97b1-c5edded8c548.png)

[2021-05-15 14:20] TiagoSilvaPereira commented on #127
Hi @deanlj for old projects, please change the faker on the field options. It was fixed for new projects:
![image](https://user-images.githubusercontent.com/11933789/118364606-7abaec80-b56f-11eb-900b-2eadddd6e562.png)

[2021-05-15 17:02] deanlj commented on #127
awesome, thank you.

[2021-05-17 16:42] #19 closed

[2021-05-17 16:42] #38 closed

[2021-05-17 16:43] #48 closed

[2021-05-17 16:45] #53 closed

[2021-05-17 16:45] #67 closed

[2021-05-17 16:45] #76 closed

[2021-05-17 16:45] #80 closed

[2021-05-17 16:45] #85 closed

[2021-05-17 16:45] #86 closed

[2021-05-17 16:45] #96 closed

[2021-05-17 16:45] #111 closed

[2021-05-17 16:45] #123 closed

[2021-05-17 16:46] #66 closed

[2021-05-17 16:47] #82 closed

[2021-05-17 16:48] #83 closed

[2021-05-17 16:48] #84 closed

[2021-05-17 16:49] #130 closed

[2021-05-18 14:35] almiro75 opened #151 "By creating entity"
[code]

---

vemto 0.9.3
Electron 8.5.5
win32 6.3.9600
Locale: de

[2021-05-18 15:01] TiagoSilvaPereira commented on #151
Hi @biogasregister thank you for reporting. Could you please share more details, like:

- A screenshot of your Schema
- When the problem happens?
- what can I do to reproduce that?

[2021-05-18 15:16] biogasregister commented on #151
I can't reproduce it again.. i just started creating new entity then it happens!
the shema is here: https://prnt.sc/132z4f8

[2021-05-18 15:46] TiagoSilvaPereira commented on #151
Hi @biogasregister I'll try to reproduce here. But seems you have some issues with your Schema. When you create a Model (Course for example), it is not necessary to create the table. I recommend working always with models, as on rare occasions when you need a table, as in a Pivot table, Vemto will take care of creating it automatically.

Do you remember what model or table throws the error when cr

[2021-05-18 16:41] biogasregister commented on #151
Hi Tiago, honestly - i don't remember this, but it think it was by creating a Model - so its the only one i have for now.
Thank you for the info allways, but meanwhile i've got an error by generating the code.. It seems is a configuration issue with npm.
Here the Screenshot: https://prnt.sc/132ztl9

[2021-05-18 19:55] TiagoSilvaPereira commented on #151
Hi @almiro75 someone had a similar problem with npm and windows recently... could you please try reinstalling nodejs and npm?

[2021-05-20 21:00] almiro75 commented on #151
Hi Tiago, i allready reinstalled Node.js, also Vemto to, restart the computer but the problem still there as you can see in screenshot: https://prnt.sc/136ogtr

[2021-05-21 15:20] TiagoSilvaPereira commented on #151
Hi @almiro75 what happens when you execute the exact same code on your terminal?

[2021-05-21 21:19] almiro75 commented on #151
Hi Tiago, what excatly do you mean to executing in terminal? ... so the next error is here, as you can see in the screenshot: https://prnt.sc/138jbfq

[2021-05-21 22:07] almiro75 commented on #151
maybe found a solution, but please keep kalm, don't know if this working for others... i wrote to a fend this:

i found a quick and dirty solution for my problem, if you need to know. I copied the node_modules folder to VemtoRoaming folder in this folder and it seems to  working.. happy if fits.. otherwise pleased to teach me..

[2021-05-21 22:45] AlanKurdish opened #152 "Problem when trying to delete any field"
**Describe the bug**
when i delete any item the program get lagged and i cannot write any other word in any field
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Schema editor
2. Create Schema
3. Delete schema
4. Try to create or edit any field you wonnt be able to write mouse cursor disappear

**Expected behavior**
the cursor shouldnot disappear after deleting an item and it should wor

[2021-05-24 13:02] TiagoSilvaPereira commented on #152
Hi @AlanKurdish thank you for reporting

Sorry I did not understand... what type of item (entity, field, relationship, etc) you deleted before Vemto throwing the error?

[2021-05-24 13:08] TiagoSilvaPereira commented on #151
Hi, @almiro75 could you please share a PrintScreen of Vemto settings and a PrintScreen showing each of the folders listed there?

![image](https://user-images.githubusercontent.com/11933789/119352220-cbb99780-bc77-11eb-8bb1-36936b3c8338.png)

You can try following this documentation to configure the Vemto settings: https://vemto.app/docs/0.x/configuration

[2021-05-25 11:34] graham-ch opened #153 "Master Detail Errors"
**Describe the bug**
On master detail pages the show (master) page does not show the detail records, the edit (master) page results in an error

ParseError
syntax error, unexpected 'Plate' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST) (View: /Users/G/code/master_detail/resources/views/app/plates/edit.blade.php)

**To Reproduce**
Create a very simple schema. Consisting of 3 models,

[2021-05-25 13:45] TiagoSilvaPereira commented on #153
Hi @graham-ch I needed to make a little adjustment on the Food model because Vemto generates the plural as 'foods', but Laravel considers the plural as 'food', so the migrations don't run. But after fixing it, the application is running well:

![image](https://user-images.githubusercontent.com/11933789/119508533-320ceb80-bd46-11eb-9e50-8f48c3892c12.png)

![image](https://user-images.githubusercont

[2021-05-25 13:47] graham-ch commented on #153
Thanks Tiago.

FYI I had the same problem with another schema.

users, folders, videos

Would that be the same issue/fix do you think?

[2021-05-25 13:50] TiagoSilvaPereira commented on #153
Hi @graham-ch I'll check with this other schema

[2021-05-25 14:07] TiagoSilvaPereira commented on #153
It worked without modifications :thinking:

I'll try to understand what is happening in your case.

![image](https://user-images.githubusercontent.com/11933789/119512037-57e7bf80-bd49-11eb-9a5b-2f602897b0bc.png)

[2021-05-25 14:09] TiagoSilvaPereira commented on #153
@graham-ch what PHP version are you using?

[2021-05-25 14:14] TiagoSilvaPereira commented on #153
@graham-ch yes, the problem is the PHP version... the class property types were implemented on PHP 7.4... please upgrade your PHP and the problem will be gone.

Cheers

[2021-05-25 14:14] #153 closed

[2021-05-25 14:18] TiagoSilvaPereira commented on #152
Hi @AlanKurdish could you please share more details?

[2021-05-26 15:59] AlanKurdish commented on #152
When deleting any type of element it throw error the cursor disappear and you cannot use the program again

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Tiago S. P. ***@***.***>
Sent: Monday, May 24, 2021 4:02 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [TiagoSilvaPereira/vemto-issues] [BUG] (#152)

Hi @AlanKurdish<https://github.com/Alan

[2021-05-29 11:05] MazeWebArchitect opened #154 "Adding the ability to select a MongoDB/MongoDB Atlas database as datasource"
**Is your feature request related to a problem? Please describe.**
I'd like to connect a MongoDB/MongoDB Atlas Database as main datasource for some Laravel projects.

**Describe the solution you'd like**
In the setup dialog, I'd like to have the option to select a MongoDB/MongoDB Atlas Database.

**Describe alternatives you've considered**
Right now I have to setup a mock MySQL Database and change

[2021-05-30 20:27] jim1506 opened #155 "Since the update there is a problem writing with the web file"
I am using version 0.9.3 on Windows 10.
 There is a problem generating the web.php. I have just generated a new project and the web file had only home generated, even though I had marked several apps to be generated.

Also it is not running automaticall php artisan serve on the run.

[2021-05-31 12:50] TiagoSilvaPereira commented on #155
Hi @jim1506 could you please share more details about the project? Please check if it is skipping files on Code Generation... I tried to reproduce here but it worked well with my project

[2021-05-31 12:52] TiagoSilvaPereira commented on #152
Hi @AlanKurdish could you try reinstalling Vemto? Seems it is having some incompatibilities with your OS

[2021-05-31 15:16] TiagoSilvaPereira commented on #154
Hi @MazeWebArchitect thank you for your suggestion... I'm moving it to the discussion tab

[2021-05-31 15:16] #154 closed

[2021-05-31 16:00] ballesta opened #157 "[BUG]"
**Describe the bug**
Under Ubuntu, installed new ubuntu 21.04 version from scratch with a new disk.
Installed Vemto
Upon entering my licence, vemto say that it is already in use on anoter computer.
I tried to revoke the licence with out success, it still says that my licence is in use.
May be Ishould wair for some time for revocation is taken in accounr?
**Desktop (please complete the following in

[2021-05-31 16:28] TiagoSilvaPereira commented on #157
Hi @ballesta you need to vacate the license on the Vemto dashboard: https://vemto.app/home (just click in the *Vacate* button to be able to use the license on another computer)

[2021-05-31 16:28] #157 closed

[2021-06-01 03:27] 3ch3r46 opened #158 "Input field on modal cannot be filled"
**Describe the bug**
If remove some field or some entity, the input field on modal like modal Add Entity cannot be filled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Schema Editor'
2. Click on 'Add Entity'
3. Click on 'create'
4. remove the entity
5. Click on 'Add Entity'
3. Fill the input
4. See error: the cursor not focus on input field.

**Expected behavior**
i think this happ

[2021-06-01 15:10] TiagoSilvaPereira commented on #158
@3ch3r46 thank you for reporting, I'll fix it ASAP

[2021-06-02 19:30] TiagoSilvaPereira commented on #158
Hi @3ch3r46 I tried to reproduce the error, but it doesn't happen here... could you please record a short video showing the process you are doing before throwing the error? Thanks

[2021-06-02 19:31] TiagoSilvaPereira commented on #152
Hi @AlanKurdish  I tried to reproduce the error, but it doesn't happen here... could you please record a short video showing the process you are doing before throwing the error? Thanks

[2021-06-02 19:33] TiagoSilvaPereira commented on #155
Hi @jim1506 please check if the default generation options are marked, maybe it is causing the problem related above:
![image](https://user-images.githubusercontent.com/11933789/120541463-4abd7700-c3c0-11eb-87a9-7b990c1a8677.png)

[2021-06-03 08:37] ballesta opened #161 "[BUG].env file not generated"
**Describe the bug**
During code generation, the .env file is not generated.
The reason invoked is that the .env.example is not found

**To Reproduce**
Generate code replacing all files

**Expected behavior**
Should generate .env file

**Screenshots**
Trace of Vemto startup and code generation in terminal:
(My comments inside trace are surrounded by "<=== comment ===>")

==========================

[2021-06-03 09:31] jim1506 commented on #155
OK. I made a new very simple site with just 2 tables:

![2021-06-03_10-20-06](https://user-images.githubusercontent.com/123184/120621895-3c219f00-c456-11eb-925d-fbcee29fec9f.png)

This is Laravel 8 with Tailwind and the Laravel UI authentication

When I compiled this I noticed:

![2021-06-03_10-12-45](https://user-images.githubusercontent.com/123184/120622040-5e1b2180-c456-11eb-904f-509192ace4d3.p

[2021-06-03 14:07] hossam-hani opened #162 "[BUG] Master Details not working"
**Describe the bug**
I create a product model with image model | product hasMany relation and when I add master details nothing happened after generating the code

![image](https://user-images.githubusercontent.com/42097342/120658211-866e4480-c485-11eb-9d77-ec092cc023b1.png)
![image](https://user-images.githubusercontent.com/42097342/120658283-94bc6080-c485-11eb-9b95-0ca20df62745.png)
![image](htt

[2021-06-03 14:15] TiagoSilvaPereira commented on #162
Hi @hossam-hani thank you for calling me here... it is not a Vemto bug, you just need to upgrade your PHP version. It happens because the generated code uses PHP Typed Class Properties, and it is only supported for PHP 7.4+

Best regards,
Tiago Rodrigues

[2021-06-03 14:15] #162 closed

[2021-06-03 14:20] TiagoSilvaPereira commented on #162
@hossam-hani only a tip: if you can't upgrade to PHP 7.4, you can just remove the Typed Properties from your components. For example:

Change this:

[code]

To this:

[code]

[2021-06-03 14:24] TiagoSilvaPereira commented on #161
Hi @ballesta could you please check if all commands are checked for first code generation?

![image](https://user-images.githubusercontent.com/11933789/120661066-52335d80-c45e-11eb-83ec-a6cd6d6673d8.png)

[2021-06-03 14:26] TiagoSilvaPereira commented on #161
If **git clone ...** is disabled, the base Laravel code will not be downloaded, and Vemto will generate only application logic files

[2021-06-03 14:35] hossam-hani commented on #162
still same issue when upgrade to 7,4

[2021-06-03 14:39] TiagoSilvaPereira commented on #155
Hi @jim1506 when Vemto skips a file, it is because it was changed on your Disk by another software (maybe the OS) or manually... in that case, just click on the **Compare Diff** option and **overwrite the file**... it forces overwriting the file with the Vemto version and now Vemto can track the changes and write to that file normally.

About Vemto not running *php artisan serve*, and the permissi

[2021-06-03 14:41] hossam-hani commented on #162
[image: image.png]
still same issue after upgrade php version

On Thu, Jun 3, 2021 at 4:21 PM Tiago S. P. Rodrigues <
***@***.***> wrote:

[2021-06-03 14:45] TiagoSilvaPereira commented on #162
Hi @hossam-hani please try running your code manually from the terminal and check if it is running with PHP 7.4+... this problem is specific for PHP 7.3<, so it is likely that Vemto is not running with the correct PHP version (maybe it is not correctly set on the Environment Variables, or Vemto is loading it from the old path).

You can try directly setting the PHP 7.4 path on Vemto environment se

[2021-06-03 14:46] hossam-hani commented on #162
i did it already , change the path from your settings
![image](https://user-images.githubusercontent.com/42097342/120664317-21b5e880-c48b-11eb-822e-5a10b2bfdf88.png)

[2021-06-03 14:47] hossam-hani commented on #162
![image](https://user-images.githubusercontent.com/42097342/120664548-4f029680-c48b-11eb-8c5f-367de4a138de.png)

[2021-06-03 14:50] hossam-hani commented on #162
![image](https://user-images.githubusercontent.com/42097342/120665051-bb7d9580-c48b-11eb-88a2-663880c31a53.png)
compile from the new version

[2021-06-03 14:52] TiagoSilvaPereira commented on #162
Hi @hossam-hani this is another error, as you can see in the error message...

[code]

It is happening because your model is called *Image*, and you also have a field called *image* in the same table... please use a different name, for example:

- Model Image with a field file
- Model Photo with a field image

Or, if you want to keep the name Image and the field as image, you can change the code m

[2021-06-03 14:54] hossam-hani commented on #162
the UI not updated Tiago !

[2021-06-03 14:56] TiagoSilvaPereira commented on #162
@TiagoSilvaPereira sorry I did not understand

[2021-06-03 14:57] hossam-hani commented on #162
![image](https://user-images.githubusercontent.com/42097342/120666250-ba009d00-c48c-11eb-899c-5e0466e863ce.png)
where is the mater details in UI ?

[2021-06-03 14:58] TiagoSilvaPereira commented on #162
Did you created the item? Master-Detail show after creating the item

[2021-06-03 15:04] TiagoSilvaPereira commented on #162
Hi @hossam-hani did it worked?

[2021-06-03 15:06] hossam-hani commented on #162
![image](https://user-images.githubusercontent.com/42097342/120667623-f5e83200-c48d-11eb-8e9c-be4bcd278da2.png)
 can't acess the project now , maybe I should try start new project and follow your steps

[2021-06-03 15:33] hossam-hani commented on #162
can we take a online meeting ?
[image: image.png]

[2021-06-03 15:33] hossam-hani commented on #162
i'm stuck here

On Thu, Jun 3, 2021 at 5:33 PM hossam hani ***@***.***> wrote:

[2021-06-03 15:44] hossam-hani commented on #162
[image: image.png]

i'm start new project and face same issue :"(

On Thu, Jun 3, 2021 at 5:33 PM hossam hani ***@***.***> wrote:

[2021-06-03 16:05] hossam-hani commented on #162
![image](https://user-images.githubusercontent.com/42097342/120676402-45caf700-c496-11eb-8baf-d7ab08d2034a.png)
i re-created the project and when start use the feature no image uploaded :"(

[2021-06-03 16:16] TiagoSilvaPereira commented on #162
@hossam-hani is your storage linked to the public folder?

[2021-06-03 16:18] hossam-hani commented on #162
Okay everything right now works fine the problem with validation parameters and I change it to image, and now everything worked fine

and I use it you tip and the models work fine now, thanks man you doing a **Amazing** work

[2021-06-03 16:20] TiagoSilvaPereira commented on #162
@hossam-hani amazing to know it :pray:

[2021-06-03 16:26] TiagoSilvaPereira commented on #162
Related to #153

[2021-06-03 18:00] hossam-hani opened #163 "[BUG] Unable to locate a class or view for component [inputs.url] Master Details"
Unable to locate a class or view for component [inputs.url]

when create Master Details
![image](https://user-images.githubusercontent.com/42097342/120691125-5aaf8680-c4a6-11eb-9c59-e87d19a4487e.png)

[2021-06-03 18:01] hossam-hani commented on #163
![image](https://user-images.githubusercontent.com/42097342/120691177-6a2ecf80-c4a6-11eb-835f-9ee83f891289.png)
database sturucure

[2021-06-03 18:14] hossam-hani commented on #163
it back to run after change the Master-Details value from text to image

[2021-06-03 18:34] #163 closed

[2021-06-04 14:22] StasKoun2 opened #164 "[BUG] Has started to play with master detail and has received an error"
I was experimenting with different options and suddenly got an error

![nnn_9000001 Has started to play with master detail and has received an error](https://user-images.githubusercontent.com/80303996/120816120-aa5f8200-c57a-11eb-82c1-32dce7bfb130.jpg)
![nnn_9000002](https://user-images.githubusercontent.com/80303996/120816156-b2b7bd00-c57a-11eb-91f8-5fa79afe055d.jpg)
![nnn_9000003](https://user-i

[2021-06-04 14:35] StasKoun2 opened #165 "App.css file size reduction option"
It would be nice to include the option to reduce the size of the app.css file (tailwind) in the project settings.
Only the classes used in the Blade, Jetstream, and Livewire templates are saved. Everything else is removed from the app.css file (tailwind)

[2021-06-04 14:36] TiagoSilvaPereira commented on #164
Hi @StasKoun2 the problem is happening due to the model names (A, B, C)... Vemto is generating the table names as: as, bs, cs, but Laravel is trying to use the tables: a_s, b_s, c_s... I recommend these ways to fix it:

- Change your models' names to use words instead of single characters (e.g. Post, Comment, Order, etc), so Vemto will generate the correct table names
- Or, change your generated M

[2021-06-04 14:36] #164 closed

[2021-06-04 14:42] #165 closed

[2021-06-04 14:59] StasKoun2 opened #167 "Change the collection name and table after changing the model name"
When you change the model name, the collection name and tables are not updated.

![nnn_9000100](https://user-images.githubusercontent.com/80303996/120821923-12fd2d80-c580-11eb-8985-bda1f5ae1e93.jpg)

[2021-06-04 15:23] StasKoun2 commented on #167
And you need to update all the other dependencies on the model name : relationships, and so on .....

[2021-06-04 16:07] ballesta commented on #161
I understand that it is mandatory to generate code to git repository.

[2021-06-04 17:43] TiagoSilvaPereira commented on #167
Hi @StasKoun2 I'll add a confirmation to ask if you want to regenerate the collection and table, and relationships after changing a model name (sometimes it is not the desired behavior, so it needs to be optional).

[2021-06-04 17:47] TiagoSilvaPereira commented on #161
Hi @ballesta this option is always checked by default, you probably unchecked it accidentally... but it is not mandatory, some people just want to generate the project code to replace it, and not the complete project. That is the reason that you can disable running **git clone** when necessary (but for default scenarios, keep it checked).

[2021-06-04 17:47] #161 closed

[2021-06-06 16:25] asharekh commented on #1
hi,

i have done everything, still not working

this is the error:
`Starting code generation!
Checking php
Checking composer
Command failed: /usr/local/bin/composer --version /bin/sh: /usr/local/bin/composer: is a directory
Command failed: /usr/local/bin/composer --version /bin/sh: /usr/local/bin/composer: is a directory
Sorry, Vemto requires composer installed in your system. Please check if comp

[2021-06-06 16:30] asharekh commented on #115
Hi,

i have the same issue, followed all guides and tips, still not working

error :

`Starting code generation!
Checking php
Checking composer
Command failed: /usr/local/bin/composer --version /bin/sh: /usr/local/bin/composer: is a directory
Command failed: /usr/local/bin/composer --version /bin/sh: /usr/local/bin/composer: is a directory
Sorry, Vemto requires composer installed in your system. P

[2021-06-07 13:32] TiagoSilvaPereira commented on #1
Hi @asharekh as you can see on your error message:

[code]

It means that your composer binary is not inside the /usr/local/bin directory. Maybe it is on /usr/local/bin/composer?

You need to set the exact folder that contains de composer binary.

[2021-06-07 13:34] TiagoSilvaPereira commented on #115
Hi @asharekh as you can see on your error message:

[code]

It means that your composer binary is not inside the /usr/local/bin directory. Maybe it is on /usr/local/bin/composer?

You need to set the exact folder that contains de composer binary.

[2021-06-07 16:14] ballesta commented on #161
Thank you Tiago.

This lead to 2 more questions:

1:Could you tell me where is stored the application schema (entities,
fields, ....)?

2:Where is stored the git hub repository?

3:How do I track the manual modifications to generated code?

Best regards
Bernard

Le ven. 4 juin 2021 à 19:47, Tiago S. P. Rodrigues ***@***.***>
a écrit :

[2021-06-07 16:33] TiagoSilvaPereira commented on #161
Hi @ballesta

**1:Could you tell me where is stored the application schema (entities, fields, ....)?**

All the project data is stored on the %APP_DATA%/vemto folder, inside the storage/reladb subfolder (RelaDB is the database that Vemto uses to store the data).

**2:Where is stored the git hub repository?**

Vemto doesn't store the git repository. It only uses the [Laravel default repository](htt

[2021-06-12 15:27] VedataGroup opened #168 "Cambiar licencia de computador"
Voy a cambiar mi computador y quiero llevar la licencia al nuevo computador, ¿cómo pudeo hacerlo?

[2021-06-12 17:40] TiagoSilvaPereira commented on #168
Hi @VedataGroup you can just Revoke the license from Vemto on your previous computer, or **Vacate** the license from your Vemto Dashboard: https://vemto.app/home

[2021-06-12 17:40] #168 closed

[2021-06-12 18:03] alessandrodorazio opened #169 "Custom field on show page"
Hi,
I'm using the trial version of the software, and I want to show how many items belong to a category on the show page of the category.

I haven't understood how I can do this, because if I use a standalone computed text, I can see only in the index page, but not on the show page. It is possible to do or I have to edit the code?

Thanks for the support

[2021-06-14 14:27] TiagoSilvaPereira commented on #169
Hi @alessandrodorazio yes, it would be necessary to edit the code, as computed inputs work only on lists and index pages for now... but I want to add support for show pages too

[2021-06-14 14:27] #169 closed

[2021-06-17 23:24] dblanco-dev opened #170 "Enum field type in model and spelling error in select"
There is a spelling error when trying to modify an item in a select in the CRUD section:

![Snipaste_2021-06-17_11-54-14](https://user-images.githubusercontent.com/33554631/122481564-22bb3f80-cf8c-11eb-9aaf-c9be46437592.png)

In the CRUD section, when adding a select bound to a field of a model, it allows adding items but they cannot be modified or deleted. (You can see it in the image above).

Al

[2021-06-18 13:18] TiagoSilvaPereira commented on #170
Hi @dblanco-dev thank you for reporting. Could you please send a screenshot showing this error:

[code]

[2021-06-18 15:25] dblanco-dev commented on #170
Sorry I deleted the project and re-created it after failing to generate the code, today I tried to replicate the error but couldn't.

But I am attaching some screenshots of the other error that I mentioned:

![Snipaste_2021-06-18_09-11-18](https://user-images.githubusercontent.com/33554631/122583405-6c506c80-d016-11eb-9386-ca0572ac51e0.png)

![Snipaste_2021-06-18_09-21-04](https://user-images.gith

[2021-06-18 20:15] TiagoSilvaPereira commented on #170
Perfect @dblanco-dev I'll fix it ASAP

[2021-06-18 20:16] TiagoSilvaPereira commented on #151
Closed due to inactivity

[2021-06-18 20:16] #151 closed

[2021-06-18 20:21] TiagoSilvaPereira commented on #152
Closing as I would not able to reproduce... please open the issue again if necessary.

[2021-06-18 20:21] #152 closed

[2021-06-19 18:45] StasKoun2 opened #171 "BUG. redeclare in livewire"
![pp_001](https://user-images.githubusercontent.com/80303996/122652428-01637a80-d169-11eb-8e86-ff09a5bba67f.jpg)
![pp_002](https://user-images.githubusercontent.com/80303996/122652429-0294a780-d169-11eb-9d31-977d76187c37.jpg)
![pp_003](https://user-images.githubusercontent.com/80303996/122652430-032d3e00-d169-11eb-8265-8ceefe6f3338.jpg)
![pp_007](https://user-images.githubusercontent.com/80303996/

[2021-06-19 18:53] StasKoun2 opened #172 "Bug. dublicate in controllers"
![ppp_001](https://user-images.githubusercontent.com/80303996/122652613-efcea280-d169-11eb-8be2-f02438ff1918.jpg)
![ppp_002](https://user-images.githubusercontent.com/80303996/122652780-ce21eb00-d16a-11eb-92a5-70cbeb95bec6.jpg)
![ppp_003](https://user-images.githubusercontent.com/80303996/122652614-f0ffcf80-d169-11eb-8c67-66de81db5e93.jpg)
![ppp_007](https://user-images.githubusercontent.com/80303

[2021-06-21 13:46] TiagoSilvaPereira commented on #171
Hi @StasKoun2 I'll check it ASAP

[2021-06-21 13:46] TiagoSilvaPereira commented on #172
Hi @StasKoun2 I'll check it ASAP

[2021-06-24 08:26] AlexJames-Dev opened #173 "Date field incorrectly formatted on Master Detail"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
The creation modal on the master details does not seem to have it's date field formatted correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Create two models, X and Y with X having a hasMany relationship to Y; and model Y containing a Date Field
2. Add a

[2021-06-24 19:38] TiagoSilvaPereira commented on #173
Hi @AlexJames-Dev thank you for reporting

[2021-06-24 23:07] RPJamie opened #174 "Periods in directory names are being replaced with underscores when generating code"
**Describe the bug**
Directories for git repositories with periods in their name, when running generate, are converted into underscores.
The results are a new directory is created with the generated files.

eg:
Source directory path,  `/home/some.git.project`
Generated files creates, `/home/some_git_project`

**To Reproduce**
* In Vemto, under `Project Settings` set `Name` to a directory that has

[2021-06-25 15:39] TiagoSilvaPereira commented on #174
Hi @RPJamie thank you for reporting, I'll check it

[2021-06-25 21:26] TiagoSilvaPereira commented on #155
Hi @jim1506 I'm closing it for now, as it seems to not be a Vemto bug. If you have any questions, please feel free to contact me

[2021-06-25 21:26] #155 closed

[2021-06-26 19:27] #158 closed

[2021-06-26 19:28] TiagoSilvaPereira commented on #158
Fixed on 0.9.7

[2021-06-26 19:28] TiagoSilvaPereira commented on #173
Fixed on 0.9.7

[2021-06-26 19:28] #173 closed

[2021-06-26 19:28] TiagoSilvaPereira commented on #172
Fixed on 0.9.7

[2021-06-26 19:28] #172 closed

[2021-06-26 19:28] TiagoSilvaPereira commented on #171
Fixed on 0.9.7

[2021-06-26 19:28] #171 closed

[2021-06-26 19:29] TiagoSilvaPereira commented on #167
Partially fixed on 0.9.7

[2021-06-26 19:29] TiagoSilvaPereira commented on #170
Partially fixed on 0.9.7

[2021-06-29 17:33] tkerns opened #180 "Jerky screen makes it hard to accurately type fields"
When I edit fields in a table Vemto constantly saves, even between keystrokes, causing the screens to jump around.  There is also perceptible lag, causing letters to lag and sometime be skipped.
This has happening on all versions as far as I can tell.  I have 0.9.7 installed currently.
I am running this on windows 10 on a high end laptop (not underpowered), Alienware Area 51m.

It might be nice to

[2021-06-29 22:20] josefo727 opened #181 "Vemto does not find 'npm'."
Greetings @TiagoSilvaPereira . . .

I have problems running **_Generate_** in Vemto, it does not recognize or cannot find the **npm** file.

![image](https://user-images.githubusercontent.com/39111029/123874089-31dfad00-d8fd-11eb-8ce7-3f64bde4b9c4.png)

**My current setup:**

![image](https://user-images.githubusercontent.com/39111029/123874227-6fdcd100-d8fd-11eb-9f99-f686c6ab327b.png)

If I confi

[2021-06-29 22:40] josefo727 commented on #181
Greetings again @TiagoSilvaPereira . . .

I was able to solve by creating a symbolic link in this way, it can be closed, thank you very much.

`sudo ln -s /home/josefo/.config/nvm/versions/node/v14.15.5/bin/node /usr/bin/node`

[2021-06-30 13:44] TiagoSilvaPereira commented on #180
Hi @tkerns thank you for reporting, I'll check what is happening

[2021-06-30 13:45] TiagoSilvaPereira commented on #181
Hi @josefo727 thank you for posting your solution

[2021-06-30 13:45] #181 closed

[2021-06-30 21:14] 949mac opened #182 "`composer.json` and `package.json` not written during generation"
Generating the application seems to omit some core files.

![image](https://user-images.githubusercontent.com/23151962/124032330-4bd8c880-d9ad-11eb-9597-1c5583689b3c.png)

**Warnings Received**

![image](https://user-images.githubusercontent.com/23151962/124032179-16cc7600-d9ad-11eb-8375-2e63be39b972.png)

![image](https://user-images.githubusercontent.com/23151962/124032239-2946af80-d9ad-11eb-9ab

[2021-06-30 21:31] 949mac opened #183 "`id` of type UUID with Primary Key does not reflect `->primary()` in migration."
Actual
[code]

Expected
[code]

*Showing Vemto Setup*
- [x] id is `UUID`
- [x] id is Primary Key

![image](https://user-images.githubusercontent.com/23151962/124033999-7fb4ed80-d9af-11eb-96f7-f03cea4fbbfd.png)

*Showing produced migration*
- [ ] `id` is missing `->primary()`

![image](https://user-images.githubusercontent.com/23151962/124034011-85aace80-d9af-11eb-80fe-975f8eecfe8f.png)

*Showing e

[2021-06-30 21:45] 949mac commented on #183
Quick little Mac hack if anyone runs into this before a proper patch:

(run this from the terminal of the project root)

[code]

[2021-07-01 14:00] TiagoSilvaPereira commented on #182
Hi @949mac probably *git clone* is disabled in your code generation settings... please disable this option only if you want to generate the code files (models, controllers), not a complete project, as you can read in the tip on the right side of the option:

[code]

![image](https://user-images.githubusercontent.com/11933789/124136424-25716680-da5b-11eb-8c4f-d6fd605968e4.png)

[2021-07-01 14:00] #182 closed

[2021-07-01 14:01] TiagoSilvaPereira commented on #183
Hi @949mac thank you for reporting, I'll fix it asap

[2021-07-01 15:05] tomaspribyl opened #188 "Add table name validation to Schema Editor"
When I have (by mistake)  two Models with same table name, migration with same class name is created. Migration ending with error.

[2021-07-01 15:33] TiagoSilvaPereira commented on #188
Hi @tomaspribyl thank you for reporting

[2021-07-02 21:44] relayer464 opened #189 "Missing inputs.url Component and other expected URL syntax"
Greetings,

**Problem 1: Missing inputs.url on Create and Edit Forms**

The "Url" input type and other URL syntax does not appear to be working.  When I select this Input type, I essentially get what appears to be the same thing you would get by select the Input type of Text.

1. Create a CRUD that includes an input type "Url"
2. Generate project
3. Navigate to Create or Edit forms and get the fol

[2021-07-03 14:29] TiagoSilvaPereira commented on #189
Hi @relayer464 thank you for reporting, I'll check and fix it ASAP

[2021-07-05 22:37] 949mac commented on #189
Hi @TiagoSilvaPereira,

I think I just experienced the same issue.

![image](https://user-images.githubusercontent.com/23151962/124522105-e0c13480-dda6-11eb-95f8-06b93ae1282e.png)

![image](https://user-images.githubusercontent.com/23151962/124522108-e28af800-dda6-11eb-9eab-6327e46845fa.png)

[2021-07-06 20:37] tkerns commented on #180
@TiagoSilvaPereira I did some more troubleshooting, and the jerkiness appears tied to a windows setting that makes everything bigger.  ie settings > display > make everything bigger (set to 125%).  If I change it back to 100% the jerkiness goes away, BUT there is still a lag when in the schema editor, adding new fields and typing in them, that often causes characters to drop.  Unless I type at a r

[2021-07-07 18:46] TiagoSilvaPereira commented on #180
Hi @tkerns thank you for this information... that is a strange bug, but I suspect the problem is occurring due to the Schema relationships lines rendering. Whenever you change a field, Vemto needs to re-render the Schema, and it is a costly task to the CPU.

Although it looks like (because it is fired by the same event), the problem is probably not with Vemto trying to save the data, as this is do

[2021-07-07 18:58] tkerns commented on #180
@TiagoSilvaPereira It appears that it re renders after every keystroke.  I wonder if you could do it when you leave the field (like on blur), or add some sort of debounce like livewire does on field changes, so it doesn't re render after every keystroke.
Thanks for your work on this.  I am really loving this tool!

[2021-07-07 19:01] TiagoSilvaPereira commented on #180
Hi @tkerns, yeah, I'll add a debounce to the render method... it probably will solve or reduce the problem... typing on the field already has a debounce of 300ms, but I'll change it to something greater

[2021-07-07 19:35] ianhawes commented on #180
I'm encountering this issue on macOS Big Sur (11.4).

I've noticed that restarting the app seems to solve the issue for a brief period.

[2021-07-07 19:43] TiagoSilvaPereira commented on #180
Hi @ianHi @ianhawes thank you for sharing... probably the Schema rendering is causing some CPU performance issues or some memory leaks... I'm investigating what is happening to launch a new version fixing that

[2021-07-09 23:41] opizarrosilva opened #191 "Error Master Detail"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
He creado un CRUD y agregue MASTER DETAIL, después generé el código y hasta ahí todo funcionó bien sin errores y sin advertencias. Al ingresar a la aplicación y probar el CRUD me salió un error:
"Illuminate\Database\QueryException
SQLSTATE[42S22]: Column not found: 1

[2021-07-10 00:53] TiagoSilvaPereira commented on #191
Hi @opizarrosilva seems like you added the "Nombre" field after running the migrations. You need to run them again. You can do it by clicking on the **Run** button on Vemto, or you can execute it directly on the terminal:

[code]

[2021-07-10 00:53] #191 closed

[2021-07-10 02:17] opizarrosilva commented on #191
Hi Tiago, I think the error is in how the validation is written:
![image](https://user-images.githubusercontent.com/83740682/125148791-be128100-e102-11eb-858b-7f923d17a80b.png)

When it does the validation it tries to fetch the column "partida.nombre" and you should search for the column "partidas.nombre", this is not possible to correct by running "php artisan migrate:fresh --seed"

[2021-07-11 10:17] alonweinstein opened #192 "Apps dropdown is always blank"
After generating & running the app, the "Apps" dropdown is always empty - even though there are 4 apps configured.

**To Reproduce**
- Create a new project with Tailwind & Breeze
- Create a model
- Create an app from the model
- Generate & run

**Expected behavior**
Apps dropdown should have links to the configured apps

**Screenshots**
![image](https://user-images.githubusercontent.com/1416410/12

[2021-07-11 11:26] alonweinstein commented on #192
Closing this -- it was just a permissions issue for the newly created user.

[2021-07-11 11:26] #192 closed

[2021-07-12 13:27] henriquek3 opened #193 "Export PNG image from Schema Editor"
Is it possible to implement the option to export a png file from the Schema Editor tab to share the project's relationships as images, as in the example below?
![image](https://user-images.githubusercontent.com/17914565/125295517-4c4d5980-e2f3-11eb-9ae4-563ea8b51c63.png)

[2021-07-12 13:55] TiagoSilvaPereira commented on #193
Hi @henriquek3 thank you for your suggestion... as it is not a bug, I'm converting it to a discussion. Best regards

[2021-07-12 13:55] #193 closed

[2021-07-12 23:54] TiagoSilvaPereira commented on #170
Finished on 0.9.8

[2021-07-12 23:54] #170 closed

[2021-07-12 23:55] TiagoSilvaPereira commented on #180
@tkerns @ianhawes fixed on 0.9.8 (I would love to hear your feedback). Thank you

[2021-07-12 23:55] #180 closed

[2021-07-12 23:56] TiagoSilvaPereira commented on #183
Fixed on 0.9.8

[2021-07-12 23:56] #183 closed

[2021-07-12 23:57] TiagoSilvaPereira commented on #189
@relayer464 @949mac fixed on 0.9.8

[2021-07-12 23:57] #189 closed

[2021-07-13 01:11] tkerns commented on #180
@TiagoSilvaPereira This seems to have fixed the issues with lag and missing letters when typing in a schema field name, thanks!
I still have the jerky screen issue that appears to be due to my windows display setting being set to 125%.  This is a minor annoyance, so no worries there.

[2021-07-13 06:00] blackfyre opened #195 "[BUG] Flashing Scrollbars"
**Describe the bug**
On Windows 10, when opening a table for editing the spinner on the bottom bar causes the scrollbars to flash, and the resulting shift in the horizontal space makes things harder to interact with, and especially annoying when typing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to schema editor
2. Click on random table
3. Interact
4. See error

**Expected behavior**

[2021-07-13 14:26] TiagoSilvaPereira commented on #195
Hi @blackfyre thank you for reporting... could you please check if there is something related to #180 (seems like this scrollbar flash is caused by zoom issues on Windows OS)

[2021-07-13 14:27] TiagoSilvaPereira commented on #180
@tkerns awesome... I'll try to identify what is happening about the screen issue to fix it on the next version. Best regards

[2021-07-13 14:44] blackfyre commented on #195
Will do, asap 😊

[2021-07-13 18:01] nocodelab opened #196 "[BUG] When a relationship is deleted, MasterDetail views are not deleted"
Hello,
As mentioned in the title, when I delete a relationship the related MasterDetail views are not deleted accordingly.
This generate a crash during the code generation.
Manually removing the MasterDetail view(s) solves the issue.

Cheers!

[2021-07-13 18:03] nocodelab opened #197 "[BUG] Models methods are not updated after renaming the relationships"
Hello,
If I update the relationship name, the methods are not updated accordingly in the models (and the rest of the code).

Cheers

[2021-07-13 18:04] nocodelab opened #198 "[BUG] Factories are not updated when updating model fields"
Hello,
If i add/remove/edit a field, the model's factory is not updated accordingly.

Cheers!

[2021-07-13 18:07] nocodelab opened #199 "[IMPROVEMENT] Nullable icons should have a better contrast"
Nullable icons should have a better contrast ratio in order to be readable correctly.

<img width="311" alt="Screenshot 2021-07-13 at 20 16 21" src="https://user-images.githubusercontent.com/4540118/125504376-8c9f71a5-6b5b-4f37-95c3-f1ba95ef91ad.png">

Please find below a WCAG compliance test:
<img width="512" alt="Screenshot 2021-07-13 at 20 05 53" src="https://user-images.githubusercontent.com/4

[2021-07-13 18:10] nocodelab opened #200 "[IMPROVEMENT] Skipped files section should be taller or resizable"
Hello,
As per the screenshot attached I believe that the skipped files section should be resizable (or at least taller).

<img width="2032" alt="Screenshot_2021-07-07_at_15 37 50" src="https://user-images.githubusercontent.com/4540118/125503403-cee88c10-141d-494b-a211-dee08d9eee47.png">

The screenshot has been taken on a retina (resized @ 1080) monitor.

Cheers!

[2021-07-13 19:26] TiagoSilvaPereira commented on #198
Hi @nocodelab thank you for reporting... could you please share more details about this issue? I tried to reproduce it here, but it seemed to work

[2021-07-13 19:28] TiagoSilvaPereira commented on #199
Hi @nocodelab thank you very much for your suggestion

[2021-07-13 19:28] TiagoSilvaPereira commented on #200
Hi @nocodelab thank you for your suggestion

[2021-07-13 19:29] TiagoSilvaPereira commented on #197
Hi @nocodelab thank you for reporting

[2021-07-13 19:29] TiagoSilvaPereira commented on #196
Hi @nocodelab thank you for reporting

[2021-07-13 21:10] blackfyre commented on #195
Soo... The magnification which is 125% by default on windows for a 15.6 screen with a 1920x1080 resolution is definitely related to the problem.
But, reducing the scaling to 100% isn't an ideal solution, with the screen above it causes too much strain on the eyes.
I'm happy to help debug this issue further!

[2021-07-14 14:03] TiagoSilvaPereira commented on #195
@blackfyre thank you, I'll try to fix it for the next version

[2021-07-15 01:25] relayer464 commented on #189
Greetings,

Thanks, I see the URL input and index page link were fixed on the latest update.  I just regenerated a page that uses the Url input type and those two issues appear to be resolved.

However, I noticed that the URL field on the "show" page is standard still just text.  It seems like it should also be a clickable link just like just like the update you made for the Index page.

Thanks!

[2021-07-15 12:37] deanlj opened #201 "[BUG] Schema Editor relationship connectors disconnecting when entity is moved"
**Describe the bug**
In the schema editor the entity connector is rendering incorrectly but only on one entity.
Moving it to th right causes the entity to resize and for one relationship connector to draw as unconnected
Also right hand scroll bar is flashing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to schema editor
2. Click on connected accounts entity
3. move entity to the right
4

[2021-07-15 13:27] TiagoSilvaPereira commented on #201
Hi @deanlj thank you for reporting, I'll check what is happening

[2021-07-15 13:50] deanlj commented on #201
great, thanks

forgot to say this is v0.9.9 with a new project

[2021-07-22 15:48] ballesta opened #202 "How to backup Vemto Applications"
Hi Tiago,

How do I **back up** Vemto Applications ?

I understand from your previous mail that my applications are under **%appdata%**.

But under Ubuntu, I am not able to find where is %appdata% folder located.

Best regards
Bernard

[2021-07-22 20:47] bahast7 opened #203 "When Generating Code with tailwind css breeze"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
When Generating Code with tailwind css breeze it will make an composer error that is not true

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Project Setting
2. Click on Views
3. Select CSS Framework Tailwind CSS
4. Select Breeze as UI Template

**Expecte

[2021-07-23 12:44] TiagoSilvaPereira commented on #203
Hi @bahast7 it is a composer bug, generally due to using an incorrect composer version, incompatible with your PHP version. Please check these links:

https://laracasts.com/discuss/channels/laravel/fclose-argument-1-stream-must-be-of-type-resource-bool-given

https://stackoverflow.com/questions/66109427/fclose-argument-1-stream-must-be-of-type-resource-bool-given

[2021-07-23 12:44] #203 closed

[2021-07-23 12:47] TiagoSilvaPereira commented on #202
Hi @ballesta,

On ubuntu, it is generally under **~/.config/vemto/storage**

But with the recent Vemto versions, you could just export the projects you want to backup, as now Vemto supports exporting and importing projects from the Home Page.

[2021-07-23 12:47] #202 closed

[2021-08-03 02:03] dblanco-dev opened #205 "Error adding relationships"
[code]

---

vemto 0.9.9
Electron 8.5.5
win32 10.0.19043
Locale: es-419

![Snipaste_2021-08-02_19-58-29](https://user-images.githubusercontent.com/33554631/127946034-1d676ff9-92b5-43b2-b3dc-ee5f41a31134.png)
![Snipaste_2021-08-02_19-58-45](https://user-images.githubusercontent.com/33554631/127946035-80dd7fc2-2dc3-4215-b9e8-189966fbda25.png)

[2021-08-03 13:09] TiagoSilvaPereira commented on #205
Hi @dblanco-dev please change the **id** field in the User model to be a **primary key** before trying to create the related foreign key
![image](https://user-images.githubusercontent.com/11933789/128020823-b6931e5a-d428-41db-a5a6-5514fd5d0789.png)

[2021-08-03 13:09] #205 closed

[2021-08-03 18:15] relayer464 opened #206 "Urls not clickable links on Show pages"
Greetings,

I previously reported several issues relating to use of  Input Type of Url:

https://github.com/TiagoSilvaPereira/vemto-issues/issues/189

That issue was closed.   However, it looks as though **Urls** are **still not clickable links on the Show page**.   I believe all the other related issues were fixed, including making Urls clickable on Index pages.

Expected behavior

I had expected

[2021-08-03 19:07] TiagoSilvaPereira commented on #206
Hi @relayer464 thank you for reporting, I wish to fix it on the next minor version

[2021-08-05 13:13] tomaspribyl opened #209 "Feature: Ability to hide or show models or tables in Schema editor"
working with too many models is confusing

[2021-08-05 20:27] relayer464 opened #210 "[Bug] Migrations fail due to order of migration files"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
When I run the **php artisan migrate:fresh --seed** command I receive the following error:

General error:

From what I can tell, the problem is that some of the **add_foreigns_to** migrations have a higher order number than the **create** migrations they're referrin

[2021-08-06 03:19] relayer464 opened #211 "[Bug] On Create and On Update option not working"
**Describe the bug**

I add several fields using the CRUD Editor that I only want to be seen on the On Show page, so I uncheck On Create, On Update, and On Index in the field Settings section.

![image](https://user-images.githubusercontent.com/20197966/128450014-2108ca38-22f3-4f95-81da-daac7899e45f.png)

After I regenerate the project the field is not longer viewable on the Index page (the expect

[2021-08-06 14:14] TiagoSilvaPereira commented on #211
@relayer464 thank you for reporting

[2021-08-06 14:16] TiagoSilvaPereira commented on #210
Hi @relayer464 thank you for reporting, I'll fix it as soon as possible

[2021-08-06 14:17] TiagoSilvaPereira commented on #209
Hi @tomaspribyl thank you for you suggestion

[2021-08-11 17:25] HRR1337 commented on #195
This is the first thing I also wanted to report. It makes me a bit nauseous.

[2021-08-12 14:18] TiagoSilvaPereira commented on #195
Hi @HRR1337 unhappiness I did not found a solution for this yet but seems like it is happening on Windows due to zoom issues, as you can see here: #180

Could you please check if the zoom is what is causing the problem in your case too?

[2021-08-12 16:55] JPOyarzunA opened #214 "Error Generating Code from Duplicate Project"
Hi, I duplicate a project to change the CSS Framework to Bootstrap (originally was with TailWind). I keep getting an error when trying to generate the code. Version 0.9.9.

Generating views...
ENOENT, stubs\views\frameworks\bootstrap\AppLayoutJetstream.silverb not found in C:\Users\JPO\AppData\Local\Programs\vemto\resources\app.asar
Error: ENOENT, stubs\views\frameworks\bootstrap\AppLayoutJetstrea

[2021-08-13 06:40] blackfyre commented on #195
@TiagoSilvaPereira what kind of height units are you using? `px`? `em`? `rem`?

[2021-08-13 07:43] HRR1337 commented on #195
My screen is on 150%, and then it flickers. I have tested it on 100% and then the screen is not flickering (no scrollbar when the system saves something).

[2021-08-13 13:58] TiagoSilvaPereira commented on #195
@blackfyre it is using **rem**

[2021-08-13 17:56] blackfyre commented on #195
Then my only guess is to blame the icon and it's animation... Probably the icon's bounding box pushes the container apart... A hidden overflow on the icon's container might do the trick...

[2021-08-14 15:56] TiagoSilvaPereira commented on #195
Hi @blackfyre thank you for your suggestion... I'll check it asap

[2021-08-16 08:34] blackfyre opened #217 "Multiple CRUD Apps for the same model"
**Describe the bug**
The app allows multiple CRUD apps to be created for the same model, but after generating the app, while the multiple apps are accessible through the menu, the actual view is the last one generated for the model.
This is not desirable as in some use cases, it's necessary to create different CRUD apps for the same model.

**To Reproduce**
Create 2 CRUD apps for the same model wi

[2021-08-19 14:03] henriquek3 commented on #217
Eu também aguardo essa solução pois no meu contexto eu preciso de um modelo para Pessoas que contenham os CRUD de Clientes e Fornecedores, estes possuem atributos e objetos master-details diferentes entre si.

[2021-08-21 17:16] TiagoSilvaPereira commented on #195
@blackfyre @HRR1337 @tkerns fixed on  0.9.10

[2021-08-21 17:16] #195 closed

[2021-08-21 17:16] TiagoSilvaPereira commented on #196
Fixed on 0.9.10

[2021-08-21 17:16] #196 closed

[2021-08-21 17:17] TiagoSilvaPereira commented on #199
@nocodelab fixed on 0.9.10

[2021-08-21 17:17] #199 closed

[2021-08-21 17:17] TiagoSilvaPereira commented on #200
@nocodelab fixed on 0.9.10

[2021-08-21 17:17] #200 closed

[2021-08-21 17:17] TiagoSilvaPereira commented on #201
@deanlj fixed on 0.9.10

[2021-08-21 17:17] #201 closed

[2021-08-21 17:18] TiagoSilvaPereira commented on #206
@relayer464 fixed on 0.9.10

[2021-08-21 17:18] #206 closed

[2021-08-21 17:21] TiagoSilvaPereira commented on #198
Closing for now... please feel free to reopen if the problem persists

[2021-08-21 17:21] #198 closed

[2021-08-21 21:03] henriquek3 opened #218 "Fixes on inputs/basic.blade.php component file"
This edition aims to enable the placeholder feature that is not working in version 0.9.10.

![image](https://user-images.githubusercontent.com/17914565/130334696-967874b7-411c-49a7-bfed-9c77c20cc3e9.png)

[2021-08-21 21:04] henriquek3 opened #219 "CSS recommendation for required fields"
Increment this CSS snippet to put a red * on the field labels that are required

[code]

[2021-08-22 16:08] henriquek3 opened #220 "Improvements on the "Add CRUD" modal"
This image shows all the entities that I can add a CRUD to, but note that the list is sorted in an "unknown" way and you can only search by the first letter of the name.

![image](https://user-images.githubusercontent.com/17914565/130361933-820e6041-3a0f-441a-876e-164b3e127c91.png)

The suggestions are:

1. Sort the options A-Z
2. Change the component from "SELECT" to "SELECT with Search" similar

[2021-08-23 06:52] blackfyre commented on #195
Can confirm, problem solved!
Thanks @TiagoSilvaPereira!

[2021-08-23 14:21] TiagoSilvaPereira commented on #219
Hi @henriquek3 thank you for your suggestion... I'm moving it to **Discussions** as it is not a bug

[2021-08-23 14:21] #219 closed

[2021-08-23 14:23] henriquek3 opened #222 "Missing "new_title" field in "Settings" tab of "CRUD" screen"
"Settings" tab fields:

![image](https://user-images.githubusercontent.com/17914565/130463163-4fb61aa1-f627-4a76-bc93-129a9e84bbab.png)

Currently generated fields, I took an example from the file in `resources/lang/crud.php`

![image](https://user-images.githubusercontent.com/17914565/130463415-b0852e19-471f-480b-ac2c-84d51d3faac4.png)

According to the menus:

Index Page Title     -> `index_titl

[2021-08-23 15:14] henriquek3 opened #223 "Option for change text placeholder on select element"
The text "Please select the" on placeholder this image:
![image](https://user-images.githubusercontent.com/17914565/130471926-62963610-ddb5-486e-a11e-02faec175622.png)

This text not found option for change in `resource/lang/crud.php`
![image](https://user-images.githubusercontent.com/17914565/130471977-40378ded-ab58-4e49-ac2d-cab1adce341d.png)

[2021-09-01 13:49] shofeather opened #230 "Unhandled Promise Rejection"
[code]

---

vemto 0.9.10
Electron 8.5.5
win32 10.0.19043
Locale: en-US

[2021-09-01 14:32] TiagoSilvaPereira commented on #230
Hi @shofeather thank you for reporting... I'll check it asap

[2021-09-04 15:00] sheriefICT opened #231 "Sherief"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2021-09-04 15:00] #231 closed

[2021-09-04 15:19] sheriefICT opened #232 "SSS"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2021-09-04 15:19] sheriefICT commented on #232
lARAVEL

[2021-09-04 15:19] #232 closed

[2021-09-09 19:48] lhilton opened #233 "Another NPM / NVM issue (macOS 11.5.2)"
**Describe the bug**
I cannot generate code on a clean install of vemto 0.9.10, in a newly created (but not empty, it has a couple of models/apps) project. Error is `no such file or directory`.

**To Reproduce**
Steps to reproduce the behavior:
1. Use macOS 11.5.2
2. Use NVM to manage node versions
3. Run in terminal `nvm use 14.17.6`
4. Set vemto global path for NPM to: `/Users/{{ your profile na

[2021-09-13 13:22] TiagoSilvaPereira commented on #233
Hi @lhilton could you please test if it happens when creating a new project?

[2021-09-13 14:45] lhilton commented on #233
@TiagoSilvaPereira identical results.

The issue appears to be the way that NPM is being called by Vemto. When installed via [NVM](https://github.com/nvm-sh/nvm), the npm file in the path is a node.js app, not a SH script. When your call is issued, the SH engine encounters JS and dies.

I tried changing the symlink that NVM uses, however this broke everything else in that ecosystem so I never test

[2021-09-14 19:13] lhilton commented on #233
@TiagoSilvaPereira is there a way to disable the command to check? For my immediate needs, I can do without the frontend asset builds, I can always handle that myself.

[2021-09-15 23:48] TiagoSilvaPereira commented on #233
Hi @lhilton currently there is no way to disable the "check process"... could you please try installing NPM in another way? I'll add a way to disable the "check process" on future versions, and I'll investigate how to bypass this limitation from NVM

[2021-09-20 22:42] #209 closed

[2021-09-20 22:43] TiagoSilvaPereira commented on #217
@blackfyre thank you for reporting, I'll fix it on future versions

[2021-09-20 22:46] TiagoSilvaPereira commented on #230
Hi @shofeather I tried to reproduce it here, but without success... seems like an isolated bug... please reopen if it happens again

[2021-09-20 22:46] #230 closed

[2021-09-20 23:21] TiagoSilvaPereira commented on #174
Fixed on 0.9.11

[2021-09-20 23:21] #174 closed

[2021-09-20 23:21] TiagoSilvaPereira commented on #188
Fixed on 0.9.11

[2021-09-20 23:21] #188 closed

[2021-09-20 23:22] TiagoSilvaPereira commented on #210
Fixed on 0.9.11

[2021-09-20 23:22] #210 closed

[2021-09-20 23:23] TiagoSilvaPereira commented on #218
Fixed on 0.9.11

[2021-09-20 23:23] #218 closed

[2021-09-20 23:24] TiagoSilvaPereira commented on #233
Hi @lhilton I just added a way to disable the "check dependencies" process. Please update to 0.9.11

[2021-09-20 23:24] #233 closed

[2021-09-21 04:35] blackfyre commented on #217
If I can help with it, let me know 😁

[2021-09-22 17:51] thijmenogerion opened #237 "Improvement: unique field unique faker attribute"
When creating a unique database field. please use the faker->unique->name (for example)

[2021-09-22 19:15] carloshagge2 commented on #237
Faker\Generator::getFormatter("cpf") erro ao gerar campo cpf no banco de dados via migration
alguém aí sabe como fazer essa faker?

[2021-09-23 11:55] TiagoSilvaPereira commented on #237
@thijmenogerion thank you for your suggestion

[2021-09-23 11:57] TiagoSilvaPereira commented on #237
@carloshagge2 you can use the CPF formatter directly and combine it with the unique rule if necessary: https://fakerphp.github.io/locales/pt_BR/#fakerproviderpt_brperson

[2021-09-30 16:05] Burotica opened #238 "Field select with relationship"
It is a shame not to be able to make a relation between two select fields.

I try for example to create a CMS with the creation of Pages which have a Category and a Sub-Category (in relation to the chosen Category)

[2021-09-30 17:19] TiagoSilvaPereira commented on #238
Hi @Burotica it is already in my plans to add this feature to Vemto. For now, you can do it by editing the generated code

[2021-10-04 12:44] jakubgg opened #239 "Dash "-" in the project name is changed to underscore "_" when project is generated"
**Describe the bug**
A name of the project containing dashes "-" (e.g. "sample-project") gets converted to a name with underscores "_" when creating a project directory (resulting in "sample_project").

**To Reproduce**
1. create "New Project"
2. name project "sample-project"
3. go to "Generate Project" click "Generate"
4. the project directory created has it's name changed to "sample_project"

**

[2021-10-04 14:04] #239 closed

[2021-10-04 22:03] marekszotpl opened #241 "Unhandled Promise Rejection"
[code]

---

vemto 0.9.11
Electron 8.5.5
win32 10.0.19042
Locale: pl

[2021-10-05 03:35] deviousjack opened #242 "Error everytime Vemto starts after recent update and deleted license key info"
[code]

---

vemto 0.9.11
Electron 8.5.5
win32 10.0.19042
Locale: en-US

[2021-10-05 04:13] digidoers opened #243 "Error"
[code]

---

vemto 0.9.11
Electron 8.5.5
win32 10.0.19042
Locale: en-US

[2021-10-05 12:55] TiagoSilvaPereira commented on #241
@marekszotpl sorry, I just fixed it... no need to update Vemto, it was a problem on owr server

[2021-10-05 12:55] TiagoSilvaPereira commented on #242
@deviousjack sorry, I just fixed it... no need to update Vemto, it was a problem on our server

[2021-10-05 12:55] #242 closed

[2021-10-05 12:56] TiagoSilvaPereira commented on #243
@digidoers sorry, I just fixed it... no need to update Vemto, it was a problem on our server

[2021-10-05 12:56] #243 closed

[2021-10-05 17:04] deviousjack commented on #242
You're the best.  Thank you sir.

[2021-10-06 12:09] luttje opened #244 "Multiple Belongs To same table causes conflicting relation method"
Awesome project, loving it! This bug is minor and can be fixed manually quickly, though would be nice to have generated code work without errors like this.

**Describe the bug**
If I have a single model (e.g: Log) which belongs to another model twice (e.g: Player, one player is specified in actor_id, the other in subject_id) the resulting Player model will get 2 relationship methods with the same

[2021-10-06 12:42] TiagoSilvaPereira commented on #244
Hi @luttje thank you for your suggestion.

For now, what you can do is to change the names of the inverse relationships on the Schema Editor (when you create the belongsTo relationship, it generates an inverse relationship on the inverse model. Just changing the name of this inverse relationship will work too).

[2021-10-06 12:58] luttje commented on #244
That makes sense.

Perhaps a 'conflict indicator' (❗) on the ERD could direct users to perform that action if Vemto detects this problem.

Anyway thanks for the instruction.

[2021-10-06 13:11] TiagoSilvaPereira commented on #244
Good suggestion, I'll add something similar to that on future versions

[2021-10-09 02:10] eclipxe13 opened #245 "Trial dates changes after v1.0.0"
**To Reproduce**
Open v0.9.11 and run normally (before v1.0.0 was released)
Say that I had 3 days left for evaluation (plan to play with it on weekend).
Close it.

Get and run v1.0.0, it say that Trial Expired.
[code]

Run v0.9.11 and say 14 remaining days.
[code]

Try to run v0.9.11, it was autoremoved, no longer found where I downloaded it.

Run v1.0.0 and say "Trial: 7 remaining days"
[code]

*

[2021-10-10 00:21] ahpetrot opened #246 "Import ?"
I can't seem to find anything in the documentation on how import is supposed to work ?

I had to do system rebuild after a very bad crash and while I have my crud generated files I don't have the original vemto/storage.

Wondering if I can import the source..

[2021-10-10 16:35] TiagoSilvaPereira commented on #246
Hi @ahpetrot to import a project, you need first to export it. If you have the vemto/storage folder, just copy it to the new installation folder and it will work: https://vemto.app/docs/1.x/backup

[2021-10-10 16:35] #246 closed

[2021-10-11 11:18] spooksie opened #247 "Importing Project Doesn't work"
Mac OSX on the 7 day trial

Ive just installed and clicked 'Import Project' then went to my code folder and selected my pre-existing project.

https://www.dropbox.com/s/gli2mt6g28wpj7v/Screenshot%202021-10-11%20at%2013.16.15.png?dl=0

I cannot import my project as it won't let me.

[2021-10-11 13:06] #247 closed, assigned to nobody

[2021-10-11 13:08] #245 closed, assigned to nobody

[2021-10-11 17:28] AlanKurdish opened #248 "vemto doesnot support multi window"
when opening 2 windows of vemto second window asks for new active code..
it should support multi window...
Thanks.

[2021-10-14 12:03] jakubgg opened #249 "[Bug] .env file created by Vemto contains DOS '\r\n' newline sequences"
**Describe the bug**
The `.env` file created by Vemto (v. 1.0.0) contains DOS newline sequence between text blocks (`\r\n` or `0x0d 0x0a`) which causes error messages when using Laravel Sail (mainly repeated `: command not found` )

**To Reproduce**
1. Create new project with Vemto and generate it.
2. In terminal in a project directory type `dos2unix -ih ./.env`
The output should show
[code]
3. Al

[2021-10-15 13:21] TiagoSilvaPereira commented on #249
Hi @jakubgg thank you very much for reporting

[2021-10-15 13:51] TiagoSilvaPereira commented on #248
@AlanKurdish thank you for reporting

[2021-10-20 09:01] noge075 opened #250 "Too long foreign keys, should use aliases"
**Describe the bug**
Too long SQL foreign identifier name when you use long table names with Many-To-Many realtionship.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two tables with long name and set Many-to-Many relation
2. Generate migrations
3. Try to migrate
4. Error: Identifier name 'long_string' is too long

**Expected behavior**
Before the limit exceeded (64 chars), use an al

[2021-10-24 05:16] harshithva opened #251 "Not able to make payment from indian debit card"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2021-10-25 06:18] jouniikaheimo opened #252 "[Bug] .env file created by Vemto passwords without double quote"
.env file created by Vemto if passwords include some special characters e.g #!%& so password missing double quotes.  code generate not working therefore

[2021-10-25 07:00] ramakrishnamie opened #253 "Enum datatype issues"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.
PHP - Parse error, unexpected T_STRING, expecting ',' or ';'
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear a

[2021-10-26 19:21] #251 closed, assigned to nobody

[2021-10-31 18:53] gregvarghese opened #254 "Cannot set property 'postcss' of undefined"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
When generating code with a new project in 1.0.0.0, I get the errors:
Cannot set property 'postcss' of undefined
TypeError: Cannot set property 'postcss' of undefined at Pe.getFinalPackageFile (app://./js/generator.72eb147b.js:1:35290) at Pe.start (app://./js/generat

[2021-10-31 18:57] gregvarghese commented on #254
Update: I tested Breeze + Jetstream and it appears this error happens with all of the options.

[2021-11-01 14:25] TiagoSilvaPereira commented on #254
Hi @gregvarghese I tried to reproduce, but without success...

Could you please check if one of these links helps with this error?

https://github.com/laravel-mix/laravel-mix/issues/2527
https://github.com/webpack-contrib/postcss-loader/issues/65

[2021-11-02 17:47] harshithva commented on #251
Thank you

[2021-11-12 13:57] gregvarghese commented on #254
Hi @TiagoSilvaPereira ,

I ran npm run production and got the error:

npm ERR! missing script: production

so I checked package.json and it's empty.

This is a project I created with Vemto and haven't made any updates too. I created a new project to try and reproduce it and I'm getting this error:

<img width="3159" alt="Screen Shot 2021-11-12 at 8 54 30 AM" src="https://user-images.githubusercont

[2021-11-12 15:34] TiagoSilvaPereira commented on #254
Hi @gregvarghese this problem is happening because Vemto 1.0.0 has some problems with Laravel 7... I recommend always using Laravel 8.x when creating projects with this Vemto version... I'm fixing these issues and 1.0.1 will support Laravel 7.x again. If you want to use Laravel 7.x, please try Vemto 0.9.x

[2021-11-12 15:49] TiagoSilvaPereira commented on #253
Closing due to lack of details

[2021-11-12 15:49] #253 closed

[2021-11-19 01:25] ibuilder opened #256 "Integrate with supabase"
Any thoughts on added support for supabase? https://supabase.io/

[2021-11-19 13:09] TiagoSilvaPereira commented on #256
Hi @ibuilder this is the first time I hear about Supabase... it seems like an awesome platform, but with different technologies, so I think there is no easy way to integrate it with Vemto. Maybe someone could try creating a Vemto plugin, but I don't have any idea if that is possible.

Best regards,
Tiago

[2021-11-19 13:09] #256 closed

[2021-11-19 13:20] ibuilder commented on #256
I'll work on it!  Good idea.

[2021-11-27 06:10] Patrikgrinsvall opened #257 "Not possible to generate on windows (composer not found in path) + solution"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
Using windows 10 and composer 2.1.
On windows, composer executable isn't called `composer` but `composer.bat` or `composer.phar`.  This works from terminal since extension is excluded. But not when using absolute path to the executable (might also be quotation marks)

[2021-11-29 14:44] TiagoSilvaPereira commented on #257
Hi @Patrikgrinsvall could you please send a screenshot of your Vemto Settings screen? I tried it here with the same settings and it worked well:

![image](https://user-images.githubusercontent.com/11933789/143888355-ee93ad13-c0fb-4f14-84ec-8ef36d2ffe26.png)

[2021-12-11 19:56] TiagoSilvaPereira commented on #211
Fixed on 1.0.1

[2021-12-11 19:56] #211 closed

[2021-12-11 19:56] TiagoSilvaPereira commented on #220
Fixed on 1.0.1

[2021-12-11 19:56] #220 closed

[2021-12-11 19:57] TiagoSilvaPereira commented on #222
Fixed on 1.0.1

[2021-12-11 19:57] #222 closed

[2021-12-11 19:57] TiagoSilvaPereira commented on #223
Fixed on 1.0.1

[2021-12-11 19:57] #223 closed

[2021-12-11 19:57] TiagoSilvaPereira commented on #237
Fixed on 1.0.1

[2021-12-11 19:57] #237 closed

[2021-12-11 19:57] TiagoSilvaPereira commented on #252
Fixed on 1.0.1

[2021-12-11 19:57] #252 closed

[2021-12-11 19:58] TiagoSilvaPereira commented on #249
Fixed on 1.0.1

[2021-12-11 19:58] #249 closed

[2021-12-11 19:59] TiagoSilvaPereira commented on #257
Closing due to lack of response... please feel free to open it again if necessary

[2021-12-11 19:59] #257 closed

[2021-12-11 19:59] TiagoSilvaPereira commented on #254
Fixed on 1.0.1

[2021-12-11 19:59] #254 closed

[2021-12-12 00:51] Patrikgrinsvall commented on #257
Sorry for late response. It seems to be related to me having a very customized terminal setup.

The workaround for that scenario is to  not generating anything related to composer, npm etc. and also to not check option, "check dependencies"

[2021-12-16 14:11] blackfyre opened #262 "htmlspecialchars() expects parameter 1 to be string"
**Describe the bug**
Vemto 1.0.1, Fresh project with default options: Tailwind, Jetstream, and the CRUD apps fail to load,

**Observations**
It seems that the dependencies aren't properly version locked as the recent release of Tailwind 3 seems to cause some problems.

**Stack Trace**
[code]

**Desktop (please complete the following information):**
 - OS: Window 11
 - Browser: Not relevant
 - Vemt

[2021-12-16 16:56] TiagoSilvaPereira commented on #262
Fixed on Vemto 1.0.2

[2021-12-16 16:56] #262 closed

[2021-12-17 15:35] Loukili-Rachid opened #263 "Vemto v 1.0.2 : nullable button not working on this version"
![2021-12-17_163317](https://user-images.githubusercontent.com/11983029/146569042-6ea57974-9859-459d-92d1-81e20a9e779f.png)

[2021-12-18 14:50] TiagoSilvaPereira commented on #263
@Loukili-Rachid thank you for reporting.

I tried to reproduce it, but without success.

Could you please share more details like your OS, and make a small screen capture of your whole screen showing the problem?

[2021-12-21 14:10] TiagoSilvaPereira commented on #248
@AlanKurdish I'm closing, for now, as this behavior happens due to some Electron.js limitations. I'll add it to my backlog and return to it once I find a solution

[2021-12-21 14:10] #248 closed

[2021-12-21 15:02] TiagoSilvaPereira commented on #263
@Loukili-Rachid fixed on 1.0.3

[2021-12-21 15:02] #263 closed

[2021-12-21 15:47] jsthind opened #264 "Spatie\Permission\Exceptions\PermissionDoesNotExist"
Getting a "PermissionDoesNotExist" error when I log in to Dashboard. Fresh installation with a single CRUD.

![error](https://user-images.githubusercontent.com/456605/146958298-2bbdd0ef-4ac3-4ebc-979b-9794d82c3681.png)

The project file is at https://stagingbox.dev/ecom.vemto

[2021-12-21 16:50] TiagoSilvaPereira commented on #264
Hi @jsthind did you run the seeders?

[2021-12-21 17:12] jsthind commented on #264
No, I didn't generate or run the seeders.

Is it possible to skip seeders for some models? Or do I need to go in and manually edit files?

[2021-12-22 12:39] TiagoSilvaPereira commented on #264
Hi @jsthind so probably that is the problem, as the permissions are created by a seeder called PermissionsSeeder. It is not possible to disable a specific seeder from Vemto, you would need to manually edit the code to do it, rr you can just run the specific seeder you want from your terminal

[2021-12-22 12:39] #264 closed

[2022-01-07 19:13] vicenterusso opened #265 "Undefined column "created_at" when trying to use latest() on a table without timestamps"
With a simple table ([schema](https://i.imgur.com/IcwDlgL.png)), I can't access the index page (my case `/bancos`). I got the following error

[code]

Below is the generated code. If I change the `latest()` function with `latest('id')` the problem is gone

[code]

[2022-01-07 19:38] vicenterusso commented on #265
Tweaked a little bit and solved changing the `latest()` line with:

[code]

Just don't know if there's a better way

[2022-01-07 20:00] FilipePereira997 opened #266 "s"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2022-01-08 19:04] #266 closed

[2022-01-10 12:43] TiagoSilvaPereira commented on #265
@vicenterusso you did the correct fix... I'll bring something similar on the next version

[2022-01-21 17:28] TiagoSilvaPereira commented on #265
Fixed on 1.0.5

[2022-01-21 17:28] #265 closed

[2022-01-25 18:00] zerocooldeveloper opened #267 "Class "App\Filament\Resources\Number" not found"
![image](https://user-images.githubusercontent.com/17159290/151033058-3d9469c6-6b98-47aa-b048-b9e2f3a6ecff.png)

[2022-01-25 20:06] TiagoSilvaPereira commented on #267
Hi @zerocooldeveloper , sorry for this problem... please change Number to TextInput and add the ->number() modifier to the field. We'll update the Filament plugin soon to fix this problem

[2022-01-26 13:52] TiagoSilvaPereira opened #269 "Crud editor should not reset fields order when schema editor changed !"
### Discussed in https://github.com/TiagoSilvaPereira/vemto-issues/discussions/268

<div type='discussions-op-text'>

<sup>Originally posted by **Loukili-Rachid** January 26, 2022</sup>
When i order fields and resize them on crud editor then i need to add / remove or rename same field on schema editor the crud reset orders of all fields,
i suggest to save last status of old fields ext..</div>

[2022-01-26 14:02] zerocooldeveloper commented on #267
Thanks

[2022-01-26 14:02] #267 closed

[2022-01-27 00:28] shofeather opened #271 "Edit Password User Cant Working"
halo, i have problem, when edit user then notif succesfully.
but, I try to login. the password still with old password.
btw I already update vemto in version 1.0.5

please help, thanks

![1](https://user-images.githubusercontent.com/76820197/151269381-7d0dffb0-eda9-4fe5-9c3a-95479425404e.png)

![2](https://user-images.githubusercontent.com/76820197/151269403-22c64939-93ad-43a4-a5fc-296fd5b4b56b.pn

[2022-01-27 13:57] TiagoSilvaPereira commented on #271
Hi @shofeather I'll fix this bug soon... for now, you can just add the **string** update validation on the password input and it will work well:

![image](https://user-images.githubusercontent.com/11933789/151372940-47b88459-e4c7-49bc-a47c-1032c117fe83.png)

[2022-01-27 19:57] TiagoSilvaPereira commented on #271
@shofeather please use **nullable** instead of **string**

[2022-02-04 09:21] Loukili-Rachid opened #272 ""The GET method is not supported for this route. Supported methods: POST." Is face this error in [ livewire master details ]"
Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException
The GET method is not supported for this route. Supported methods: POST.
http://localhost:8000/livewire/message/channel-category-channels-detail?page=2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'master details (livewire)'
2.  edit some record then save
3.  next try to go next page 2
4. See error above : The GET

[2022-02-04 11:16] Loukili-Rachid commented on #272
after i few searcher i found that we should use a trait
fix it with adding "use WithPagination;"  in livewire class component

like this example

class MusiqueCategorySingersDetail extends Component
{
use WithPagination;

[2022-02-04 11:27] Loukili-Rachid commented on #272
@TiagoSilvaPereira Hi bro, could you please add this trait to default Vemto HasManyDetailLivewireComponent ?

use WithPagination;

[2022-02-04 12:45] TiagoSilvaPereira commented on #272
Hi @Loukili-Rachid thank you for reporting... I'll check it ASAP

[2022-02-11 02:33] silicahd opened #273 "Plugin Issues"
I think this might be a bug. I am using the Filament plugin. I created some cruds and generated the dashboard. All is well. But if i add more tables and cruds it will generate with no issues. However when you go to see the dashboard. Only the default dashboard has the new cruds but the filament does not. If i uninstalled filament and reinstalled and generate again, all the cruds now show up on the

[2022-02-11 12:28] TiagoSilvaPereira commented on #273
Hi @silicahd it is not a bug, you just need to check the created CRUD in the plugin settings to generate them. Please check the plugin Readme for more details.

[2022-02-11 12:28] #273 closed

[2022-02-23 15:58] TiagoSilvaPereira commented on #244
@luttje added this feature to Vemto 1.1.0

[2022-02-23 15:58] #244 closed

[2022-02-23 15:58] #250 closed

[2022-02-23 15:58] TiagoSilvaPereira commented on #271
@shofeather fixed on Vemto 1.1.0

[2022-02-23 15:58] #271 closed

[2022-02-23 15:58] TiagoSilvaPereira commented on #272
@Loukili-Rachid fixed on Vemto 1.1.0

[2022-02-23 15:58] #272 closed

[2022-03-01 17:39] manfredekblad opened #276 "Picture input field doesn't work with Admin LTE on a master-detail form (on the detail side of things)"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a master-detail form, the detail form needs to include a picture field
2. Enable the Admin LTE plugin
3. Generate the code
4. Open the site and try to add data using the master-detail form, on page load this error shows up in the console:

`Uncaught ReferenceError: imageViewer is not defined
    at eval (eval at d.el (alpine.js:144:14), <

[2022-03-02 12:14] TiagoSilvaPereira commented on #276
Hi @manfredekblad thank you for reporting, I'll check it asap

[2022-03-03 17:01] manfredekblad opened #277 "Validation rule for a Picture field changes from "image" to "string" after changing nullable/not nullable"
**Describe the bug**
The validation rule for a Picture field changes from "image" to "string" after changing the settings on the database, changing from nullable to not nullable.  Changing a field from "nullable" to "not nullable" in the db shouldn't change the expected input type from "image" to "string" in the validation rules.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a field

[2022-03-03 17:29] manfredekblad opened #278 "Can't generate the code using TailwindCSS/Jetstream: error messages and code generation aborted"
**Describe the bug**
Can't generate the code using TailwindCSS/Jetstream, but Bootstrap/Laravel UI works fine. Error messages during the Generate-step from composer during the code generation when its set to TailwindCSS/Jetstream

**To Reproduce**
Steps to reproduce the behavior:
1. In the Settings->Views, set it to use TailwindCSS/Jetstream
2. Generate code
3. Error messages appear and the code g

[2022-03-03 17:36] manfredekblad opened #279 "Validation rule is set to "string" as default on File input field (should be "file")"
**Describe the bug**
Validation rule is set to "string" as default on File field (should be "file"). On Picture fields, its correctly set as "image", not string. But on File fields, its set to "string" as default which the user need to change manually for the CRUD to work. If the user doesn't change it manually from "string" to "file" (or simply remove "string"), then the CRUD-user will see a vali

[2022-03-03 19:23] TiagoSilvaPereira commented on #278
@manfredekblad it is not a bug... when you change a project from Bootstrap to Jetstream, there are a lot of changes to the project structure. So the recommended is to delete the previously generated code and generate it again if you are changing the project UI template.

[2022-03-03 19:23] #278 closed

[2022-03-03 19:23] TiagoSilvaPereira commented on #277
@manfredekblad thank you for reporting

[2022-03-03 19:23] TiagoSilvaPereira commented on #279
@manfredekblad thank you for reporting

[2022-03-04 02:31] fredyns commented on #244
instead of using number as suffix, i suggest using related column as suffix.
eg: logsAsActor() and logsAsSubject()
taht is self explained

[2022-03-07 11:43] manfredekblad opened #280 "Login & Registration forms are not visible after generating code and running the app"
**Describe the bug**
The login and registration forms are missing after generating the code successfully and running the application.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate the code
2. Run the application
3. View the application in the browser
4. Click to Login form
5. No login form is visible
6. Click to Register form
7. No register form is visible

**Expected behavior**
L

[2022-03-07 12:17] TiagoSilvaPereira commented on #280
Hi @manfredekblad could you please try deleting the generated code and generating it again?

[2022-03-07 12:21] TiagoSilvaPereira commented on #280
Vemto doesn't touch the login/registration files, so it probably was due to some issue with laravel/ui

[2022-03-07 12:21] #280 closed

[2022-03-07 12:44] manfredekblad opened #281 "Form fields"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2022-03-07 12:51] manfredekblad opened #282 "Form field settings (On Index) are changed when a field in the table structure changes nullable/not nullable"
**Describe the bug**
The form field settings change their value when the same field changes the nullable/not nullable state. This means, making changes to the database affects the way the CRUD is rendered even for unrelated settings. So this means the same work has do be done multiple times.

Changing the nullable/not nullable setting on a db field shouldn't impact the settings on the CRUD for OnC

[2022-03-07 12:51] #281 closed

[2022-03-07 12:51] manfredekblad commented on #281
misclick

[2022-03-11 14:41] TiagoSilvaPereira opened #283 "Problem with Filament plugin"
Error when calling **getCorrectInputFromFieldAndCrud()**:

![1](https://user-images.githubusercontent.com/11933789/157888827-5f3debd8-2080-4e1b-8def-236ef2bff1fd.png)

[2022-03-11 14:41] TiagoSilvaPereira commented on #283
tagging @nicollassilva

[2022-03-11 23:59] gerzahim opened #284 "Error creating new project and adding URL from empty Repository"
**Describe the bug**
If you create a new project and add the URL from an empty Repository
and that Repository was just created and empty or maybe only contains the README file.

Vemto will generate the files project and will try `composer install` but the composer.json file does not exist
same for package.json

At the end a Project will be created without composer libraries.

Will be nice to add a

[2022-03-14 19:36] henriquek3 commented on #276
Hello, I went through the same problem and fixed it by adjusting the alpinejs version, the version used with the AdminLTE theme was version 2 so I used version 3 which is compiled without the theme plugin.

![Captura de Tela-20220314-153342-807x156](https://user-images.githubusercontent.com/17914565/158247742-6aa6dc7c-bf3c-4dda-a1ef-0a25fd1ff4c2.png)

[2022-03-14 21:17] mukuldevd2 opened #285 "issue not creating .env file and jetstream also not installed by vemto application"
Attention: Please use the Discussions page for feature requests or suggestions instead of opening a new issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sc

[2022-03-16 12:35] TiagoSilvaPereira commented on #276
Hi @henriquek3 thank you, we'll fix the plugin soon

[2022-03-16 12:40] #285 closed

[2022-03-16 12:42] mukuldevd2 commented on #285
no I already do these things but .env file is look blank

[2022-03-16 12:45] TiagoSilvaPereira commented on #285
@mukuldevd2 could you please try with a new project?

[2022-03-17 04:42] mukuldevd2 commented on #285
ok I will try and revert you

[2022-03-17 20:16] abkrim opened #286 "Can't resolve 'popper.js' and bootstrap.js"
When re-run **Generate Code** get this error

[code]

## Setup of app

Plugins: Fillament
Views
- TailwidnCSS
- Laravel UI (Breeze broken more complicated)
- Theme default
- Hotwire disabled

**To Reproduce**
Steps to reproduce the behavior:
1. Click Generate code
2. Cheks all except Force ovewrite files
3. Generate check depenedencies. npm install, npm run dev

**Expected behavior**
I like full d

[2022-03-20 04:25] silicahd commented on #283
I wanted to add more info on this. The project was created using Vemto 1.0.5 and Filament 1.0.1.
I updated to 1.1.2 and Filament 1.0.2 and this error comes up as a reuslt the project looks empty.
![image](https://user-images.githubusercontent.com/7761519/159148084-72decefc-5d84-4bc3-9dd7-24d176bc655b.png)

However I can generate the project if I diable Filament.

[2022-03-20 18:24] silicahd commented on #283
I had to delelte all the CRUD views and create new one.

[2022-03-20 19:05] silicahd commented on #283
I created a new project and I am having the same error. This is a bug in Vemto 1.1.2

You cant create cruds with Foreign Key

![image](https://user-images.githubusercontent.com/7761519/159178367-5222c9f1-3976-47e9-9810-188ccd375cf5.png)
![image](https://user-images.githubusercontent.com/7761519/159178406-bbd1298d-e77f-4719-bd3f-59e354571a0d.png)

[2022-03-20 19:50] AxDSan opened #287 "Column not found (Filament Plugin - Resource)"
**Describe the bug**
Issue happens on the code generated by Vemto v1.1.2, when I create a project with the filament plugin (v1.0.2.) I get this error when I try to access a resource page...

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Project
2. Use the Filament Plugin
3. Create 4 or 5 tables
4. Add fields
5. Generate and Run project
6. Page gives me error...

**Expected beha

[2022-03-21 14:55] TiagoSilvaPereira commented on #287
@AxDSan thank you for reporting... tagging @nicollassilva

[2022-03-21 15:30] TiagoSilvaPereira commented on #284
Hi @gerzahim I'm closing for now, as it is not really a bug... as you can see in the feature description below, Vemto will use a Laravel repository to start the application, so you always need to use a repository containing a Laravel application base.

![image](https://user-images.githubusercontent.com/11933789/159294879-77af333d-297d-44d0-baf8-0216b91b3c02.png)

[2022-03-21 15:30] #284 closed

[2022-03-21 15:51] TiagoSilvaPereira commented on #286
@abkrim could you check if these dependencies are in the package.json?

[2022-03-21 16:31] #286 closed

[2022-03-22 14:10] TiagoSilvaPereira opened #288 "Problem with model with lowecase name: syntax error, unexpected 'use'"
This bug happens when the _php parser_ tries to add a trait to a model with a lowercase name. For example, if the model is called **moviecomment** instead of **MovieComment**, the error will be thrown.

![image](https://user-images.githubusercontent.com/11933789/159501067-43501bf5-9290-4616-b518-f993beb56334.png)

[2022-03-24 17:06] manfredekblad opened #289 "Field is displayed on the create/edit form even though settings are to *not* display the field."
**Describe the bug**
Field is displayed on the create/edit form (on a detail-form) even though settings are to *not* display the field.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a master-detail form
2. Edit the detail form and set some fields to **not** display on create/edit
3. Open the CRUD and create/edit the detail data
4. The field that was set to **not** display on create/

[2022-03-31 23:22] d4rkr3pt0r opened #290 "unhandled promise rejection. timeout exceeded"
[code]

---

vemto 1.1.2
Electron 8.5.5
win32 10.0.19044
Locale: en-US